[2016-09-14 09:14] at-locbm opened #311 "How increase MEM USAGE for workspace, php fpm or nginx, mysql?"
How increase MEM USAGE to 4GB or more to workspace, php fpm or nginx? because i want to runing migration data with many record.
Or which check `cgroup_enable=memory swapaccount=1` already enable to swap memory?
My containers stats:
[code]
Thank advance!

[2016-09-14 09:21] cool14521 commented on #310
https://docs.docker.com/compose/install/

[2016-09-14 09:21] #310 closed

[2016-09-14 12:24] LarryEitel commented on #307
Found this in the docs:

`opcache.validate_timestamps` `boolean`

If enabled, OPcache will check for updated scripts every opcache.revalidate_freq seconds. **When this directive is disabled, you must reset OPcache manually via opcache_reset(), opcache_invalidate() or by restarting the Web server for changes to the filesystem to take effect.**

`opcache.revalidate_freq` `integer`

How often to chec

[2016-09-14 20:30] francislavoie commented on #311
I'm not sure what you're asking. `MEM USAGE` is the current RAM usage of that container, and `LIMIT` is the maximum allowed for the container (based on your hardware).

[2016-09-15 10:47] junereycasuga commented on #243
I recently just encountered this problem

[code]

[2016-09-15 13:35] #227 closed

[2016-09-15 14:16] #305 closed

[2016-09-15 14:17] Mahmoudz commented on #306
Me neither! let's keep this open until someone using those tools finds it and do it..

[2016-09-15 14:48] #307 closed

[2016-09-15 14:56] Mahmoudz commented on #307
@proctar can you verify that it's working now. You can pull the master branch to get the changes. See the changes here #5640bd963d5fde4c8761e7b1c62d56f2dea63026

[2016-09-15 15:01] #214 closed

[2016-09-15 15:01] #99 closed

[2016-09-15 15:03] #149 closed

[2016-09-15 15:04] #152 closed

[2016-09-15 15:05] Mahmoudz commented on #164
I don't think anyone here is familiar with that! I hope you already found answers. Best of luck.

[2016-09-15 15:05] #164 closed

[2016-09-15 15:05] #175 closed

[2016-09-15 15:07] Mahmoudz commented on #182
Hi @davestewart, I never tried that thus I don't know. I would suggest asking this on the Docker repository. Best of luck.

[2016-09-15 15:07] #182 closed

[2016-09-15 15:07] #213 closed

[2016-09-15 15:10] Mahmoudz commented on #223
LaraDock is just Docker ready for Laravel with docker-compose file (all Docker technologies nothing invented by LaraDock). So the question should be "Is Using Docker Advisable for Production" and the answer of course YES, but that's not so simple yet! Best of luck

[2016-09-15 15:10] #223 closed

[2016-09-15 15:10] #293 closed

[2016-09-15 15:11] Mahmoudz commented on #304
@armandojose009 could you be more specific? what is the problem or the question. Thanks.

[2016-09-15 22:27] LarryEitel commented on #102
This issue has been resolved with recent version.

[2016-09-15 22:27] #102 closed

[2016-09-15 23:01] Lednerb commented on #216
@stefanheimann did you try to rebuild the container and do you have the latest version of laradock?

I've had the same error some time ago but with the latest version of laradock and docker on Ubuntu it work's without any problems.

[2016-09-15 23:08] Lednerb commented on #207
Must have something to do with the permissions on the host.

Just checked it.
With the latest version of laradock it works without problems.

[2016-09-16 00:46] johndiego opened #313 "How i can run laradocker on ubuntu?"
Hi guys , fix example run laradocker ubuntu.
I try all steaps but don't work!

Att.

[2016-09-16 01:02] #313 closed

[2016-09-16 01:15] at-locbm commented on #311
@francislavoie i meant i'm trying migration data with 1000 records on laradock_mysql_1 however mysql has gone away after i run migration to create. Then i tried to stats my containers:
[code]
i saw MEM USAGE not increase while migration data. I think we are easy increase memory for RAM of machine on Windows or Mac however i dont know how to increase memory on Linux OR the machine already auto swap

[2016-09-16 01:22] francislavoie commented on #311
Your question isn't clear. That memory usage looks normal for MySQL. I'm not sure why you want to increase memory usage, that doesn't make much sense. MySQL just uses what it needs to use. This doesn't seem like a docker related question and more a MySQL question, so maybe you should try there?

[2016-09-16 02:39] johndiego opened #314 "Install nodejs in workspace container."
My docker-compose.yml
[code]
My console
 ---> 0efd35f6716e
Step 11 : RUN if [ ${INSTALL_WORKSPACE_SSH} = true ]; then     rm -f /etc/service/sshd/down &&     cat /tmp/id_rsa.pub >> /root/.ssh/authorized_keys         && cat /tmp/id_rsa.pub >> /root/.ssh/id_rsa.pub         && cat /tmp/id_rsa >> /root/.ssh/id_rsa         && rm -f /tmp/id_rsa*         && chmod 644 /root/.ssh/authorized_keys /root/.ssh

[2016-09-16 02:42] at-locbm commented on #311
@francislavoie
hm...i want increase memory usage to save many records (like more than 1000 records). When i insert record to table, i always get message "Mysql has gone away" or wait more times to insert. I saw MEM USAGE always show less than 300Mb while i'm inserting record. Could you help me resolve or recommend the way to fix this issue?

[2016-09-16 03:08] appleboy commented on #314
@johndiego Please switch to `laradoc` user.

[code]

[2016-09-16 03:12] johndiego commented on #314
Thanks @appleboy  =)

[2016-09-16 03:18] francislavoie commented on #311
I've never seen a "Mysql has gone away" message in my life. I really don't know what you're talking about. Is this really a performance issue? This doesn't really sound problematic. You're not explaining it very well.

[2016-09-16 03:22] francislavoie commented on #311
Alright, I think this is what you need: http://stackoverflow.com/questions/35036547/mysql-server-has-gone-away-error-during-installing-migration-laravel

[2016-09-16 03:45] #314 closed

[2016-09-16 09:36] sherkhanz commented on #107
Hi,
I am facing the same issue. I am using docker in ubuntu on vmware workstation. Everything is working fine and even a ping to localhost or 127.0.0.1 returns the nginx. But when I try to access it from my host OS or when I use the ports like 8080 then I get the connection refused response. Has anyone figured our any solution to it?

Thanks

[2016-09-16 13:57] #207 closed

[2016-09-16 16:43] sc0Vu commented on #107
Hi ,
I met this problem before(return nginx and refuse connection), I found my problem was my directory.
Due to volumn_source mount .. to /var/www/laravel and nginx use /var/www/laravel/public.
Maybe you can check your directory(laravel project need to create in ..).

[2016-09-16 17:37] sherkhanz commented on #107
Thanks @sc0Vu

I tried that but unfortunately the problem still persists. Laradock got installed properly. It's first time I am dealing with virtual networking. So far, I have done the following things but all are fruitless:

1. The vmware has all the three virtual network types sat. Bridge, Host-only, NAT and the later two are connected to my host OS which is through Ethernet. (Created by Vmware

[2016-09-16 18:54] mjcriswell commented on #241
I had the same problem in Powershell. I was able to enter a container `docker exec -it [container-id] bash`.

[2016-09-17 00:13] david-perez commented on #282
This was fixed by 3a5100097ab0eb9144c385a1e516ac9a54077bdf

[2016-09-17 13:36] g0ld3lux opened #316 "Feature Request : Add CertBot (SSL AutoRenewal ) and ngx_pagespeed in Nginx"
I hope we can be able to auto renew SSL certificate with Cerbot and Optimize GOOGLE PAGESPEED with ngx_pagespeed module for nginx...

This way we can have our focus more on code and not on optimizing the app...

[2016-09-18 07:41] Tang1024 opened #317 "Host '172.18.0.1' is not allowed to connect to this MySQL server"
I can't connect to the mysql service.

[2016-09-18 07:55] partenit opened #318 "timezone in workspace"
My local time GMT+3, but in workspace container is UTC.

Maybe this can be solution?
Mount volume in workspace to sinc date with host:
        volumes:
            - /etc/localtime:/etc/localtime

[2016-09-18 08:15] ChitaGideon opened #319 "Bind for 0.0.0.0:443 failed: port is already allocated"
run `docker-compose up -d nginx`
I got this problem .

[code]

according to #251 I don`t use skype.

[code]

[2016-09-18 16:30] Tang1024 commented on #317
I didn't change anything of mysql. I just changed one thing '- INSTALL_MEMCACHED=true'. After I run the command "docker-compose up -d apache2 mysql memcached",there was no user 'homestead' in the user table.How can I make it works?

[2016-09-19 02:57] qq447665722 commented on #277
You have found the answer yet?

[2016-09-19 11:39] fndmiranda commented on #178
I also can not connect to the database, it returns the message Connection refused, someone could figure out how to solve?

[2016-09-19 12:36] #282 closed

[2016-09-19 12:37] Mahmoudz commented on #318
@partenit seems nice solution. would you like to submit a PR with that?

[2016-09-19 16:43] Mahmoudz commented on #241
closed by #315

[2016-09-19 16:43] #241 closed

[2016-09-19 16:48] sc0Vu commented on #319
Hi
I met this problem before.
Finally, I found there is another docker container use port 443.
Maybe there is other application use port 443.

[2016-09-20 01:34] appleboy commented on #318
@partenit @Mahmoudz

I think the better way was to change the `Application Timezone` setting in `config/app.php` not to overwrite `/etc/localtime` file on workspace container.

[2016-09-20 04:45] ssilvan commented on #274
Same error as well; has anyone figured out how to fix this?

[2016-09-20 04:46] ssilvan commented on #277
Same issue here; any fix?

[2016-09-20 06:27] ChitaGideon commented on #319
Hi @sc0Vu ,thanks for your help.
`docker ps ` show there is no other container running.
I try `lsof -i TCP:443`

[code]

Then I don`t figure out how to find the app that use 443.

[2016-09-20 13:32] Mahmoudz commented on #318
@partenit could you confirm that @appleboy solution works fine with you!

[2016-09-20 13:34] devfelipereis opened #320 "Unknown directive "image_filter_buffer""
I use image_filter in my server block and I can't start nginx container because of this. How can I enable image_filter? As far as I know, image_filter is a module that comes with nginx by default.

Any help? Thank you!

EDIT

Fixed installing nginx using apt-get in a ubuntu 16.04 image.

[code]

Ok, it works. But I still want to know why using default nginx of laradock doesn't work.

[2016-09-20 14:36] devfelipereis opened #321 "Token missmatch exception [Session issue]"
I just created the issue(#320) about a nginx module. Now I have disabled the feature that uses that module to test laradock in my app.

I can access my app but when I try to login or try to use any form, I got a "Token missmatch exception".
In production my app is working fine and in my last local env it was too.

All that I found in forums, etc, don't work. This is happening with me in all contai

[2016-09-20 15:05] partenit commented on #318
@appleboy thank you, my idea not about application timezone settings - i'm already use them.
for example, i may run cron tasks in workspace container and i want correct time settings for this.

[2016-09-20 15:06] partenit commented on #318
i try this tomorow, thank you!

[2016-09-20 15:26] partenit opened #322 "Question about backups"
I have a question about backups.

Year ago I start to use one solid custom LAMP image. It was wrong way in point of docker view.
Today we have laradock and I already use it in production with fun - big thanks to creators. I think LaraDock - the best way for docker+php simbiosis.

But in LAMP image no problem with backup setup, for example for mysql data dump.

In laradock we have no access to "mys

[2016-09-20 20:18] dennisc1 opened #323 "./xdebugPhpFpm start/stop"
I'm not able in getting the ./xdebugPhpFpm start/stop script to work on my windows machine. If I'm correct it's a bash script, so I cannot execute it trough a regular windows command. With windows 10 there is an option however to use Bash on Ubuntu on Windows. Trough this bash console I can execute the script, however the script is not able to execute docker-compose because it is a windows command

[2016-09-20 20:25] lukasoppermann opened #324 "Change application directory via script"
Hey,

so I deploy my app via capistrano for now, this means I get a new folder, that is symlinked to current for every deploy.

So I would need to link the volume that laradock uses to my current folder. However I do not have laradock within this folder. Is this setup possible? And if so, how?

[2016-09-20 20:54] LarryEitel commented on #323
Noticed that this question was asked and answered [here](https://github.com/LarryEitel/laravel-laradock-phpstorm/issues/6).

[2016-09-21 03:19] appleboy commented on #318
for example, i may run cron tasks in workspace container and i want correct time settings for this.

If you want to run cron tasks in workspace container. I think you can edit docker-compose config by yourself not add  `/etc/localtime:/etc/localtime` setting in `laradock` project.

[2016-09-21 15:08] #323 closed

[2016-09-21 18:15] marttosc opened #325 "PHP Startup: Invalid library"
I'm using PHP 5.6 and I get the following error from php-fpm log:

`NOTICE: PHP message: PHP Warning:  PHP Startup: Invalid library (appears to be a Zend Extension, try loading using zend_extension=opcache.so from php.ini) in Unknown on line 0`

I tried to set all the arguments to true and rebuild the image, but the error continues.

How can I fix this?

[2016-09-22 00:04] Stubbs commented on #319
I have this issue too, but port 22, not 443.

@ChitaGideon Looking at your output form lsof, it looks like you have another docker process running, the `com.docker` command, not necaserily another container, but something docker related.

To find out what, try this: `ps axu | grep 422` (where 422 is the number in the PID column).

[2016-09-22 10:08] Stubbs commented on #319
In my case it was because I'd enabled SSH on the host.

[2016-09-22 12:41] zhiyong80 commented on #93
I too just experienced the problem that OooK had. After a system reboot, mariadb failed to start, and I got the error message like this:
Fatal error: mysql.user table is damaged or in unsupported 3.20 format.
In my case, the problem was caused by a mysqldump --all-databases from mysql 5.7 and then imported into mariadb 10.1. As stated, there is some difference in mysql.user which caused the proble

[2016-09-22 12:54] vivekb-connvrtx opened #326 "php exec fails for many commands."
We are using laradock and I am currently having issues with php exec function which is limiting the functionality as the command needs to be executed from webpage itself. While running the same code from PHP Cli script the commands gets executed but not from web page.

I am using some 3rd party library that uses popen for executing a utility command.

Kindly help on this.

[2016-09-22 13:10] cool14521 commented on #274
+1

[2016-09-22 13:10] cool14521 commented on #277
+1

[2016-09-22 20:45] digitalit opened #327 "Cant connect to server"
# IMPORTANT: Replace with your Docker Host IP (will be appended to /etc/hosts)

What exactly does that mean?

I get cant connect to server.

if i use 127.0.0.1:8080 i get phpmyadmin and even 127.0.0.1 gets me to phpmyadmin, why cant i get the laravel on 127.0.0.1 ?

[2016-09-22 21:07] LarryEitel commented on #327
You want the IP of your Docker Container.

[2016-09-22 21:10] digitalit commented on #327
which one? i ran
`/sbin/ip route|awk '/default/ { print $3 }' `
inside nginx and got 172.18.0.1 and typed "dockerhost:172.18.0.1" in both workspave and php-fpm container.

Still didn't work

[2016-09-23 00:44] LarryEitel commented on #327
Are you trying to view laravel running in your browser? Dockerhost is only needed for xdebug would be running in workspace to 'talk' to PHPStorm on port 9000.

[2016-09-23 04:12] ssilvan commented on #277
It is working now for me. What I did was to execute:
git clone https://github.com/LaraDock/laradock.git

IN THE LARAVEL APP DIRECTORY. It is very important to have a laravel application ready before cloning the repository by executing first:
composer create-project laravel/laravel your_application_name

After the application has been created go to the "your_application_name" directory and clone th

[2016-09-23 08:32] digitalit commented on #327
Ok, and yes im just trying to see Laravel in my browser.

no problem with phpmyadmin on port 8080 but cant connect to server on port 80

[2016-09-23 15:29] LarryEitel commented on #327
Do you see php-fpm running? If so, you should be able to browse to the IP of the Docker container and see Laravel. If not, what specifically is the error message?

[2016-09-23 18:46] Mahmoudz commented on #326
@vivekb-connvrtx that's normal because PHP-CLI is different than PHP-FPM (Web) and since each one is on its own container that might case code running on one but not the other. Just make sure all the changes (extensions, configurations, ..) you did to the PHP-CLI are also on the PHP-FPM container. Best

[2016-09-23 18:48] Mahmoudz commented on #274
I think this error is the same as this https://github.com/LaraDock/laradock/issues/277

[2016-09-24 06:51] lukasoppermann commented on #324
Hey @Mahmoudz is this possible yet?

[2016-09-24 22:50] tblancog commented on #277
It's not working for me, I did as you said from an ubuntu and docker fresh installation, it just shows this error:
`$ docker-compose up -d apache2 mysql

ERROR: In file './docker-compose.yml' service 'version' doesn't have any configuration options. All top level keys in your docker-compose.yml must map to a dictionary of configuration options.
`

[2016-09-25 13:14] iannazzi opened #329 "Rebuilding Mysql & removing data saved to volumes_data"
Hi Everyone! I am building a custom Mysql database startup script... It will take me several builds to get the starting point correct.

Creating the mysql container is no problem. However, when modifying the startup script my data does not change. I seem stuck with the original data.

I tried the following without sucess....
`docker-compose down`
`docker-compose build --no-cache mysql`

I then wen

[2016-09-25 14:04] appleboy commented on #329
Try the following steps.

[code]

[2016-09-25 14:21] iannazzi commented on #329
I found that removing the entire data folder, removing the containers, modifying the sql script, then rebuilding worked for me. To summarize, to rebuild with fresh data:
`docker-compose down`
Delete ./data
Modify sql
`docker-compose up -d nginx mysql`

[2016-09-25 14:21] #329 closed

[2016-09-25 15:10] iannazzi commented on #178
A bit of confusion about connecting..... I run many projects with docker so in past versions of docker I would specify unique mysql port per project: like 3309.... In fact I don't think I can bring up laradock mysql container without a unique port.

`    mysql:
        build: ./mysql
        volumes:
            - ./mysql/startup:/docker-entrypoint-initdb.d
        volumes_from:
            - volu

[2016-09-26 04:13] vivekb-connvrtx commented on #326
thanks for the reply mahmoud. I figured it out though and the thing
seems to run fine. You did a great job though.

On Saturday 24 September 2016 12:16 AM, Mahmoud Zalt wrote:

--

Best Regards,

*Vivek - Programmer Analyst*

[2016-09-26 06:46] Stubbs opened #330 "Unable to add via composer."
I have an existing project that I'm trying to add Spark to using the composer method in the documentation.

I've added Spark to my composer.json like this:

[code]

and when I run update I get the following error:

[code]

It asked me for a token earlier which I gave it and I get the same error when I run  `composer require laravel/spark ~2.0`

[2016-09-26 13:32] philtrep opened #332 "MySQL port (3306) exposed by default"
According to https://github.com/docker/compose/issues/2260, we cannot yet override the ports options in docker-compose, could we remove the database ports by default so the `docker-compose.yml` is viable for production?

If you'd really need host access to the database you could just add a `docker-compose.override.yml` with the port mapping.

[2016-09-26 17:36] philtrep commented on #309
The fix I found is:
[code]
Which is basically just running the last 2 lines in the `laradock` user `~/.bashrc` followed by my commands.
I too would like to know the rational behind not having the binaries available to root?

[2016-09-26 19:56] #330 closed

[2016-09-27 00:27] cassiohalmeida commented on #327
I can't view laravel in the browser too.

I did :
`docker-compose up -d nginx mysql`

Then, type 'docker ps' :

[code]

When I try to acces localhost, nothing happens ( i tried with container IP too ) and i get "localhost is currently unable to handle this request." in the browser.

I dont know what to do. Maybe add some config in my hosts file? Maybe the bind IP is wrong?
If someone could help me

[2016-09-27 01:11] Mahmoudz commented on #324
@lukasoppermann sorry for the delayed response, was too busy last week..

Yes you can do this, it has to point to your Laravel app wherever it is.

[2016-09-27 01:22] Mahmoudz commented on #332
It's possible but not sure if would be easy for the current users, to adapt that!

[2016-09-27 01:23] #326 closed

[2016-09-27 19:35] barnabas-szekeres commented on #317
Same issue here.

[2016-09-28 13:09] reypm opened #334 "Setup Xdebug with PHP55-FPM image"
I need some advice setting up Xdebug in php55-fpm meaning I don't know if I can use the same block from php7--fpm Dockerfile:

[code]

Is it possible? Which would be the best way to achieve this?

[2016-09-28 18:52] reypm commented on #334
@Mahmoudz the only thing I am not sure at all is about this line: `pecl install xdebug` since I have previously installed xdebug as `apt-get install php55-xdebug`. What would be your suggestion?

[2016-09-29 01:05] appleboy commented on #334
@reypm I prefer the command `apt-get install php55-xdebug`.

[2016-09-29 12:26] reypm commented on #334
@appleboy I am lost, what `docker-php-ext-install` will do for me that `apt-get` install will not? At this point I don't know if I should install xdebug using `apt` or `docker-php-ext-install`.

@Mahmoudz  I have read the [Dockerfile-56](https://github.com/LaraDock/php-fpm/blob/master/Dockerfile-56) and I am notice the following:

[code]

Why `docker-php-ext-install gd` appears twice? I am confuse

[2016-09-29 12:42] appleboy commented on #334
@reypm I will fix the duplicate of `docker-php-ext-install gd`.

[2016-09-29 12:42] reypm opened #335 "Change|update xdebug version when PHP-FPM container is switched from default 7.0 to 5.6"
I am playing with this in order to get a development environment ready not just for Laravel but for any PHP application. Following README file I have been enabling some options as Xdebug but I notice that even switching from PHP7.0 to PHP 5.6 the workspace container still installing and handling Xdebug as it's for PHP7 because of this:

[code]

Can this be tweaked for different PHP versions?

[2016-09-29 12:58] reypm commented on #334
@appleboy sadly there is another issue, I have opened another issue, take a look :-( and I have one more I will test once again and if I can not get this working I'll be opening another one :)

[2016-09-29 16:02] francislavoie opened #336 "Idea: use php-fpm container to run php cli commands in workspace container"
This is something that's been bothering me a bit - if there's php extensions that I want to use in my application, I need to install it in both the `php-fpm` container and the `workspace` container, especially if I want to run the same code in both.

I was thinking that it would be nice to be able to leverage the existing `php-fpm` container to run the commands from CLI instead, to negate the need

[2016-09-30 02:16] mbasfour commented on #301
I updated to latest version and it seems to be fixed.

[2016-09-30 03:07] appleboy commented on #301
@mbasfour Could you close this issue?

[2016-09-30 12:30] lukasoppermann opened #337 "Refresh files"
Hey @Mahmoudz,

I am running laradock with caddy to use https. However, I have a problem, that when I update files on the server (the actual files not inside docker), the files within the docker directory are not updated.

This means even if I just change a css file I need to `docker-compose down`, `docker-compose up -d`, `composer install` and run `chmod -R 777 storage && chmod -R 777 bootstrap/c

[2016-10-02 00:17] edmundluong commented on #309
@philtrep

Perhaps if your solution can be generalized, it might be worth a pull request IMO for the sheer convenience of having access to those binaries as root.

What are your thoughts on this, @Mahmoudz ?

[2016-10-02 00:33] philtrep commented on #332
@Mahmoudz

From what I gather we could change the `ports` to `expose` without requiring most users to adapt. The proper way to execute any command is from the `workspace` anyhow.

Maybe it's just me but the default behavior should be restrictive rather than permissive, especially when it comes to database access.

[2016-10-03 14:52] philtrep commented on #337
@lukasoppermann

Try `docker-compose up --force-recreate -d`

[2016-10-03 15:08] KikeMendez commented on #309
I'm having the same issue, i can not use gulp inside workspace all the rest of comands are working fine, Can you tell me how to fix it?

[2016-10-03 16:58] philtrep commented on #309
@KikeMendez

You can use the `laradock` user to run commands in the workspace like so:
`docker-compose exec --user=laradock workspace bash`
you should then be able to run `gulp`.

[2016-10-03 17:15] philtrep commented on #309
@edmundluong
Made the PR but note that this won't work for commands that don't load the .bashrc ie. `docker-compose exec workspace bash -c '...'`. I tried making it work for the best part of a day and my fix above is the only thing that does it...

[2016-10-03 19:39] lukasoppermann commented on #337
@philtrep doesn't this doe the same? As in remove everything and recreate it? I would like to just update the files.

[2016-10-03 19:43] #309 closed

[2016-10-03 22:53] philtrep commented on #337
@lukasoppermann by reading your question again I think I get what you are trying to do. The problems lies in the symlink. When VOLUME loads, it copies the path the symlink points to so if you change the link location, VOLUME still points to the initial directory!

I think the easiest solution would be to create a volume for all the releases:
[code]
When you've ran the container you'll want to remo

[2016-10-03 23:06] #332 closed

[2016-10-04 00:34] philtrep commented on #322
I added a PR for Cronjob. You could mount a volume for workspace at `/opt/backups` then have the cronjob do a `mysqldump`.

[2016-10-04 02:58] KikeMendez commented on #309
I runned gulp but now I'm having this issue,
stream.js:74
      throw er; // Unhandled stream error in pipe.
     ^Error: EACCES: permission denied, open '/var/www/laravel/public/css/app.css.map'
    at Error (nativ

[2016-10-04 04:09] edmundluong opened #342 "Support Abandoned for Docker Toolbox in Laradock v4?"
Hi,

Great work on this project, it is working well on both Debian 8 and Windows 10 in my limited testing so far.

However, I noticed that in the current documentation for Laradock it has the following section regarding Docker Toolbox, suggesting that it is no longer supported (different branch):

I realize that there is now a native Docker application for Windows/Mac/Linux, but there are some res

[2016-10-04 06:32] lukasoppermann commented on #337
@philtrep Thank you for your advise. I will try it out as soon as I get a chance. This sounds pretty sensible. Since capistrano automatically symlinks the latest release to current I can probably just make docker look into the current folder instead of `/var/www/laravel` and as long as it is all on a volume it should work as well.

However are are you sure the `volume` will refetch a new release f

[2016-10-04 11:48] philtrep commented on #316
This issue should be split into two seperate issues:

* Cerbot for generating SSL
* ngx_pagespeed for NGINX

[2016-10-04 12:08] philtrep commented on #337
@lukasopperman

Yes, VOLUME mounts a directory in the host file system, you should see the `current` folder being modified from within the container after the mount has taken place.

From the `workspace` container. However, if you are always going to be pointing to the same folder you shouldn't have to run the last command. That being said I haven't tested it out so I could be wrong.

[2016-10-04 18:04] mwwhitted commented on #319
I think I have the same issue, but port 80...

ERROR: for nginx  Cannot start service nginx: driver failed programming external connectivity on endpoint laradock_nginx_1 (74f42259b85dfde5b6c133935b80bcce30eab2396bc48d2ae42def3f6258f64e): Error starting userland proxy: Bind for 0.0.0.0:80: unexpected error (Failure EADDRINUSE)

docker-compose ps
          Name                        Command

[2016-10-05 11:16] kuerbi commented on #227
Have the same problem here:
What have you done to solve this problem? @IgorDePaula

[2016-10-05 13:20] HeidemannMarkus commented on #274
+1

[2016-10-05 14:22] Mahmoudz commented on #342
@edmundluong thanks for your interest. This project was created a long time ago! and have always been following the latest Docker updates and changes.. Yes in V4 we dropped the support the Docker Toolbox, assuming everyone is switching and following up with the latest Docker releases..

However, the case you showed seems very convenient, and I have no problem adding documentations support for Dock

[2016-10-05 15:23] altjsus commented on #274
I had this problem. That's how I managed to solve it:
- install laravel with composer **first**. made `git init `and added laradock as a submodule
- changed laradock/workspace container port to 666. then `docker-compose build workspace `
- `docker-compose up -d apache2 mysql
Works!

[2016-10-05 20:59] rajjejosefsson opened #343 "Cannot start service nginx: stat /volume1/web/laradock/logs/nginx:"
Trying to setup a laradock on my synology nas. But get two errors, the first errors workaround is to change the port to like 8080:80, but then the second error will ask me again and again that some folders are missing.

All happening after
1. Get LaraDock inside your Laravel project:
`git clone https://github.com/LaraDock/laradock.git.
`
2.Enter the laradock folder and run only these Containers:
`

[2016-10-05 21:45] philtrep commented on #343
The second error seems to be an issue with the `volumes_data` container. Try purging the container and running it manually. If this doesn't work, try adding the volumes from `volumes_data` directly to the appropriate containers.

[2016-10-06 15:12] Mahmoudz commented on #343
@philtrep I sent you an email 2 days ago to `phil.trepanier@gmail.com` but didn't get a reply from you! have you received it (sent from `mahmoudz.me@gmail.com`)?

[2016-10-06 15:34] philtrep commented on #343
@Mahmoudz Just got it, sent you a reply. :)

[2016-10-06 19:12] pablorsk opened #344 "How can I connect to mysql from outside? Like Workbrench"
Hi! My project is working fine with this commands:

[code]

Also, http://localhost/ work too. But, How can I connect to mysql from outside? Like Workbrench...

I try with `localhost` and `mysql`

If you need more information:

.env:

[code]

[code]

[code]

[2016-10-06 19:27] philtrep commented on #344
@pablorsk

You can forward the MySQL port to your host by adding the lines
[code]
To the mysql section of the LaraDock `docker-compose.yml` or in your (environment specific Compose)[https://docs.docker.com/compose/extends/] file.

It would end up looking something like:

[code]

[2016-10-06 19:54] guduchango commented on #344
@philtrep  muchas gracias, funciono muy bien.

Saludos

[2016-10-06 19:59] philtrep commented on #344
@guduchango de nada

[2016-10-06 21:56] philtrep commented on #344
@pablorsk I am assuming this worked for you, if not we can reopen this issue

[2016-10-06 21:58] philtrep commented on #337
@lukasoppermann Did my fix resolve your issue?

[2016-10-06 21:58] #324 closed

[2016-10-06 22:01] philtrep commented on #322
@partenit Does #340 resolve your issue?

[2016-10-06 22:06] philtrep commented on #14
We now have crontab available in the `workspace` container, this solves the first part of this issue.

[2016-10-06 23:57] pablorsk commented on #344
I work with @guduchango and we need your help :P

Thanks @philtrep!!

[2016-10-07 01:03] wtwei commented on #274
+111111

[2016-10-07 02:28] citosid commented on #145
@Vasiliy-Bondarenko how did you do it with docker-sync?

[2016-10-07 03:02] philtrep commented on #274
@wtwei could the fix from @altjsus also apply to you?

[2016-10-07 03:22] philtrep commented on #327
@cassiohalmeida

A few things:

- try rebuilding the containers `docker-compose up --build --force-recreate -d  nginx mysql`
- try to curl from the `workspace` container, you should be getting your index page as html
- look at `access.log in `laradock/logs/nginx`, you should be seeing your request

[2016-10-07 03:24] philtrep commented on #311
@at-locbm has your issue been fixed?

[2016-10-07 03:48] philtrep opened #345 "Add CertBot (SSL AutoRenewal )"
This idea comes from #316 (the original issue was split in two since the proposed features are not related).

[2016-10-07 03:50] philtrep opened #346 "Add ngx_pagespeed in Nginx"
This idea comes from #316 (the original issue was split in two since the proposed features are not related).

[2016-10-07 03:50] #316 closed

[2016-10-08 10:37] ojhaujjwal commented on #76
I like how @Mahmoudz  said it for handling multiple frameworks by defining framework name in .yml file.
[code]
Then,  in `Dockerfile`,  we can install php extensions according to PROJECT_TYPE variable

[2016-10-08 17:06] citosid commented on #97
@andrewmclagan I'm using native docker and it is slow. I takes over a second to load a simple hello world page. Do you have any idea if there is any tweak needed after following the how to?

[2016-10-08 18:17] geocine opened #347 "Can't open /root/.nvm/nvm.sh"
May you please check what is the problem?
[code]

[2016-10-08 21:29] lolalf commented on #86
Is there a solution for this?
I have the same problem on Ubuntu 16.04.
I tried installing laradock on Ubuntu 16.04. Everything went well but after docker-compose up -d nginx mysql phpmyadmin, i get 404 error on localhost, localhost:8080 works for phpmyadmin.

[2016-10-09 00:49] andrewmclagan commented on #97
When you say native docker are you running on a linux kernal and not osx? There is no true native docker binary for osx, even docker-for-mac uses a very lightweight virtual machine image.

Although response times of over a second are not normal. What are your response times when these containers are running on a linux host in the cloud? That way you can isolate the problem to Docker on osx. If the

[2016-10-09 01:14] appleboy commented on #347
What is your laradock version?

I try to install workspace and enable `INSTALL_NODE` flag in laradock master branch version.

[code]
It is working for me. The following is my screenshots.

<img width="1280" alt="screen shot 2016-10-09 at 9 13 11 am" src="https://cloud.githubusercontent.com/assets/21979/19216878/ae3df886-8e00-11e6-8f51-a76c3488843a.png">

[2016-10-09 03:46] citosid commented on #97
@vinaykevadia I did try using `docker-machine` instead and the speed is way different. It is faster with the virtualbox approach. I did not know that there is no real `native` docker for macOS.

Thank you for the feedback though, I really appreciate. Will keep testing docker.

Thanks!

[2016-10-09 05:55] Mahmoudz commented on #252
@ekstro have you been able to solve this!?

I was trying to test all the Containers today.. and I found that I'm not able to connect to MySQL (using Sequel Pro) from my Local machine (127.0.0.1).

I couldn't discover this problem without rebuilding the mysql containers with `--no-cache` today.

I tried solving it with no success, here's what I tried:
- I tried messing with the config file `my.cnf`

[2016-10-09 05:57] Mahmoudz commented on #344
I was trying to test all the Containers today.. and I found that I'm not able to connect to MySQL (using Sequel Pro) from my Local machine (127.0.0.1).

I couldn't discover this problem without rebuilding the mysql containers with `--no-cache` today.

I tried solving it with no success, here's what I tried:
- I tried messing with the config file `my.cnf`.
- tried to revert all the changes made in

[2016-10-09 09:56] outakukou commented on #347
you need to stop workspace at first
`$ docker-compose stop`
then you try to build again once
`$ docker-compose build  workspace`

[2016-10-09 10:29] callect opened #348 "Cannot connect to MySQL from Workspace and phpmyadmin"
My nginx worked well (localhost), but I'm unable to connect to the MySQL container from the Workspace one with php artisan migrate

  SQLSTATE[HY000] [2002] No such file or directory

`environment:
            MYSQL_DATABASE: homestead
            MYSQL_USER: homestead
            MYSQL_PASSWORD: secret
            MYSQL_ROOT_PASSWORD: root`
and I enter phpmyadmin in browser (localhost:8080) ,I go

[2016-10-09 10:49] geocine commented on #347
Hi guys thank you for all the responses. For some reason I was able to make this work by changing this line

https://github.com/LaraDock/laradock/blob/master/workspace/Dockerfile#L153

from

[code]
to

[code]

[2016-10-09 12:18] jakelacey2012 commented on #75
Hi I had this issue, this fixed it for me.

I'm just wondering if this happens every time for every developer? If so could we add this to the documentation?

[2016-10-09 15:19] manshoor opened #349 "multi site for local development"
Hi,
I'm new to the docker, I couldn't figure out how can I use laradock on a project which has two domain connected to a single database for local development?

[2016-10-09 15:48] philtrep commented on #86
@lolalf
if the solution above doesn't work, please post your logs here

[2016-10-09 15:56] philtrep commented on #349
This is a duplicate of #54 .

[2016-10-09 15:56] #349 closed

[2016-10-09 15:58] philtrep commented on #348
@callect

Could you make sure the MySQL container is `up` ? If it is, please try to connect to the database directly from it
[code]

Let me know

[2016-10-09 16:01] philtrep commented on #346
If has an idea for this, we're more than open to it

[2016-10-09 16:01] philtrep commented on #345
I think this should be it's own container, if someone has an idea feel free to contribute

[2016-10-09 16:06] philtrep commented on #347
Let's keep this open, we need a PR for @geocine 's fix

[2016-10-09 16:07] manshoor commented on #348
I'm having the same issue.
http://screencast.com/t/rfhfDrL5D8

[2016-10-09 16:18] philtrep commented on #344
@Mahmoudz that's odd... you did add
[code]
to the `mysql` container?

[2016-10-09 16:22] manshoor commented on #344
after adding ports it's is connected to sequal pro.

[2016-10-09 16:30] geocine commented on #347
@philtrep can you verify if its a bug? I was thinking it was an isolated case on my machine, because I did not see any open issues.

[2016-10-09 16:49] manshoor commented on #348
#344
I believe this is the issue, you have to add the ports in order to make it work.

[2016-10-09 16:59] philtrep commented on #347
@geocine Might have jumped to gun on it although there is no downside in using your fix but if we do not then we may run into the same issue again.

[2016-10-09 17:00] #348 closed

[2016-10-09 17:12] philtrep commented on #347
@geocine Thanks for the contribution :)

[2016-10-09 17:12] #347 closed

[2016-10-09 17:58] Mahmoudz commented on #75
@jakelacey2012 if you feel it needs to be documented, please go ahead and create a new section in the readme about MySQL (example: Use MySQL) and then show all the tips such as how to ssh into that container `docker-compose exec mysql bash` and how to login to MySQL and see the tables.. `show database;` `use homestead;` ....
Thanks.

[2016-10-09 18:12] Mahmoudz commented on #344
@philtrep oh I forget about that PR when you removed those ports. It's working again now.

[2016-10-09 23:02] andrewmclagan commented on #97
@citosid Seriously, if you are getting such bad performance I'd say it more likely points to your setup. Not the `Docker >> Host >> VirtualMachine` interface, it just becomes more easily recognisable in this situation. Are you loading allot of services providers you dont need? Caching your routes? Caching your config?

[2016-10-10 00:14] philtrep commented on #318
@Mahmoudz since we have crons available now I'm that thinking @appleboy 's fix is worth being the default config. What do you think?

[2016-10-10 00:38] philtrep commented on #325
@marttosc Have you tried the `zend_extension=opcache.so from php.ini` suggestion?

[2016-10-10 00:55] Mahmoudz opened #353 "Docker on Mac is slow"
The entire development environment is slow for some reason, not sure if this is a Docker problem or something added to LaraDock that makes it that slow!! (By slow I mean the response time is slow, and the commands running in the workspace container are also slow).

We need your help to find out what's slowing it and make it fast again.

This is also mentioned in the following issues #97, #145, #14

[2016-10-10 01:23] callect commented on #348
@philtrep yes , l can connect to database directly from MySQL container

[2016-10-10 01:51] geocine commented on #353
I am also experiencing some issues on Windows 10 using Docker Toolbox. I am not sure if this is directly related to this container or Docker, or Docker Toolbox per se.
I have hosted a basic dingo api on my Windows 10 Docker Machine using the following stack:
- php-fpm php7
- nginx
- redis
- mysql

Average time for requests  to complete is 1.5 seconds. Even for basic authentication requests

I have

[2016-10-10 02:37] citosid commented on #97
@andrewmclagan thank you for the help. I think I did not explain myself correctly.

If I use docker-machine instead the site loads a lot faster. Which I think it is ok, because in this way I'm using a really native docker. But this means spinning up a virtual machine, which is what I want to avoid.

About laravel, I do not have other than the default installation. That means, not service providers

[2016-10-10 03:22] andrewmclagan commented on #97
Ok understod :)

Im using docker-for-mac with a very very heavy Laravel installation, more then double the dfault service-providers and allot of other custom code. We get between 70ms - 400ms to load a route.

This is far faster when the same container is deployed onto a linux host.

Please realise that docker-for-mac and docker-machine BOTH use virtual machines. The only difference is that docker

[2016-10-10 03:33] Mahmoudz commented on #348
Hi all, please pull the latest version of LaraDock (currently it's v4.7.3) and try again. This problem should be solved.

[2016-10-10 06:00] #57 closed

[2016-10-10 06:02] Mahmoudz commented on #81
I'll close this old issue now, if the error still exist we'll open it back.

[2016-10-10 06:02] #81 closed

[2016-10-10 06:03] Mahmoudz commented on #93
I'll close this old issue now, if the error still exist we'll open it back.

[2016-10-10 06:04] Mahmoudz commented on #113
I'll close this old issue now, if the error still exist we'll open it back.

[2016-10-10 06:04] #113 closed

[2016-10-10 06:05] Mahmoudz commented on #128
So I think this Issue is solved! :)

[2016-10-10 06:05] #128 closed

[2016-10-10 06:08] Mahmoudz commented on #143
@andrewmclagan I'm gonna close this, since it's been open for a long time and unfortunately no one answered it. If you were able to get help from anywhere and you found an asnwer, please share it with us I'd like to add it to the README (also feel free to submit a PR if you prefer), I think many people will benefit from this. thanks

[2016-10-10 06:08] #143 closed

[2016-10-10 06:08] #195 closed

[2016-10-10 06:10] Mahmoudz commented on #205
I think this should be closed now. Thanks @LarryEitel

[2016-10-10 06:10] #205 closed

[2016-10-10 06:10] #206 closed

[2016-10-10 06:11] #215 closed

[2016-10-10 06:11] #216 closed

[2016-10-10 06:12] Mahmoudz commented on #237
There's a big chance this issue has been solved, thus I'll close it now, if it's still there feel free to open it again.

[2016-10-10 06:12] #237 closed

[2016-10-10 06:13] Mahmoudz commented on #239
@elceka have you been able to solve this!?

[2016-10-10 06:14] Mahmoudz commented on #252
This could be solved by #352, if you still facing this problem, reopen this issue. Thanks

[2016-10-10 06:14] #252 closed

[2016-10-10 06:15] Mahmoudz commented on #124
Let's continue this conversation on this Issue #244

[2016-10-10 06:15] #124 closed

[2016-10-10 06:16] #254 closed

[2016-10-10 06:16] Mahmoudz commented on #274
Is this solved or not yet!!

[2016-10-10 06:19] #274 closed

[2016-10-10 06:20] Mahmoudz commented on #279
@majuansari if you haven't solved this problem, consider reopening this issue and explaining more, how are you doing and how. so we can understand exactly what the problem is and hopefully help. Best

[2016-10-10 06:20] #279 closed

[2016-10-10 06:21] Mahmoudz commented on #285
@Shmp does this issue still exist?!

[2016-10-10 06:21] tblancog commented on #274
Yes, this is solved, thanks a lot @Mahmoudz and everyone!

[2016-10-10 06:22] Mahmoudz commented on #277
If this is related to #274 then it's solved :) if not reopen :(

[2016-10-10 06:22] #277 closed

[2016-10-10 06:23] #299 closed

[2016-10-10 06:24] #301 closed

[2016-10-10 06:24] Mahmoudz commented on #304
I'll close this for now, feel free to open it again if you need. Best,

[2016-10-10 06:24] #304 closed

[2016-10-10 06:27] Mahmoudz commented on #311
let's close this for now.

[2016-10-10 06:27] #311 closed

[2016-10-10 06:30] Mahmoudz commented on #318
@philtrep I agree with you on @appleboy's solution.

[2016-10-10 06:35] #327 closed

[2016-10-10 06:37] Mahmoudz commented on #334
@reypm if this issue is solved, please close this Issue and let's carry the conversation on your new opened Issue. Thanks

[2016-10-10 06:41] Mahmoudz commented on #337
If the problem still exist feel free to open this issue again :)

[2016-10-10 06:41] #337 closed

[2016-10-10 06:42] elceka commented on #239
@Mahmoudz I don't know, i don't using it now. But now, i've pull actual master to my environment and command `docker-compose up --build -d nginx postgres` works for me without any error.

[2016-10-10 06:43] #239 closed

[2016-10-10 06:46] lukasoppermann commented on #337
Hey @Mahmoudz thanks. I got it solved now, thanks to @philtrep help. However for anyone trying the same, make sure to manually clean the `opcache` if it is activated.

Capistrano creates a symlink and `opcache` does not update the cache if changes happen through a symlink, so you need to clear the cache in an `execute` command. I recommend using https://github.com/gordalina/cachetool for this.

Yo

[2016-10-10 06:50] elceka commented on #353
I have same trouble, not specially with Laradock but with Docker generally.
My dev environment is based on Mac OSX (10.11.6 (15G1104)). I think, speed has been degraded when i move from **Docker Toolbox** to the **Docker for Mac**.

[2016-10-10 06:55] andrewmclagan commented on #143
We don't have individual container for nginx and php-fpm, we run supervisor, nginx and php-fpm in the same container. It makes your images much more portable and easier to orchestrate when having massively parallel deployments!

[2016-10-10 06:55] andrewmclagan commented on #143
see https://github.com/andrewmclagan/aphex

[2016-10-10 06:55] Mahmoudz commented on #353
Let's gather more data from all the users to try to find out where is the problem exactly!

@elceka I have the same feeling as I started experiencing this performance problems only using Docker for MAC. However, @geocine is on Windows and still using Docker Toolbox and facing the same problems! So far this tells me that there's a problem with some LaraDock containers!!

[2016-10-10 06:59] Mahmoudz commented on #143
@andrewmclagan thanks for the answer. I'm checking that..

[2016-10-10 06:59] elceka commented on #353
@Mahmoudz YOP, I understand, but truth may bee somewhere in the middle. :)

[2016-10-10 07:00] Mahmoudz commented on #353
Everything is possible :D I'm excited about this Issue!

[2016-10-10 07:04] callect commented on #348
@Mahmoudz ok,it's solved,thank you.

[2016-10-10 07:16] andrewmclagan commented on #143
@Mahmoudz The difference being, it seems that Laradock is mostly configured for development. IMO thats an oversight as a basic principal of Docker is immutable environments (same for production, staging and development) that way you 100% know what you get is dev is what you get in production.

The only questing then is what do you use to deploy and orchestrate your containers. Thats not in the sco

[2016-10-10 08:02] Mahmoudz commented on #143
@andrewmclagan you are absolutely right, LaraDock started mainly for development usage, however in the latest release we added a production version of the docker-compose.yml file to include the production configs.. as starting point to seriously support it on production with full documentations and solutions..

I won't be able to do that alone as I didn't yet had the chance to deploy large apps on

[2016-10-10 10:27] andrewmclagan commented on #143
Thank you :) I will do that when I have time and thank you for your work!

[2016-10-10 10:53] robertpcontreras commented on #353
I have been having issues with Docker on mac related to performance. I think its due to this... https://forums.docker.com/t/file-access-in-mounted-volumes-extremely-slow-cpu-bound/8076/203. Laradock, and Docker in general runs perfectly for me when im running linux.

[2016-10-10 11:16] marttosc commented on #325
@philtrep I have tried, but it doesn't work. I have commented the `ADD ./laravel.pool.conf /usr/local/etc/php-fpm.d/` line from Dockerfile and then it works.

[2016-10-10 11:37] reypm commented on #334
@Mahmoudz isn't fixed, check the file [Dockerfile-56][1]

 [1]: https://github.com/LaraDock/php-fpm/blob/master/Dockerfile-56

[2016-10-10 12:21] philtrep commented on #325
@marttosc glad you got it to work. I'll close this for now, we'll reopen if we see this is a recurring issue.

[2016-10-10 12:21] #325 closed

[2016-10-10 12:51] Mahmoudz commented on #334
@reypm yes I think so. I'll close this now. Thanks

[2016-10-10 13:13] Shmp commented on #285
I will try a new installation with fresh containers this week. Will report back asap

[2016-10-10 13:14] Mahmoudz commented on #285
@Shmp thanks, also don't forget to rebuild the containers before testing it.

[2016-10-10 13:50] philtrep commented on #318
@appleboy @Mahmoudz  After digging a bit, the /etc/localtime mount is not a suitable option since it won't work on all host. Please take a look at #354 and tell me if you find it acceptable.

[2016-10-10 13:55] philtrep commented on #161
@midascodebreaker I'm closing this because I don't think this is an issue that's particular to this project. That being said, I suggest taking a look at http://blog.runnable.com/post/145362675491/distributing-docker-cache-across-hosts .

[2016-10-10 13:55] #161 closed

[2016-10-10 14:43] citosid commented on #353
@Mahmoudz in this issue https://github.com/LaraDock/laradock/issues/145 Vasiliy says he fixed it by using `rsync` instead of `osxfuse`. I think that make sense if the problem is the way OS handle the mounting points. And maybe the same can be true of Windows, specially windows 10. I've been trying to make it work (via rsync), but I'm quite new at docker, so I have not succeed. Will keep trying and

[2016-10-10 14:44] #318 closed

[2016-10-10 16:20] reypm commented on #334
@Mahmoudz I am seeing exactly the same content:

[code]

Did you notice this `docker-php-ext-install gd` twice? That's wrong I believe correct me if I am wrong

[2016-10-10 17:11] Lucassith commented on #93
This error still exists:

`mariadb_1             | 2016-10-10 17:07:16 140096807745472 [Note] mysqld (mysqld 10.1.18-MariaDB-1~jessie) starting as process 1 ...
mariadb_1             | 2016-10-10 17:07:16 140096807745472 [Note] InnoDB: Using mutexes to ref count buffer pool pages
mariadb_1             | 2016-10-10 17:07:16 140096807745472 [Note] InnoDB: The InnoDB memory heap is disabled
mariadb_1

[2016-10-10 18:46] edmundluong opened #355 "Laravel Views not updating on refresh"
Hi,

I am using Laradock v4.7.2 and have been finding that my Laravel Views have not been updating when I modify them and refresh the browser.

For example, consider the following blade view:

[code]

After modifying the view, it looks like such:

[code]

However, after refreshing my browser I do not see these changes reflected. I have tried running `php artisan cache:clear` and `php artisan views

[2016-10-10 18:49] edmundluong commented on #353
I can attest that my native Docker for Linux for Xubuntu runs flawlessly and performs pretty well while my Windows 10 Home that uses Docker Toolbox is pretty slow. I think my issue is more about the virtual machine rather than the workspaces, though I thought I'd share my observations

[2016-10-10 22:57] Mahmoudz commented on #334
@reypm oh yes I do, that comment above was supposed to be for another Issue, sorry about that. Could you confirm that removing any of the lines keeps it running normally? And if so which line should we remove? Cause I can't remove any of them now, since I'm not using that xdebug or php 55, I need a user of them to test it, and let us know what works. You can also submit a PR if you like, otherwise

[2016-10-10 23:16] Mahmoudz commented on #355
@edmundluong actually someone had the same problem here #337 and he was able to solve it in another way, however, if your solution works just fine feel free to submit a PR.. I personally didn't used opcache yet.. so let's see what @philtrep and @lukasoppermann think.

[2016-10-11 00:09] ssilvan commented on #277
Glad to see it worked for you tblancog; indeed you need to have docker version 1.7 at least.

[2016-10-11 00:57] edmundluong opened #356 "Idea: Add support for Selenium containers (for PHPUnit, Behat)"
Hi,

[Behat](https://github.com/Behat/Behat) is a very popular BDD testing framework for PHP that has relevance in the Laravel community thanks to the [Laracasts series on it](https://laracasts.com/lessons/laravel-5-and-behat-bffs).

Although Behat is great for testing static HTML and PHP code, it cannot test Javascript frontend components without [using a browser emulator](http://mink.behat.org/e

[2016-10-11 06:58] partenit commented on #322
@philtrep Thank you very much. This solve my issue :)

[2016-10-11 07:25] #322 closed

[2016-10-11 16:54] Mahmoudz commented on #356
@edmundluong it's nice to have support for Behat.

I can say just submit a PR and we'll review it together.. In general look at any supported tool and try to do the exact same thing!

Just one note, since it's a tool make sure it has parameter in the docker-compose file so users can set to TRUE if they want it to be installed.

Best,

[2016-10-11 18:30] philtrep commented on #355
@edmundluong @Mahmoudz

I don't know much about Opcache but from what I gather, the fix would make the application less performant since it would be looking for file modifications on every request.

It seems to me that we almost only need caching for non-dev environments so this shouldn't be a problem for most people but we should add a section in the docs, probably in the _Production_ section, ex

[2016-10-11 19:30] mroedel commented on #93
same here...

[code]

[2016-10-11 20:08] lukasoppermann commented on #355
Yes, this seems to not be good, as `opcache.revalidate_freq` effectifly means it is revalidated in every request.

`opcache.validate_timestamps` though would be good (and is needed if `opcache.revalidate_freq` is used).

`opcache.revalidate_freq` sets the time in seconds at which the cached files are revalidated, however revalidation is NOT the same as compiling, it is not as slow as no opcache at

[2016-10-11 20:43] edmundluong opened #359 "Idea: Share SSH Config with Docker"
Hi,

Suppose in your composer.json file you want to specify a private repository that you want to use as a dependency in your project:

composer.json

[code]

When you run `composer update` to retrieve this new dependency, it uses your SSH key in `~/.ssh/id_rsa.pub` to pull the private repo.

This works fine on the local system, however, trying to run `composer update` within the docker instance d

[2016-10-11 21:41] philtrep commented on #359
@edmundluong Good idea. I would see this as an optional build argument to the Docker Compose file. If you feel like making a PR go ahead :)

[2016-10-11 22:37] #135 closed

[2016-10-11 22:39] philtrep commented on #321
@devfelipereis can you give us an update on this?

[2016-10-11 23:43] Mahmoudz commented on #359
@edmundluong I agree with @philtrep it's a good idea. I encourage you to make the PR as Phil suggested. Cheers.

[2016-10-12 06:04] deleonn commented on #353
I'm experiencing some issues too on macOS Sierra and _Docker version 1.12.0-rc4, build e4a0dbc, experimental_. Every time I update something, an html file, js file, any file, the browser takes forever to reload what I updated, even when deleting the whole file, I can still access to it from the browser for a few minutes -yes, minutes!-. I'm currently using nginx+hhvm on Laravel 5.3. On the other h

[2016-10-12 12:33] philtrep commented on #353
@deleonn please take a look at #355

[2016-10-13 00:08] deleonn commented on #353
@philtrep Thanks a lot, I'll try it out later

[2016-10-13 05:53] barnabas-szekeres commented on #317
This caused by wrong mysql scheme, so you should remove /var/lib/mysql files on your host machine. This directory mapped to mysql container and create these filles.

@Tang1024 can you confirm?

[2016-10-13 05:57] barnabas-szekeres opened #360 "PDO::__construct(): php_network_getaddresses: getaddrinfo failed: Name or service not known"
The mysql container doesn't start and Laravel cannot able to communicate with the MySQL container.

(Workaround: you should downgrade the MySQL container from mysql:latest to mysql:5.6 and rebuild the container with the docker-compose build --no-cache mysql command and restart the container)

[2016-10-13 13:01] Tang1024 commented on #317
There is no such dir /var/lib/mysql on my host machine. @barnabas-szekeres

[2016-10-13 13:14] philtrep commented on #317
@Tang1024  I think @barnabas-szekeres meamt `data/mysql` in the LaraDock folder.

[2016-10-13 17:09] manshoor opened #362 "Video tutorial for docker 1.2?"
Hey,
I was wondering if you can make a new video tutorial for docker 1.2 with multisite?

[2016-10-13 21:31] thelittlebug opened #363 "PHP_IDE_CONFIG XDebug environment variable, remove ""
In the php-fpm section of the docker-compose.yml file is a environment variable set. Xdebug is not working for me unless i change it from

[code]

to:

[code]

i've tested the correctnes of the environment variable via:

[code]

[2016-10-14 08:46] g0ld3lux commented on #362
I believe multisite has something to do with
your webserver container...
nginx/apache/caddy
as i can see... or if you check the docker-compose.yml
theres a portion there that allows you to add new site volumes... for nginx...
its straight forward if you dont need ssl ...
i dont know for apache..
but caddy can be configured using the caddyfile... by adding a new host...
you can check the documentat

[2016-10-14 12:11] philtrep commented on #362
@manshoor I don't believe we have a fully integrate solution at the moment (someone correct me if I am wrong) but I have seen @LarryEitel work on it #54 , he might be able to give you some pointers.

[2016-10-14 16:28] #360 closed

[2016-10-14 16:33] Mahmoudz commented on #362
@manshoor @g0ld3lux as @philtrep mentioned it's not fully integrated, I'll include full documentation about that part once it's fully tested and ready.

Make sure to read my second and third comments here [https://github.com/LaraDock/laradock/pull/231](https://github.com/LaraDock/laradock/pull/231) and feel free to test and help speed up that proceess. Thanks

[2016-10-14 16:33] #362 closed

[2016-10-14 16:35] Mahmoudz commented on #363
@LarryEitel might help with this. Thanks in advanced.

[2016-10-14 17:08] LarryEitel commented on #363
Happy to help. Been traveling for three weeks. Trying to catch up on stuff. Will get to this ASAP. :)

[2016-10-14 19:07] henrychavez opened #366 "Mysql downgrade to 5.6 replace mysql:mysql:5.6 to mysql:5.6"
@Mahmoudz I had a problem when I try to run the command
`docker-compose up -d  nginx mysql`

This is the error
`Step 1 : FROM mysql:mysql:5.6
ERROR: Service 'mysql' failed to build: Error parsing reference: "mysql:mysql:5.6" is not a valid repository/tag`

To solve the problem I had to replace
`FROM mysql:mysql:5.6` to `FROM mysql:5.6`

[2016-10-14 20:14] philtrep commented on #366
this was solved by #367

[2016-10-14 20:14] #366 closed

[2016-10-15 00:45] appleboy commented on #363
confirmed this issue.

[2016-10-15 00:51] appleboy commented on #363
@LarryEitel I created new PR. Waiting for your response.

[2016-10-15 07:58] g0ld3lux commented on #345
In My Understanding , We Already Have nginx Container...
which is an alpine version...

Im the One Who Sugguest to have this Feature Anyway...
I wanna help in anyway...
Give Ideas , but , ill admit, my understanding in docker is not yet in depth..

Ive tried searching for solution ..
i found this one is building an image with certbot
https://github.com/jwanglof/docker-alpine-nginx-letsencrypt

Ple

[2016-10-15 08:03] g0ld3lux commented on #346
Hi mate , Im the One who initially suggested this ...
Ive Already Posted for Certbot

Certbot is Ok as a Separate Container...

But I doubt with this another image i found...
since it consumes the port of our main container nginx...

https://github.com/wunderkraut/alpine-nginx-pagespeed

Either we Drop our Main Nginx container and replace it with this one....

or We Build Our Separate Container fo

[2016-10-15 08:13] g0ld3lux commented on #346
From that repo i think we can create a more flexible container
that has an option to enable pagespeed...

which will be done on docker-compose.yml
this will replace the default nginx we have that we can pass an ARG to enable pagespeed installation

we need to tweak a bit https://github.com/wunderkraut/alpine-nginx-pagespeed
to accept argument from our docker-compose which will conditionally instal

[2016-10-15 08:18] g0ld3lux commented on #342
I tried installing the native but reverted back to docker- toolbox...

Since im using both homestead and docker...
and if i enable hyper-v , it will restrict me creating new images in my virtualbox...
all the remaining images i have is retained but ,
when i installed a new homestead per installation i cant...

So i defer to using the toolbox again...
i hope we can maintain the docker-toolbox branc

[2016-10-15 11:17] imamassi commented on #348
Hello,

I don't know why but this error still happened to me, I got SQLSTATE[HY000] [2002] Connection refused even though I'm pretty sure I got everything right. The ports already set, database information is correct, the only thing I change from current release is NGINX port and the laravel code volume. I'm not sure what am I doing wrong.

Thanks.

[2016-10-15 11:18] imamassi commented on #348
[code]

The exception

[2016-10-15 13:33] philtrep commented on #345
@g0ld3lux I started working on it, the image is working but I haven't found a proper way to integrate it with our webservers. I'll post a initial PR in a few, you should definitely add to it if you have any ideas.

[2016-10-15 14:56] philtrep commented on #345
@g0ld3lux This is the initial PR #370, do contribute.

[2016-10-16 01:00] imamassi commented on #348
I resolved the issue by changing the 'DB_HOST' in laravel .env to the current running container IP that I got from dumping `Request::ip()` on my application.

[2016-10-16 08:09] deleonn commented on #355
Already tried with the opache.ini fix with no luck, I can barely code properly as views are not refreshing. I been jumping from stable to beta version of docker for mac but the results are the same. I literally have to reset my machine in order to see some changes in my app.

[2016-10-16 11:31] aoki-sora opened #372 "Time in container is out of sync"
Moved from Homestead to Laradock recently and have encountered the following issue.
After creating a container, turning down the host machine for a while and running it again, the time in a container becomes out of sync.
As an example, it can be checked with oauth authorization flow:
![1](https://cloud.githubusercontent.com/assets/12220926/19417126/d365c84c-93bd-11e6-99f3-f4b2900aaf04.PNG)

Platfo

[2016-10-16 11:37] aoki-sora opened #373 "Static files access"
After viewing static file in the browser (compiled css for example), there is no write access to it.
Trying to run gulp after viewing an asset in the browser - it will result in the following error:
![2](https://cloud.githubusercontent.com/assets/12220926/19417143/add9b9e8-93be-11e6-96a5-40912b6193ed.png)
Trying to delete the file will produce an error as well:
![3](https://cloud.githubusercontent

[2016-10-16 14:40] aoki-sora commented on #372
Noticed that it happens when the docker's deamon starts on system boot. If you disable that option and run docker manually, then it works fine.

[2016-10-17 02:33] felipefreitasweb opened #374 "Problems access localhost (Chrome: ERR_EMPTY_RESPONSE)"
Hello!

Recently formatted my macbook, and installed docker (see 1.12.1) and git to run laradock.
But when access http: // localhost I get the message ERR_EMPTY_RESPONSE (Google Chrome)

My project directory:
<img width="455" alt="captura de tela 2016-10-17 as 00 21 25" src="https://cloud.githubusercontent.com/assets/9322269/19423589/8a7afa42-9400-11e6-9bdb-4aa24d842aae.png">

My docker status:
<i

[2016-10-17 05:33] aoki-sora commented on #373
When checking the files in the container I've noticed that files have root owner, not laradock. Laradock has been added to an already created project. Not sure if it's related.

[2016-10-17 07:56] Tang1024 commented on #317
I rebuilt the mysql container and the problem had been fixed.

[2016-10-17 07:56] #317 closed

[2016-10-17 15:35] felipefreitasweb commented on #374
UPDATE *****

The problem happens only with apache2, with nginx everything worked.

[2016-10-17 16:39] Shmp commented on #285
Did a fresh install with laradock, build the contrainers, edited the docker-compose.yml, rebuild the containers again. Everything works 👍

[2016-10-17 18:04] #285 closed

[2016-10-17 18:23] philtrep commented on #373
@aoki-sora Try using the `laradock` user to run gulp.

[code]

Make sure your `public` and `resources` folders are owned by `laradock:laradock` and have at least `644` permissions.

[2016-10-17 20:47] calebfavor commented on #374
@felipefreitasweb - I had the same problem, the issue is apache is not starting properly due to a config issue (if you check the logs you should see that apache is restarting over and over)

Extra quotes were added to the apache base image ([https://github.com/webdevops/Dockerfile/commit/b99e229698efa50abb922fefd40cb5a122f1c203](url)) so you need to edit 2 files in your laradock folder.

docker-co

[2016-10-17 20:58] philtrep commented on #374
@calebfavor Shouldn't `ARG PHP_SOCKET="php-fpm:9000"` be changed to `ARG PHP_SOCKET=php-fpm:9000` instead?

[2016-10-17 21:28] calebfavor commented on #374
@philtrep Possibly, I am not sure what the correct way is. However I don't see a reason not to reference the composer file directly.

[2016-10-17 22:03] felipefreitasweb commented on #374
It worked!
@calebfavor  Worked perfectly! thanks! :D

I followed exactly what I said, look:

**apache2/dockerfile**
<img width="261" alt="captura de tela 2016-10-17 as 19 58 00" src="https://cloud.githubusercontent.com/assets/9322269/19457286/625d70cc-94a4-11e6-9b5c-af87f47fafb2.png">

**docker-compose-yml**
<img width="381" alt="captura de tela 2016-10-17 as 19 57 42" src="https://cloud.githubuse

[2016-10-17 23:12] calebfavor commented on #374
@felipefreitasweb No worries! As @philtrep mentioned, the arg should indeed be changed to **ARG PHP_SOCKET=php-fpm:9000** rather than using the environment variable.

[2016-10-17 23:36] philtrep commented on #374
#375 should fix this issue

[2016-10-17 23:36] #374 closed

[2016-10-18 03:28] aoki-sora commented on #373
Thank you. I will try.
They are owned by root. I tried to run chown to change owner to laradock:laradock, but it didn't take effect.

[2016-10-18 03:47] philtrep commented on #373
@aoki-sora You are welcomed.

It's probably because the `root` user is the one running `gulp` so it rewrites the output files with `root` as the owner.

[2016-10-18 03:49] aoki-sora commented on #373
All directories are owner by root inside the project.

[2016-10-18 04:07] philtrep commented on #373
@aoki-sora Okay, that's not normal. The files should be owned by `laradock:laradock`. Purge all images and containers then build and run LaraDock. If that doesn't do it, it's probably a host specific issue...

[2016-10-18 12:57] philtrep commented on #355
@deleonn Glad you got everything working! I'll close this for now, if we get more people with the same issue we'll take a closer look at the caching mechanism.

[2016-10-18 12:57] #355 closed

[2016-10-19 11:14] adulion commented on #178
Can you put @mruzekw comment into the readme- at least the "docker inspect -f" command as i spent hours reading the doc's and trying different combinations of ip's in frustration when this was the perfect solution.

You shouldn't set the ip of the container but the one of the mysql container! the docs are wrong.

[2016-10-19 16:33] philtrep commented on #178
@adulion Feel free to make a PR for the `docker inspect` command. The first part of the answer is already in docs under the intro section https://github.com/LaraDock/laradock#intro.

[2016-10-20 00:43] markdev opened #377 "Can't ADD things to /var/www/laravel/ in the workspace"
I need to dynamically `ADD` a few files to the workspace container.  For some reason, I can `ADD` a file from Dockerfile to certain directories, but not others.

Near the bottom of workspace/Dockerfile (around "Final Touch"), I've added the following:
[code]

When I do `docker-compose up -d` and go into the container, I see FOO.txt in `/usr/local/etc/`, but not in `/var/www/laravel/`.

Is `/var/ww

[2016-10-20 01:39] philtrep commented on #377
@markdev The directory `/var/www/laravel/` is where the volume for your laravel app gets mounted by docker-compose. Since docker-compose mounts happen after building the containers, your FOO.txt is probably getting overwritten.

I suggest adding your files in the same directory as your laravel project on your host machine, you'll see the file along with the rest of your project in `/var/www/larave

[2016-10-20 09:59] Selsynn opened #378 "Nginx + Postgres + Mac + Docker Mac => FastCGI Uncaught ReflectionException: Class App\Http\Kernel does not exist"
I don't understand.
I have done the upgrade of laradock monday. It worked.
Tuesday and Wednesday morning, i was working on other website (on docker but not on laradock)
And when I wanted to come back to my laradock project, yesterday afternoon : bug.

No response.
I killed docker, restart it, docker-composed and build a new time the project. No luck.
I killed the mac, restart it this morning, with

[2016-10-20 10:19] Shmp opened #379 "Connect to MySql with PhpMyAdmin in production fails in production, not allowed to connect to this Mysql"
I'm trying to connect to my mysql database with phpmyadmin. Because it is not recommended to expose ports on the mysql database on production, I can't connect to de mysql container. I can only do this when i'm exposing port 3306.

What are your solutions?

[2016-10-20 10:29] hopewise opened #380 "ssh_exchange_identification: Connection closed by remote host"
I tried to connect to workspace container, I've used the included private key in the repo,

here is the settings of workspace:

    workspace:
        build:
            context: ./workspace
            args:
                - INSTALL_XDEBUG=false
                - INSTALL_MONGO=false
                - INSTALL_NODE=false
                - INSTALL_YARN=false
                - INSTALL_DRUSH=false

[2016-10-20 11:49] philtrep commented on #379
@Shmp
There are 2 instructions in docker-compose that manage ports: `ports` and `expose`.

`expose` gives access to that port to other containers:
[code]
That would give access to `mysql:3306` to PHPMyAdmin, workspace, etc.

`ports` forwards the specified port to the host machine. Forwarding ports to the host does something bad by default, it automatically publishes the affected port from the host

[2016-10-20 11:54] philtrep commented on #380
Unless you need to remotely access the `workspace` container, I suggest you connect to it using ```
docker-compose exec --user=laradock workspace bash
[code]

[2016-10-20 11:56] philtrep commented on #380
That being said I haven't used SSH in LaraDock yet, this could be an bug.

[2016-10-20 11:58] philtrep commented on #378
@Selsynn glad you go it to work and thanks for sharing your solution :)

[2016-10-20 11:58] #378 closed

[2016-10-20 12:14] hopewise commented on #380
I need to setup xdebug, in PHPStorm I create remote debug profile, so I had to point to the remote PHP interpreter via ssh?
Can you please tell me how to setup xdebug without using ssh using laradock?

[2016-10-20 12:30] Shmp commented on #379
@philtrep Thanks, will try this right away!

[2016-10-20 12:34] Shmp commented on #379
@philtrep Sweet! Works like a charm!

[2016-10-20 13:16] philtrep commented on #380
@hopewise Make sure you follow the docs https://github.com/LaraDock/laradock#install-xdebug.
Checkout #363  and #369 if you still have a problem.

[2016-10-20 14:09] hopewise opened #381 "Debugger not installed"
In PHPStorm setting of remote interpreter, I can see that Debugger not installed like here:
![screen shot 2016-10-20 at 5 05 09 pm](https://cloud.githubusercontent.com/assets/1061157/19563139/9ca8f554-96e7-11e6-8a9e-68c883efaa66.png)

However, in docker-compose.yml, I have `INSTALL_XDEBUG=true` as:

[code]

So, why its not installed?

[2016-10-20 14:47] hopewise opened #382 "Editing xdebug.ini?"
When I edit:

    /Users/samir/Documents/projects/project-apis/laradock/workspace/xdebug.ini

Shall I just restart the container?
I tried `docker-compose up -d nginx php-fpm workspace` but:

[code]

[2016-10-20 15:35] markdev commented on #377
@philtrep Thanks for the prompt response!

I can and do do this now; currently I am running a shell script to `cp` the `.env` and `docker-compose.yml` files.  But that is a bad practice; it relies on the environment outside of the containers.  I'd like to be able to do this within the docker ecosystem, like with a `RUN` command or a `command:` in the .yml file.  All these attempts run into the sam

[2016-10-20 18:38] philtrep commented on #382
Try `docker-compose down; docker-compose up --build -d nginx php-fpm workspace`

[2016-10-20 19:14] #380 closed

[2016-10-20 19:23] philtrep commented on #377
@markdev Glad to hear it.

I am closing this issue since your problem is resolved.

About your follow-up, I am not exactly sure what it is you are trying to do. _Everything_ in your project folder should already be available from within your containers.

I suggest going over to [Gitter](https://gitter.im/LaraDock/laradock) for project specific questions, the other contributors might be able to giv

[2016-10-20 19:23] #377 closed

[2016-10-20 19:24] LarryEitel commented on #381
In the Interpreters Form / Additional:

Debugger extension: `/usr/lib/php/20151012/xdebug.so`

That way xdebug is only added to php when PHPStorm is running tests.

[2016-10-21 02:19] whsiao opened #383 "Updating mysql configuration to reflect in mysql docker container"
Hello
I'm new to laradock and I'm trying to update the mysql config in the docker-composer.yml with this code block in the laradock directory:

[code]

I was able to change the ports from "3306:3306" to "3306:3307", but I was not able to update the mysql root password from the default password.  I've tried a few approaches to this problem.
1.  Searching and changing the default password "root" thr

[2016-10-21 02:52] appleboy commented on #383
Try the following steps:

remove all container:

[code]

rebuild container with `--no-cache` flag:

[code]

[2016-10-21 06:58] whsiao commented on #383
Thank you for replying.  I've tried the steps, and unfortunately that didn't change the default password to the one I specified in my code example.

I tried changing the format of the configuration to the code:
[code]

The configuration I tried above didn't change the password default to password1.

[2016-10-21 07:27] appleboy commented on #383
Try the following format of environment:

[code]

[2016-10-22 19:51] #382 closed

[2016-10-23 03:49] hopewise commented on #381
Ok, got it, thanks, but how would I check real `xdebug.so` path?

[2016-10-23 06:52] hopewise opened #385 "./xdebugPhpFpm: Permission denied"
in the php-fpm Container, in laradock folder, I tried to run:

    ./xdebugPhpFpm status

but I got:

    ./xdebugPhpFpm: Permission denied

I tried sudo after installing it, but I got:

[code]

So, what do I miss?

[2016-10-23 07:11] hopewise commented on #385
I also tried:

    docker exec --user=laradock laradock_php-fpm_1 bash

but I got:

    unable to find user laradock: no matching entries in passwd file

[2016-10-23 14:05] Shmp commented on #379
Got another problem now:
` #1130 - Host '172.18.0.7' is not allowed to connect to this MySQL server`
`mysqli_real_connect(): (HY000/1130): Host '172.18.0.7' is not allowed to connect to this MySQL server`

deleted data, rebuilded all containers serveral times, added --bind-address=0.0.0.0

can't connect to the database...

[2016-10-24 09:15] dsampaolo commented on #131
Actually this is embedded in LaraDock : SSH into your workspace by adding --user=laradock on the command line, ie :

docker-compose exec --user=laradock workspace bash

Laradock is user with PUID 1000, PGID 1000, so it's "mapped" to the first created user on the host machine.

[2016-10-24 14:33] manshoor opened #387 "I'm using laradock for Codeigniter 3"
I'm getting this issue in my project.

PHP Startup: Invalid library (appears to be a Zend Extension, try loading using zend_extension=opcache.so from php.ini)

[2016-10-24 14:50] philtrep commented on #387
I believe this is a duplicate of #325

[2016-10-24 14:50] #387 closed

[2016-10-24 18:16] Mahmoudz commented on #387
@manshoor could you share with us the steps of how to setup codeigniter on laradock? I'd like to mention that in the documentation. If you prefer you can send a PR or just comment it here and I'll move it to a new section in the docs. Thanks.

[2016-10-24 18:17] Mahmoudz commented on #385
@hopewise I think @LarryEitel can help with that.

[2016-10-24 18:46] hopewise commented on #253
I have the same issue on Ubuntu 16, but I don't know how to upgrade docker-compose to 1.8 ?!

[2016-10-24 19:25] philtrep commented on #253
@hopewise take a look at https://docs.docker.com/compose/install/#/alternative-install-options

[2016-10-25 03:18] hopewise commented on #253
thanks

[2016-10-25 14:51] LarryEitel commented on #381
First bash into `workspace` container.

I prefer to `SSH` directly into `workspace` however you can also do so from anywhere as long as you have the container running if using Windows:

`winpty docker exec -it $(docker-compose ps | grep workspace | cut -d" " -f 1) bash`

Remove `winpty` if not.

Grab location of installed modules/extensions:

` php -i | grep extension`

You should see something li

[2016-10-25 15:06] LarryEitel commented on #385
Sorry for the delay. Everyone keeps throwing more rocks on my pile!!!

I pulled down the latest just now and ran the command from `../laravel/laradock`:

`./xdebugPhpFpm status`

It returned:
[code]

I thought the `Unable to load ... aerospike.so` was previously resolved. Anyway, I do not see a `Permission denied` error.

Curious, did you switch on xdebug for php-fpm in the `docker-compose.yml` fi

[2016-10-25 16:48] g0ld3lux commented on #161
awesome ill check into it thanks

[2016-10-25 18:54] scoutman57 commented on #381
:D +1 for just in time configuration

On Thu, Oct 20, 2016 at 2:24 PM, Larry Eitel <notifications@github.com>
wrote:

[2016-10-25 21:15] Lopez-i opened #389 "i got SQLSTATE[HY000] [2002] Connection refused"
i've running apache2 and mysql containers and i follow your tutorial but i got SQLSTATE[HY000] [2002] Connection refused

[2016-10-25 21:26] manshoor commented on #387
@Mahmoudz
yes sure, it's actually the same as Laravel but here is the only change for mysqli extension in php-fpm/Dockerfile-56

# PHP extensions

RUN docker-php-ext-install mysqli

RUN docker-php-ext-install tokenizer

[2016-10-26 00:29] ludk17 commented on #93
Error

mariadb_1             | 2016-10-26  0:25:11 139965033494464 [Note] mysqld (mysqld 10.1.18-MariaDB-1~jessie) starting as process 1 ...
mariadb_1             | 2016-10-26  0:25:11 139965033494464 [Note] InnoDB: Using mutexes to ref count buffer pool pages
mariadb_1             | 2016-10-26  0:25:11 139965033494464 [Note] InnoDB: The InnoDB memory heap is disabled
mariadb_1             | 2016-

[2016-10-26 05:44] hopewise commented on #381
I've also noticed that I can just set `xdebug.so` without a path, and it work..

[2016-10-26 05:51] hopewise commented on #385
yes, I did set it to true

[2016-10-26 08:35] Lopez-i commented on #389
i work on macOS Sierra

[2016-10-26 09:04] Lopez-i commented on #389
ok Solved by adding MYSQL_HOST=mysql but there is no way to configure with 127.0.0.1 ? and same for redis ?

[2016-10-26 11:23] LarryEitel commented on #385
Dumb question... you are running `./xdebugPhpFpm status` from the host prompt rather than Inside php-fpm container?

What OS are you running Docker on?

[2016-10-26 11:48] hopewise commented on #385
From inside the container, I am running docker on OS X, Capitan 10.11.16

[code]

[2016-10-26 11:50] LarryEitel commented on #385
So to be clear, the command should be run from the same prompt where you run docker-compose. :) Not Inside any of the running containers.

[2016-10-26 12:01] philtrep commented on #389
@Lopez-i Glab you got it to work. Thing is, these services are all runing in different containers, that's why you can't access other services through 127.0.0.1.

Do you have a particular reason for wanting them accessible through 127.0.0.1?

[2016-10-26 12:01] hopewise commented on #385
oh, sorry! I thought that `in the php-fpm Container` is, from inside the container, I think the doc needs to be little more clear for dumbs 🤐

[2016-10-26 12:01] #385 closed

[2016-10-26 12:04] philtrep commented on #385
@hopewise if the doc is not clear I encourage you to do a PR with a rewording :)

[2016-10-26 12:14] hopewise commented on #385
sure!  but I still have some questions please.

Would you explain how docker-compose work? what is meant by

[code]

And how
[code]
led to the folder in which LaraDock folder in?

What is `tty: true` ?

Also, aren't we have two php interpreters? one in the workspace container? and another in PHP-FPM container? which one to point to from PHPStorm?

[2016-10-26 12:17] philtrep commented on #379
@Shmp

Try flushing the privileges and recreating the user with a more permissive host (`%`). If this doesn't work, do a dump, delete all the `data/mysql`, recreate the container and import the dump in your fresh database.

[2016-10-26 12:22] LarryEitel commented on #385
PHP in php-fpm is what is used by web server and is what is controlled by ./xdebugPhpFpm. PHP in workspace is what is used when running php unit tests.

[2016-10-26 12:25] hopewise commented on #385
I see, thanks.
Here is [PR](https://github.com/LaraDock/laradock/pull/391) about where to run the xdebugPhpFpm command

[2016-10-26 12:25] philtrep commented on #385
@hopewise I'd rather not give you an mediocre answer, I suggest reading the [docker compose documentation](https://docs.docker.com/compose/compose-file/) if you want learn more.

And thanks for the PR :)

[2016-10-26 12:29] hopewise commented on #385
you are welcome

[2016-10-26 13:41] brianvice commented on #353
Take a look at this project: https://github.com/IFSight/d4m-nfs There is a small issue with the script, but if you see the issue comments on the repo there is a simple fix for them. Using this script in conjunction with laradock decreased my api calls from ca. 10 seconds waiting to ca. 1 second waiting.

[2016-10-26 14:07] Lopez-i commented on #389
no i've not and i notice that laradock running very slowly

[2016-10-26 14:19] philtrep commented on #389
@Lopez-i I'm closing this since your issue has been fixed.

About LaraDock running slowly, please have a look at #353.

[2016-10-26 14:19] #389 closed

[2016-10-26 15:08] philtrep opened #392 "Standardize syntax in docker-compose.yml"
We're currently using two syntax in the default `docker-compose.yml`:

[code]

and

[code]

To make it easier to understand, I believe we should change the lines using the second syntax to the first (actual YAML collections).
#383 is a good example of having multiple syntaxes being confusing.

What do you guys think?

[2016-10-26 21:50] calebfavor opened #393 "xDebug PhpStorm Working Via CLI - Not Working Via Web Page/Apache"
Hello I am having an issue getting php-fpm to trigger debugging when hitting web pages. I have setup everything correctly as far as I know, here are my configs:

docker-composer.yml:
![image](https://cloud.githubusercontent.com/assets/5841780/19746314/b57c865c-9b8a-11e6-930c-ec23b432dd8a.png)

php-fpm/xdebug.ini:
![image](https://cloud.githubusercontent.com/assets/5841780/19746336/cda31cfa-9b8a-11

[2016-10-26 22:23] LarryEitel commented on #393
Check out a Pull Request I submitted: [phpstorm-guide](https://github.com/LarryEitel/laradock/blob/phpstorm-guide/_guides/phpstorm.md). That may give you some ideas. [This branch](https://github.com/LarryEitel/laradock/blob/phpstorm-debug/_guides/phpstorm.md) actually has various settings switched on. In other words, this branch actually is fully configured to successfully debug in PHPStorm. Hope

[2016-10-26 22:35] calebfavor commented on #393
@LarryEitel - Thanks for getting back to me! I actually used your guide to get setup (the guide is awesome). My files/settings match that branch exactly, however I still cant get it to work through the web. It works when I call files directly from the CLI, makes me think everything is setup correctly. I think I've pin pointed the issue to php-fpm simple not triggering a remote debug session when b

[2016-10-26 22:45] LarryEitel commented on #393
Your dockerhost IP appears to be your local network IP. You would need to make sure that port 9000 is open or PHPStorm app is open in firewall.

Do you get some kind of error like "Failed to connect to xdebug"?

[2016-10-26 22:51] LarryEitel commented on #393
Can you find your docker host IP? Mine is `10.0.75.1` Here is one way on Windows:
<img src="https://farm6.staticflickr.com/5693/30500352911_748ed5d939.jpg">

[2016-10-26 23:11] calebfavor commented on #393
@LarryEitel - I had no idea docker ran another adapter! Yes my host IP is 10.0.75.1. I changed my dockerhost to that in the compose file and rebuilt. Still have the exact same issue. I do get that error when trying to run xdebug in a test. I have the remote interpreter setup as per your guide, and I can run phpunit tests through docker inside php storm successfully. However when I try and run the

[2016-10-26 23:15] LarryEitel commented on #393
Almost positive that your firewall is blocking port 9000. I actually installed telnet in php-fpm to conveniently verify I was able to connect to PHPStorm.

Also, you DO have PHP remote debug running right?

[2016-10-26 23:16] LarryEitel commented on #393
Did you change to 10.0.75.1? Otherwise you will not be able to reach your local IP unless you configure your router to route traffic from public to your local IP.

[2016-10-26 23:23] calebfavor commented on #393
@LarryEitel - Yes I did change the dockerhost lines to 10.0.75.1. I have verified the php-fpm container can access my hosts ip on port 9000:

![image](https://cloud.githubusercontent.com/assets/5841780/19748698/47f84180-9b98-11e6-9342-2ebce995ca1e.png)

I am not sure what you mean by having 'php remote debug' running. I have the php-fpm apache2 containers running. Also yes I can successfully debug

[2016-10-26 23:27] LarryEitel commented on #393
https://raw.githubusercontent.com/LarryEitel/laradock/phpstorm-debug/_guides/photos/PHPStorm/DebugRemoteOn.png

Is this running in your PHPStorm?

[2016-10-26 23:30] calebfavor commented on #393
Yes:

![image](https://cloud.githubusercontent.com/assets/5841780/19748873/73bac472-9b99-11e6-851b-bb12a66dcc3b.png)

![image](https://cloud.githubusercontent.com/assets/5841780/19748879/7a67c806-9b99-11e6-8dfc-fb12c7f6c272.png)

[2016-10-26 23:32] LarryEitel commented on #393
Unselect the 'phone' icon. :)

[2016-10-26 23:38] calebfavor commented on #393
That seemed to have no effect. I dont think php-fpm is even attempting to connect to phpstorm.

[2016-10-26 23:43] LarryEitel commented on #393
When you run ./xdebugPhpFpm status from laradock folder does it say the xdebug is enabled?

[2016-10-26 23:46] LarryEitel commented on #393
I just realized that you said that you cannot connect xdebug when running unit tests. You don't need to have remote debugging on for that.

[2016-10-27 00:05] calebfavor commented on #393
Yes xdebug is enabled, I can see that it is enabled and set correctly via the phpinfo page.

[2016-10-27 00:08] LarryEitel commented on #393
Curious, are you running on a MAC?

Also, how about we focus on unit test debugging first. Turn of Remote debugging. Right-click on ExampleTest and select debug.

[2016-10-27 00:14] calebfavor commented on #393
I get the same error:

![image](https://cloud.githubusercontent.com/assets/5841780/19749656/8cbd6a96-9b9f-11e6-919e-2f80ed347685.png)

Clicking 'validate installation' has no effect.

I am done for today, thanks so much for your help thus far I really appreciate it.

[2016-10-27 15:40] calebfavor commented on #393
@LarryEitel - I am running on windows. Here is the output when running a test inside phpstorm with debugging:

`sftp://root@localhost:2222/usr/bin/php -dzend_extension=/usr/lib/php/20151012/xdebug.so -dxdebug.remote_enable=1 -dxdebug.remote_mode=req -dxdebug.remote_port=9000 -dxdebug.remote_host=172.18.0.1 /root/.phpstorm_helpers/phpunit.php --configuration /var/www/laravel/phpunit.xml --filter "/

[2016-10-27 16:18] LarryEitel commented on #393
-dxdebug.remote_host=172.18.0.1

where is that IP?

Are you available on Skype?

[2016-10-27 17:31] calebfavor commented on #393
@LarryEitel - After our chat and getting everything working, I was able to reverse engineer some of the steps and how they work. Here is a breakdown of what solved my problem.

First off I was using localhost (mapped to 127.0.0.1) to load my application in the browser, which does _work_ (since port 80 is mapped), but causes issues with network access on ports other than 80, therefore not allowing

[2016-10-27 17:34] calebfavor commented on #393
One other thing, inside your docker-compose.yml, the php-fpm and workspace 'extra_hosts' -dockerhost: NEED to be set to the main docker adapters IP:  '10.0.75.1'

![image](https://cloud.githubusercontent.com/assets/5841780/19778289/e9b84874-9c30-11e6-8693-75fd88084bd2.png)

[2016-10-27 17:46] LarryEitel commented on #393
I am very glad that you are up and running. I will further refine the guide per your observations.

I assume that you can now close this issue. :)

[2016-10-28 14:09] g0ld3lux commented on #143
Im also looking for a solution to scale easily using laradock...
i found rancher ... still looking and learning... Hope we can Make this Work out in the Near Future , hope others can share also their ideas and experience and make sugguestion How we can improve laradock ...
for scaling in production

[2016-10-28 18:02] aft3rlife commented on #93
Same error here on a fresh install of Laradock. Happens with both MariaDB and MySQL.

[2016-10-28 22:08] andrewmclagan commented on #143
Kuberbetes is the most mature IMO

[2016-10-29 11:34] sulfo opened #394 "Mysqld container exits with code 141"
Hi there.
I'm having a rather strange problem with the mysql container. It seems to happen after the creation, where the linking begins.

So I ran `docker-compose up --build --force-recreate nginx mysql` to make sure everything was as fresh it could be. No changes to the `docker-compose.yml` has been made.

[code]

Dose the `7faee6976740` mean there is a permission issue (but why??) and if so how

[2016-10-29 15:03] philtrep commented on #394
@sulfo Try checking the permissions in the `data` directory. If everything is permisive enough, try deleting the directory and re-running the containers.

[2016-10-29 15:52] sulfo commented on #394
@philtrep The permissions for the data directory runs  chmod `drwxr-xr-x` so I don't think that is the problem.
Tried to delete `data` directory too, but it changed nothing. Also chmod 777 without any effects.
I'm using the Docker Toolbox, to get it running on my old Mac.

[2016-10-30 00:28] g0ld3lux commented on #143
How do you say its more mature , in the sense of?

[2016-10-30 10:29] manshoor commented on #394
Hey @sulfo try removing all containers and images and remove "Laradock" files and pull the repo again.

[2016-10-30 13:32] riccardoravaro commented on #93
Same error

php_1      | [30-Oct-2016 13:30:25] NOTICE: fpm is running, pid 5
mariadb_1  | 2016-10-30 13:30:25 140095212170280 [Note] InnoDB: Using Linux native AIO
mariadb_1  | 2016-10-30 13:30:25 140095212170280 [Note] InnoDB: Using SSE crc32 instructions
mariadb_1  | 2016-10-30 13:30:25 140095212170280 [Note] InnoDB: Initializing buffer pool, size = 1.0G
php_1      | [30-Oct-2016 13:30:25] NOTI

[2016-10-30 14:49] dsampaolo opened #395 "phpunit not found when logged in with user laradock"
Adding

[code]

in /home/laradock/.bashrc fixes the problem

[2016-10-31 08:18] adominik42 opened #397 "Error building NGINX"
I get the following error when i try to build nginx container:
ERROR: Service 'caddy' failed to build: The command '/bin/sh -c apk update     && apk upgrade     && apk add tar curl' returned a non-zero code: 2.

[2016-10-31 12:06] Mahmoudz commented on #397
Can you try now: pull the latest master branch and rebuild your container.

[2016-10-31 12:08] #363 closed

[2016-10-31 12:16] philtrep commented on #395
@dsampaolo Hey there, thanks for finding this issue. Could you create a PR for it?

[2016-10-31 12:55] adominik42 commented on #397
After pulling latest master branch and rebuilding all my containers(just in case), at nginx step 6, same error again.

`Step 6 : RUN apk update     && apk upgrade     && apk add --no-cache bash     && adduser -D -H -u 1000 -s /bin/bash www-data     && rm /etc/nginx/conf.d/default.conf     && echo "upstream php-upstream { server ${PHP_UPSTREAM}:9000; }" > /etc/nginx/conf.d/upstream.conf
 ---> Runni

[2016-10-31 16:26] Mahmoudz commented on #387
@manshoor could you try the last laradock release 4.8.0 and confirm that Codeigniter is running perfectly, you may need to check this section for some help [https://github.com/LaraDock/laradock#Install-Codeigniter](https://github.com/LaraDock/laradock#Install-Codeigniter) Thanks.

[2016-10-31 16:35] Mahmoudz commented on #76
@ojhaujjwal @psampaz @mattythebatty I've implemented this feature for Codeigniter in this [commit](https://github.com/LaraDock/laradock/commit/6ee790c26d5267f9d6e96b3c7c98b9688d226c7b) check it out, it's a simple argument `CODEIGNITER=false` when set to true, it modify the default laravel configs to work with the other projects.. I'm willing to add `wordpress`, `symfony` and `drupal` in the future

[2016-10-31 16:35] #76 closed

[2016-10-31 17:11] ojhaujjwal commented on #76
@Mahmoudz Great work mate. I will create a PR for magento support soon :D

[2016-10-31 20:09] sashaaro opened #398 "Symfony AsseticBundle problem. How run node command via php"
Hi. I use symfony and  [Assetic Bundle](https://github.com/symfony/assetic-bundle). (it use [kriswallsmith/assetic](https://github.com/kriswallsmith/assetic)).
It don't work and throw exception
`Path to node executable could not be resolved  in /var/www/ho/vendor/kriswallsmith/assetic/src/Assetic/Filter/UglifyCssFilter.php line 111`
 Seems php execute nodejs.
[In bundle settings I can set nodejs p

[2016-11-01 00:54] Mahmoudz commented on #54
@luis-don-dev @ellisio @LarryEitel @tjb328 @midascodebreaker @EricTendian @tristanbailey @appleboy @philtrep hi guys first I'd like to thank you for your support and inspiration to implemented this feature.

Kindly note that today I implemented that feature. This is definitely not a production feature but it seems to be very useful on development to speed up things..

Kindly check this [doc](https

[2016-11-01 02:10] whsiao commented on #383
I tried that configuration, and it is still not working.  Also I tried changing the mysql port with this:

[code]
But when I ran `docker-compose build --no-cache mysql`, it did not change the port from 3306 to 3307 instead it kept to 3306.

Output from build:
[code]

  Is there some step I need to do to setup database and laravel environment before running 'docker-compose up mysql'.  Some permissi

[2016-11-01 02:45] appleboy commented on #383
Please update as following.

[code]

[2016-11-01 04:43] I-am-Khoa commented on #381
![image](https://cloud.githubusercontent.com/assets/5976944/19879650/921b981e-a027-11e6-8be9-138ad0cca6d7.png)
I'm using Window host, I was trying to config xdebug but can not succeed. Even I try with command in Docker Quick Terminal
$ ssh -i workspace/insecure_id_rsa root@jobtown.dev
Then this asked me password.
root@jobtown.dev's password:
What am I doing wrong?

[2016-11-01 06:23] dsampaolo commented on #395
@philtrep sure, here you are.

[2016-11-01 07:51] #395 closed

[2016-11-01 09:54] Gdewilde commented on #321
I'm having the same difficulties with the csrf token. The token is being created and passed into the form but it still gives a token missmatch exception. The csrf_token issue is related to laradock because I tested it on homestead and it didn't threw the error.

[2016-11-01 10:57] I-am-Khoa commented on #381
I solved my problem by https://gist.github.com/cimmwolf/7d67443c30e10f46b6ac
For whom got the trouble like me.

[2016-11-01 11:26] hopewise commented on #381
Where is that file located?

[2016-11-01 22:35] limatheus opened #402 "Encountered errors while bringing up the project."
Hi,

After last release, running  `docker-compose up -d nginx mysql redis` I got de following error:
[code]
Any tip?

[2016-11-01 23:18] whsiao commented on #383
Thanks.  Got that part working.  Still trying to figure out why the environment information is not being used in the spin up of the mysql docker container.

[2016-11-01 23:50] limatheus commented on #402
Hello again,

I solved this issue removing all images with `docker rmi $(docker images -q)` and running `docker-compose up -d nginx mysql redis`.

Thank you anyway

[2016-11-02 02:18] I-am-Khoa commented on #381
Actually it's not anywhere. I copied its content to workspace's Dockerfile where SSH was executed.

[2016-11-02 05:34] appleboy commented on #397
I can't reproduce this issue.

[code]

I think you can try to download `http://dl-cdn.alpinelinux.org/alpine/v3.4/main/x86_64/APKINDEX.tar.gz` first.

[2016-11-02 11:20] sulfo commented on #394
Hey @manshoor and @philtrep. Thanks for trying to help me. So I removed all containers and images with the commands `docker rm $(docker ps -a -q)` and `docker rmi -f $(docker images -q)`.

Created a new directory, outside my project so I could eliminate any problems my project could have (I don't think there is any, but better be safe). However this did not fix the problem. 😞

I was able to instal

[2016-11-02 11:44] philtrep commented on #394
@sulfo Yeah you have to use Docker Native on Mac. I mostly use a Mac (also at 10.10) for development and everything works great. I suggest removing Toolbobx and installing Docker by itself.

Anyhow since you plan to go back to Homestead I'll close this issue.

[2016-11-02 11:44] #394 closed

[2016-11-02 12:05] sulfo commented on #394
I will give it a try by running Docker native on my Mac. Got nothing to lose ;-)

[2016-11-02 22:36] manshoor commented on #398
@sashaaro have you enabled Node in workspace container?

if you do, than go to your workspace container and try this

`node -v` to see the version of installed node

`npm install -g uglifycss uglify-js` Install uglify css and js using npm

`ls /usr/local/bin/ | grep 'ugli'` use this command to see if files exists

If you find both of file using the above command then go to your Symfony dir and try

[2016-11-03 02:47] jfoliveira commented on #54
Hi @Mahmoudz,

I followed the steps in the [doc for setting up multiple projects](https://github.com/LaraDock/laradock#b-setup-for-multiple-projects) but I'm unable to access `http://project1.dev` from the host (Mac OS X El Capitan).

Is there any step missing on the doc?

The `nginx/sites` setup seems to be correct, as verified with the commands below:

[code]

Any ideas why `http://project1.dev`

[2016-11-03 03:00] jfoliveira commented on #54
Of course I was forgetting some very simple step: I fixed by editing `/etc/hosts` file adding new entries for my new projects:

[code]
This did the trick! Thanks!

[2016-11-03 10:00] manshoor commented on #387
@Mahmoudz Yep it worked like a charm (y)
I'm setting up a Symfony application on Laradock, I'll share the PR with you :)

[2016-11-03 13:21] sashaaro commented on #398
Yes. I enabled.`node -v` show me `v7.0.0` after `su laradock`.
why need install global? I have "package.json"
`which node` said `/home/laradock/.nvm/versions/node/v7.0.0/bin/node`
uglifyjs - `/var/www/symfony/node_modules/uglify-js/bin/uglifyjs`.
In console `/home/laradock/.nvm/versions/node/v7.0.0/bin/node node_modules/uglify-js/bin/uglifyjs` work.
I set these paths in settings. But it is not wor

[2016-11-03 13:42] Mahmoudz commented on #54
@jfoliveira sorry for that yes this is a missed step, I'll add it to the doc soon. Thanks

[2016-11-03 13:42] Mahmoudz commented on #387
@manshoor amazinggg thanks

[2016-11-03 20:30] markdev opened #404 "Trying to connect to mysql via a port other than 3306"
I am trying to run two different instances of the mysql image (one for production, one for integration testing).  I need to assign these instances to different ports (ideally "prod" talks to port 1306 and "test" talks to 2306), but I cannot get `workspace` to talk to anything other than port 3306.

Here's my attempt to get a connection to 1306:

docker-compose.yml:
[code]

.env:
[code]

database/c

[2016-11-03 20:44] philtrep commented on #404
@markdev The MySQL image exposes port `3306` to the other services by default.

The `port` option in the Docker Compose config is for forwarding the port to the host.

You need to use the `expose` option in Docker Compose (works the same as `EXPOSE` in the Dockerfile) to allow other services to connect.

[code]

You can also modify the default `EXPOSE 3306` to `EXPOSE 1306` in the `mysql` Dockerfi

[2016-11-03 20:58] philtrep commented on #398
@sashaaro I think you're going to have to install node in the `php-fpm` container. The `workspace` is what installs node, I see no reason why your application should be able to find the executable since it doesn't run from `workspace` (it's two separate file systems). You could create a shared volume if you only want a single instance of the executables but that sounds like overkill.

[2016-11-03 20:58] Mahmoudz opened #405 "PHP-FPM Bug when `aerospike` is disabled (default behavior)"
Reproducing steps:
1. `docker-compose up -d php-fpm`
2. `docker-compose exec php-fpm bash`
3. `php` or any php command `php -v`

**Error Details:**

[code]

After setting Aerospike to true in the docker-compose file and rebuild I get this warning:

[code]

[2016-11-03 22:25] markdev commented on #404
@philtrep Thanks for the prompt response!

I've made all the changes, but the problem persists.  Here's the current configuration:

.env:
[code]

mysql/Dockerfile
[code]

docker-compose.yml
[code]

Same thing; if `DB_PORT` in .env is 3306 it works; otherwise no dice.

When I run `docker-compose ps`, I see this for the mysql container:
[code]

[2016-11-03 22:35] philtrep commented on #404
@markdev

Try adding `port = 1306` in `my.cnf`, that should do it.

[2016-11-03 22:51] markdev commented on #404
Same problem :(

my.cnf
[code]
Also tried putting `port = 1306` after `[mysql]`

Same result; `docker-compose ps` still shows `0.0.0.0:1306->1306/tcp, 3306/tcp`.

[2016-11-04 01:33] philtrep commented on #404
@markdev Did you use the `--force-recreate` flag? Also try connecting from within the MySQL instance. To go within the MySQL container use `docker-compose exec mysql bash`.

[2016-11-04 07:03] sashaaro commented on #398
But I have "package.json".
I got. Seems I can't do it without instalation node in both containers, sad.

[2016-11-04 18:17] sahithithandra commented on #93
Hi,

I also have a same error when trying to start Maria 10.1.8 on Ubuntu 14.04 ~trusty.  Did you guys find any solution?
![aria_error](https://cloud.githubusercontent.com/assets/15042896/20017326/77c63d74-a299-11e6-9c2c-47f85d7d889d.PNG)

[2016-11-04 18:22] philtrep commented on #398
@sashaaro Yes, sadly your use case is pretty specific. If you feel like making PR with your current solution please go ahead. I'm closing this for now.

[2016-11-04 18:22] #398 closed

[2016-11-04 18:23] philtrep commented on #359
@edmundluong Any progress on this? If you aren't actively working on it we'll add an `Help Wanted` tag since this looks like a desired feature.

[2016-11-04 18:26] scoutman57 commented on #398
I think the proper solution would be to have  container for node and share that. As you would do with any other languages that you need.  @philtrep i agree that this is a pretty specific issue, but in the laravel world it's not that uncommon because there are 11+ million installs of assetic-bundle. I think we need to fix this globally. @Mahmoudz  what do you think?

[2016-11-04 18:30] scoutman57 commented on #359
This is a much needed feature

[2016-11-04 18:33] edmundluong commented on #359
@philtrep Unfortunately I am unable to work on this at point in time so perhaps it's best to add the tag. Thanks!

[2016-11-04 18:45] philtrep commented on #359
@edmundluong Sounds good, thank you for the fast reply and the idea.

We are now looking for people willing to implement this.

[2016-11-04 18:54] philtrep commented on #398
@scoutman57 I hadn't realized that was such a popular tech.

I can't speak for @Mahmoudz but I think it's a great idea to have a `node` container that makes the executables accessible to all the services.

[2016-11-04 21:37] markdev commented on #404
@philtrep thanks again for taking the time to look at this.

I've done `--force-recreate` and done quite a few builds from scratch (removing all images).

I tried building a new laravel project with laradock as a submodule, and get this error when I run `docker-compose up -d workspace nginx mysql`:
[code]

Not sure where this is coming from, but it's probably related.

[2016-11-05 01:33] Kianda opened #406 "Cannot start service workspace"
OS: macOS 10.12
Docker: 1.12.1
Laradock: tag 4.10.0
Installation type: A.1) Setup environment in existing Project

Issue:
$ docker-compose up -d nginx mysql
Creating laradock_applications_1
Creating laradock_mysql_1
Creating laradock_workspace_1

ERROR: for workspace  Cannot start service workspace: oci runtime error: no such file or directory
ERROR: Encountered errors while bringing up the projec

[2016-11-05 12:20] michaeljhopkins commented on #319
I had this issue. My environment (host) is OSX with a full laravel dev setup previously installed on my host.

Running `valet stop` fixed it

[2016-11-05 13:15] tylerkoldenjtp commented on #406
OS: Ubuntu 16.04.1 LTS
Docker: version 1.12.3, build 6b644ec
Laradock: tag 4.10.0
Installation type: A.1) Setup environment in existing Project

Issue:
$ sudo docker-compose -p test up -d nginx postgres elasticsearch redis

Creating test_applications_1
Creating test_postgres_1
Creating test_redis_1
Creating test_workspace_1

ERROR: for workspace  Cannot start service workspace: invalid header fiel

[2016-11-05 13:41] michaeljhopkins commented on #353
as @brianvice suggested, nfs definitely speed things up. I used this project to enable nfs mounts on my Mac (technically a Hackintosh, but I'm not sure that's relevant). https://github.com/adlogix/docker-machine-nfs

The performance boost seems to be 13%.
* Laravel/laravel from 283ms to 245ms. [Blackfire delta](https://blackfire.io/profiles/compare/e0e6d214-7c57-4970-b2cc-26a354e56294/graph)
* Per

[2016-11-05 14:22] michaeljhopkins commented on #359
Unable to implement. But very interested in having this available

[2016-11-05 23:26] Mahmoudz commented on #398
@scoutman57 @philtrep well yes I thought of that before but wasn't sure how easy and convenient would be to separate Node on it's own container. I think we should try it and find out.

@scoutman57 feel free to open a new Issue requesting that feature.

[2016-11-05 23:45] jschaftenaar opened #408 "Moving from homestead to laradock running into problems with NPM"
When running npm install in the workspace I run into this error for many packages

npm ERR! tar.unpack untar error /root/.npm/request/2.65.0/package.tgz

Things I have tried so far:
removed the ~/.npm and node modules directory and ran npm cache clean will still result in the same problem.

running tar -xvzf on the archives will untar them without incident.
Not sure if this is specific to laradock

[2016-11-06 01:01] Kianda commented on #404
@markdev how is your structure made?
-projectABC
--laradock
---docker-compose-testing.yml
---docker-compose-production.yml

something like this?

[2016-11-06 03:26] appleboy commented on #408
@jschaftenaar Please provide your `packages.json` config.

[2016-11-06 03:31] jschaftenaar commented on #408
this is my packages.json

`{
  "private": true,
  "scripts": {
    "build": "webpack --progress --colors --watch"
  },
  "devDependencies": {
    "babel": "^6.5.2",
    "bootstrap-sass": "^3.0.0",
    "css-loader": "^0.23.1",
    "eslint": "^2.10.1",
    "eslint-config-standard": "^5.3.1",
    "eslint-config-standard-jsx": "^1.2.0",
    "eslint-config-standard-react": "^2.4.0",
    "eslint-plugin-

[2016-11-06 03:33] jschaftenaar commented on #408
Other things I have tried include the --no-bin-links option and different versions of npm and node.

[2016-11-06 04:03] jschaftenaar commented on #408
when running the workspace as user laradock I am running into a bunch of these errors

[code]

[2016-11-06 04:13] appleboy commented on #406
I try to remove all workspace container and images and rebuild again. It is working for me on tag `v4.10.0`

[2016-11-06 16:54] bruno-farias commented on #406
+1 with the same problem

Client:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:        Wed Oct 26 22:01:48 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:        Wed Oct 26 22:01:48 2016
 OS/Arch:      linux/amd64

[2016-11-06 17:27] Kianda commented on #406
Thanks @appleboy that fixed my issues!

[2016-11-06 18:27] #406 closed

[2016-11-07 05:31] javiertoledos opened #409 "Configure NGINX to load multiple projects based on domain automatically"
It would be nice to enable loading multiple projects based on the domain used without having to add extra config files. Instead of manually creating each projectname.conf file inside nginx/sites/ you can open the project site by typing in your browser "project1.laravel.dev" and mapping it to ../$project1 folder. In this way, you don't even need to add an extra volume or nginx conf for multiple pro

[2016-11-07 16:53] joaojoyce opened #410 "Supporting PostGis"
Is there any plan on supporting PostGis?

If not could someone give me a help on the best way to add it to laradock?

Thank you very much.

[2016-11-07 22:32] Mahmoudz commented on #409
@javiertoledos that looks great solution, just my concern is does this work with subdomains?!
say my website has these 2 domains `api.website.dev` and `admin.website.dev` will they work with the setup above? Note the current solution is not working with subdomains for some reason!

If so I'd love to get PR from you.

Best,

[2016-11-08 00:08] manshoor commented on #409
Hey @Mahmoudz,

I have been use the subdomain like this on Laradock
`server_name la.local *.la.local;` and it's working perfectly fine.
One thing though Laradock is extremely slow (5x slow than homestead) on my side and because of it I'm not able to use it properly

[2016-11-08 01:14] philtrep commented on #410
@joaojoyce

I don't believe anyone has suggested it yet. If you want to create a PR go right ahead :)

I think you will find https://hub.docker.com/r/mdillon/postgis/ relevant, it seems to be actively supported. As far as the configuration goes, something similar to the current Postgres config should do it.

You can always create an initial PR for review if you feel like your code can/should be im

[2016-11-08 02:33] danielsdeboer opened #411 "Error when creating phpmyadmin"
When running `docker-compose up -d mysql phpmyadmin` I get this error:

Everything else builds and runs fine except for phpmyadmin.

[2016-11-08 02:37] appleboy commented on #411
@danielsdeboer I will take this.

[2016-11-08 03:28] lichnow opened #412 "multiple projects setting?"
According to the documentation, we can have multiple projects with nginx but it is not clear on how to set multiple mysql or mariadb?

I use symfony3. In production env, symfony will use app.php and in dev it will use app_dev.php.

How can I edit the nginx conf  to let the symfony app decide what file (app.php or app_dev.php) will be the entry?

[2016-11-08 06:36] korneliuskristianr commented on #411
Hi @danielsdeboer :
[code]

[2016-11-08 06:51] korneliuskristianr commented on #408
I've same problem with npm

[2016-11-08 11:56] naretini opened #413 "404 Not Found nginx error (on MacOSX)"
I followed instructions in order to configure laradock with multiple sites.

But I keep having the erro on this issue's subject.

What I find strange is the by entering my nginx container I don't find my defined *.conf files
in /etc/nginx/sites-available/
as I created them unde ../laradock/nginx/sites/*.conf
as I see on nginx/Dockerfile there's a istruction : COPY sites/*.conf /etc/nginx/sites-ava

[2016-11-08 12:16] naretini commented on #413
I've found out my problem.
Since I switch from an older version of laradock to a new version today.
After setting up multiple sites for nginx container.

I was only refreshing docker's config by

$ docker-compose down && docker-compose up -d nginx

You actually need to perform a

$docker-compose build nginx

too anytime you change Dockerfile under nginx folder

[2016-11-08 14:06] danielsdeboer commented on #411
@korneliuskristianr Thanks, that worked great.

[2016-11-08 14:38] joaojoyce commented on #410
Thank you for your help.

I've created a Pull Request #414.
This needs revision because I'm new to docker and making pull-requests.

[2016-11-08 14:47] #411 closed

[2016-11-08 14:50] Mahmoudz commented on #409
@manshoor thanks for sharing I'll check that again, I have to say I didn't give enough time to try..

Well yes the speed is a problem, please check this issue https://github.com/laradock/laradock/issues/353 and hopfully we solve this soon if it's Laradock problem.

[2016-11-08 14:52] #410 closed

[2016-11-08 16:13] philtrep commented on #413
@naretini You can also use the `--build` argument with the `docker-compose up` command.

Closing this since you figured it out :)

[2016-11-08 16:13] #413 closed

[2016-11-08 18:29] jschaftenaar opened #415 "Installing Yarn"
[code]
Yarn does not seem to install. Also looking in /home/laradock/.yarn/bin or /root/.yarn/bin no yarn is to be found. While it seems to be downloading to ~/.yarn.

Any suggestions are appreciated.

[2016-11-09 03:55] g0ld3lux opened #416 "Feature Request : Yarn Package Manager As Separate Container"
I know There is already one Thread Here about Yarn...

Well For Those Who Doesnt Know Yarn...

Its a new Package Manager and that can replace npm or use hand in hand with npm...

The Good thing about Yarn is , We Dont Need to Download each dependencies everytime we destroy or create containers...

we Can Easily Install dependencies even offline...

The Idea is Have a Volume in our Local that is Li

[2016-11-09 09:43] moxar commented on #415
I just ran into the same issue.

[2016-11-09 12:30] naretini opened #417 "About multiple sites and multiple DBNames"
I see that there's the intention of updating laradock to use multiple db associate to the multiple sites.

What I'm thinking is that this could be performed within Laravel, but there's a but.

What I have in mind is to create a initial migration that will create the DB if not exists i.e.:

`
class CreateSchemaApp01 extends Migration
{
    /**
     * Run the migrations.
     * Setup App specific DB

[2016-11-09 14:56] Mahmoudz commented on #417
@naretini Thanks.
This could work but I don't think it's the best solution! since sometimes you need different mysql user for your Apps.. I think a better way would be to create the db by getting in the mysql container manually. But the best way is to run some sql statements that create custom DB's while container is booting and read those DB's credentials from the docker-compose file. I don't kno

[2016-11-09 15:18] moxar commented on #415
It seems the problem is that the $PATH of the workspace container cannot find node.

Here is a fix.

https://github.com/laradock/laradock/pull/418

[2016-11-09 15:49] naretini commented on #417
Well, since Docker is a development env. I don't feel the need of having multiple mysql users (at the moment). Mysql user for me could be always the "homestead".
I agree with you with solution of running a sql script after building the mysql container. I struggled to figure out how to get it working still with no success.

I didn't find yet a comprehensive guide on how to fire a shell script to th

[2016-11-09 20:20] #415 closed

[2016-11-09 20:20] Mahmoudz commented on #416
Should be fixed by #418.
Pull the latest LaraDock release and rebuild.

[2016-11-09 20:20] #416 closed

[2016-11-09 20:21] Mahmoudz commented on #415
@jschaftenaar Pull the latest LaraDock release and rebuild.

[2016-11-09 20:39] Shmp commented on #379
@philtrep I've read a few post on other project and it seems that mysql default doesn't allow connections from another host. Is there a way to edit some config or compose file to create a rule to allow connections?

[2016-11-10 12:35] tboztuna commented on #93
I updated mysql version  from 5.6 to 5.7 . The problem is resolved  now.

[2016-11-10 14:31] philtrep commented on #379
@Shmp try changing the `my.cnf` to:
[code]

You'll need to rebuild your container but I think that might do the trick...

[2016-11-10 14:53] philtrep commented on #404
@markdev Make sure you stop the previous containers, it sounds like a conflict between two instances of mysql.

I think Ive got a solution for you, try modifying the `my.cnf` to

[code]

Hopefully this will make mysql bind to the correct port. Now you would need to have 2x my.cnf and select which one to use while building the containers, perhaps by adding an extra build argument and a shell `if el

[2016-11-10 14:55] philtrep commented on #383
@whsiao please take a look at #404, I think you have a similar issue

[2016-11-10 18:12] whsiao commented on #383
@philtrep Yeah it is the same as #404.  I actually got the mysql container to work with the new root password.  My friend was working with me on the problem and found that that volume_data was was not taking in the changes from the docker-compose.yml.  He had me scrapped the laradock directory and pull in a fresh clone of laradock.  He found that the `volumes_from` with `-volumes_from:` was someho

[2016-11-11 10:47] LoopKarma commented on #393
I faced with same problem on Mac. I can debugging works from the CLI, but not from web pages

[2016-11-11 13:01] lexcode commented on #402
I got the same issue on my windows machine

ERROR: for workspace  Cannot start service workspace: invalid header field value "oci runtime error: container_linux.go:247: starting container process caused \"chdir to cwd (\\\"/var/www/laravel\\\") set in config.json failed: no such file or directory\"\n"
ERROR: Encountered errors while bringing up the project.

I tried @limatheus  solution but no luc

[2016-11-11 14:37] dtkoval commented on #353
Laradock by itself has no reasons to work slow. In my case it depends on the default Virtualbox driver which uses to mount volumes.

Also there is an important difference between [Docker Toolbox & Docker for Mac](https://docs.docker.com/docker-for-mac/docker-toolbox/). Docker Toolbox uses docker-machine with Virtualbox driver to provision a virtual machine whereas Docker for Mac is native app whic

[2016-11-11 14:51] tms320c commented on #381
I had related problem:
I installed xDebug as described in the documentation and changed both workspace and php-fpm xdebug.ini files, but phpinfo() show that "xdebug.remote_connect_back=0" (I set it to 1, of course).

I found that  it was necessary to change xdebug.ini **before** container rebuild (the doc says that one should do it **after**)

[2016-11-11 17:00] SamAriafar opened #420 "container for phpmyadmin service cannot be created"
When I try to bring up phpmyadmin, it attempts to start mysql first while mariadb is already started, so it ends to the error below:

And when I stop mariadb and bring up mysql, the phpmyadmin still has error and doesn't start:

[2016-11-11 19:29] calebfavor commented on #393
@LoopKarma I'm not very familiar with how the networking is setup on macs but my guess is the container cant connect with PhpStorm over port 9000. This could be due to your docker host not being set correctly or the port is being blocked by something.

[2016-11-11 19:33] jakeim commented on #420
same Issue

ERROR: Invalid volume spec "phpmyadmin": Invalid volume destination path: 'phpmyadmin' mount path must be absolute.

[2016-11-11 21:11] jamesalton commented on #244
Spracto: I asked Amazon what the best way to do this and they told me (in a nutshell): ELB is crap, use ECS instead. (Even though AWS EB seems to have some sort of provision for Multi-container docker, apparently it doesn't support compose like ECS does.) So, I'm struggling through `ecs-cli compose` now. Not easy. I found a script called "build-tag-push" which seems to put the docker-compose.yml i

[2016-11-12 06:05] edmundluong opened #421 "Unable to start up MySQL container"
Hi,

I just updated to Laradock v4.11.1 and I am having troubles trying to get my Laravel application working with Docker again after the update.

Once I updated Laradock, I ran `docker-compose build --no-cache` and let everything rebuild from scratch. After that, I ran `docker-compose up -d nginx mysql` to get my Laravel application up and running but when I would go to migrate the database in my

[2016-11-12 06:33] dtkoval commented on #421
Try following
"docker logs laradock_mysql_1"

[2016-11-12 07:31] tms320c opened #422 "Feature Request: add a password and shell to laradock user"
Currently IDE (PHPStorm specifically) can connect to the container as root user only (using SFTP deployment server).

It may be convenient to have an option to connect as non privileged user (i.e. laradock) using password authentication.

Now laradock user does not have neither password/key, nor the shell which leaves the only docker-compose exec option

[2016-11-12 14:14] scoutman57 commented on #381
You don't need to do this. Look at on demand configuration

[2016-11-12 16:06] Gostwow commented on #421
Same issue here

[2016-11-12 23:00] edmundluong commented on #421
@dtkoval

Thanks for the tip. Here's the output of the log file:

[code]
Seems like its related to the downgrade back to MySQL 5.6 in #360 and the PR in #364. I have tried to remove all containers and images from Docker using `docker rm -f $(docker ps -a -q)` and `docker rmi -f $(docker images -q)` and then rebuilding the containers from scratch but no luck.

Any suggestions what I can do?

[2016-11-12 23:11] edmundluong commented on #408
@jschaftenaar @korneliuskristianr

You will likely run into that error when you use the `--no-bin-links` option when running `npm install` when you are trying to install a large number of dependencies. The quick and dirty way to resolve the error is simply to re-run the exact same command again: `npm install --no-bin-links`.

If you want a more "robust" solution, perhaps you can write a simple bas

[2016-11-13 04:56] jschaftenaar opened #423 "Works with nginx but 403 no access with apache2"
I might be missing a step but I thought this worked before. With a fresh install of both laravel and laradock apache2 does not seem to work out of the box. I am running into a 403 no access error. While starting up with nginx there are no issues. Any suggestions are appreciated.

[2016-11-13 06:56] dtkoval commented on #421
Do you have any important databases in your machine? If you have no dbs there, I think you should remove mysql volume. Use
[code]
to list your volumes and then
[code]
to remove it. But remember IT WILL REMOVE ALL THE DATA! If you have important data in this case you have to make a dump of your db before removing volume.

[2016-11-13 10:33] saumya04 commented on #75
@Mahmoudz How can I change my mysql password. I've tried changing the password from `docker-compose.yml` file but the changes doesn't seems to be reflected. Can you help me with it.

[2016-11-13 11:10] Exadra37 opened #424 "Docker Compose working with .env file"
I am willing to work on a Pull Request to add support to read all configurable values in Docker Composer from `.env` file.

By all configurable values I mean all port and volumes mapping, booleans, Ips, etc.

The `.env` will not be tracked so that we can symlink to the one in our Laravel project, but a `.env-example` will be provided.

This is possible by using the Docker built in support for envi

[2016-11-13 12:40] Exadra37 opened #425 "Docker Compose with multiple configuration files"
I am willing to work on a PR to use this built in Docker support to have multiple compose files as we can read [here](https://docs.docker.com/compose/extends/).

One of the best goals of using Docker in Production is to have 100% parity between development, test, staging and production environments.

But during development we may need some tools in top of the Production environment to help us with

[2016-11-13 12:46] Exadra37 commented on #422
@tms320c The proposal of using multiple docker compose files in #425 and the possibility to set config values from the Laravel `.env` file on them, as proposed in #424 will make possible to easily achieve the specific needs of each project.

[2016-11-13 12:55] Exadra37 commented on #423
Try to share any local modifications by forking this project and upload them in a branch of your fork and link it here.

Please give also print screens of the commands you run and output so that we can better understand what is going on.

[2016-11-13 12:58] Exadra37 commented on #412
I believe that once proposals #424 or #425 be accepted and implemented it will help you with setting your specific needs.

[2016-11-13 13:01] Exadra37 commented on #417
I think that proposals #424 and #425 may help here once accepted and implemented.

[2016-11-13 22:38] Mahmoudz commented on #424
@Exadra37 I like the idea of having a `.env` file since at least will help getting rid of the duplications in the the docker-compose.yaml file (like `INSTALL_MONGO=`, ...). However when someone implemented that in the past we faced wired warnings with every docker compose and docker command..

If you are using that solution now and is working just fine with you, we'd love to have it implemented wi

[2016-11-13 22:41] Mahmoudz commented on #425
@Exadra37 that sounds like an amazing solution. I'd like to see it in action. Thank you.

[2016-11-14 01:54] appleboy commented on #425
Sounds good. 👍

[2016-11-14 02:25] tripper54 commented on #93
For the googlers out there, had the same error on startup of the mysql container. Rebuilding the container - ``` docker-compose build mysql ```  - solved it for me.

[2016-11-14 02:31] appleboy commented on #75
@saumya04 Delete your container and rebuild again.

[code]

[2016-11-14 02:54] saumya04 commented on #75
@appleboy I've tried that already, its not working yet!

[2016-11-14 06:48] voidnoble opened #426 "SSH is asking password"
On macOS's terminal :

[code]

try else :
[code]

[2016-11-14 09:51] BennyWang commented on #420
@jakeim @SamAriafar
just remove
volumes:
        - phpmyadmin
from docker-compose.yml

[2016-11-14 14:28] Mahmoudz commented on #420
@BennyWang can you submit a PR fixing this? Thanks

[2016-11-14 15:18] nicobrinkkemper opened #427 "bash: npm: command not found (fix included)"
Hello!

I'm having trouble using npm inside workspace container.

Here's what I type in:

`laradock@53b3a82a9d29:/var/www$ nvm
bash: nvm: command not found`

`laradock@53b3a82a9d29:/var/www$ npm
bash: npm: command not found`

And here's the relevant part of my `docker-compose.yml`:

[code]

I'm using windows 10 currently.

**FIX**
After building the workspace `docker-compose build workspace` I ran

[2016-11-14 16:02] philtrep commented on #426
I suggest connecting to the workspace using `docker-compose exec workspace bash` instead.

[2016-11-14 16:04] philtrep commented on #427
@nicobrinkkemper If you feel like this may be confusing to other users, feel free to do a PR with a documentation update. Thank you for including your fix in the issue.

[2016-11-14 16:17] LarryEitel commented on #426
The insecure_id_rsa.ppk was generated using puttygen. I have encountered same and resolved it by rerunning puttygen insecure_id_rsa and saving a new version of .ppk.

[2016-11-14 16:32] #420 closed

[2016-11-14 16:37] philtrep commented on #417
@naretini Take a look at #404, I think it might help you out.

@Exadra37 We'll have to take a look at the different services for possible conflicts when using the same image multiple times. I look forward to your PR, it should solve quite a few issues we've been having...

[2016-11-14 16:38] philtrep commented on #383
@whsiao Glad you got it to work. If you feel like any of this might help out someone else feel free to make a PR with documentation.

[2016-11-14 16:38] #383 closed

[2016-11-14 16:47] philtrep commented on #412
@lichnow Edited your issue for clarity.

For the multiple mysql, please refer to #404 for the moment.

For the moment (until @Exadra37 finishes his PR), I suggest using multiple Docker Compose files. (This)[https://github.com/laradock/laradock#prepare-laradock-for-production] should help you out getting started with multiple configurations.

[2016-11-14 16:47] #412 closed

[2016-11-14 18:59] mbtamuli opened #430 "Containers stop automatically."
I did a clone, then ran `docker-compose up -d nginx mysql`

The `php-fpm` container failed due to which the `nginx` container failed too.

Here are the logs.

[code]

[2016-11-14 20:21] SamAriafar opened #431 "Caddy is issuing a new SSL on each down & up"
It seems Caddy is requesting a new certificate from Let'sEncrypt on every down and up commands instead of using the already obtained one, so it causes reaching the issuance limitation and not coming up. There is no problem after several stop and up commands.

laradock_caddy_1 exited with code 1

[2016-11-14 20:44] Exadra37 commented on #424
During this weekend I will try to work on this ;)

[2016-11-14 20:46] Exadra37 commented on #425
After I finish the PR for my proposal in #424 I will take on this one :)

[2016-11-14 20:50] Exadra37 commented on #417
@philtrep using the same image multiple times should not cause any issue, but building a container from it using same ports will cause conflicts for sure, unless I have misunderstood something.

[2016-11-14 21:00] philtrep commented on #417
@Exadra37 yes that's what I meant. For example we would need to parametrize the `my.cnf` file since each instance of mysql should bind to a different port.

I'm really looking forward to your solution, I haven't seen any Docker-Compose project allowing for easy duplication + configuration of services yet.

[2016-11-14 21:06] Exadra37 commented on #417
I will do my best.. still learning Docker ;)

[2016-11-14 21:18] philtrep commented on #425
@Exadra37 @Mahmoudz I really like this idea but I fear that by modifying the current development usage we'll hit the same problems we had with #339 where user adaptation was difficult.

I personally don't mind writing `docker-compose -f docker-compose.override.yml -f docker-compose.dev.yml up` to start the dev environment however, following `Use Docker first and learn about it later.`, it might be

[2016-11-14 22:10] jschaftenaar commented on #423
This happens with a fresh clone of laravel and laradock. when running `docker-compose` up -d apache2 mysql` I run into a 403 but when I start the containers with `docker-compose up -d nginx mysql` the website initial laravel website loads.

[2016-11-14 22:23] Mahmoudz commented on #425
I agree with @philtrep we should have the long commands for production and the simple ones for development (by default). If that possible! Or as suggested a small command would be nice, maybe we contact this guy he created a Laradock CLI https://github.com/logaretm/laradock-cli I never used it by I like the idea.

[2016-11-14 22:31] philtrep commented on #425
@Mahmoudz Cool project, this makes me think we should have a section in the docs for LaraDock related projects 😃

[2016-11-14 22:54] philtrep commented on #422
@tms320c sounds like a good idea. If you want to make a PR feel free to do so.

Also @LarryEitel  as the IDE connoisseur, I think this might be of interest to you.

[2016-11-14 23:39] #427 closed

[2016-11-15 01:51] philtrep commented on #373
@aoki-sora Did you manage to get it working?

[2016-11-15 08:02] voidnoble commented on #426
@philtrep I need that ssh connection to setting the phpstorm's deployment.
@LarryEitel Thank you. I will try it.

[2016-11-15 14:20] #319 closed

[2016-11-15 17:00] LoopKarma commented on #393
@calebfavor I roughly fixed this problem with adding `fastcgi_param REMOTE_ADDR your.host.ip.address` into http-server config file

[2016-11-15 18:59] philtrep commented on #430
@mbtamuli
Off the top of my head, try rebuilding `docker-compose up --build --force-recreate -d nginx mysql`.

If this doesn't work, delete all containers and images and rebuild again:
[code]

If this doesn't work, please tell us what platform you are using and what changes you've done to the initial configuration if any.

[2016-11-15 19:55] AliveCorpse commented on #93
Cant start MariaDB too.

[code]

[2016-11-16 03:09] minhloc2011 opened #433 "Could you add OrientDB container to this repo?"
i glad to see OrientDB container on this repo, please :)

[2016-11-16 14:02] tristanbailey commented on #421
I dont have the issue on my version, that I upgraded from early laradock over time, but new developer on the team did a fresh install and got this similar mysql issue today.

`Fatal error: Can't open and lock privilege tables: Incorrect file format "user"`

will try deleting the volume

[2016-11-16 15:46] chrispappas opened #435 "Guzzle/Curl connections between multiple projects"
I'm running Laradock in the "Multiple Projects" mode (https://github.com/laradock/laradock#b-setup-for-multiple-projects) for two projects. I've configured nginx to properly serve both projects under separate hostnames (let's call them api-project.dev and consumer-project.dev, names changed to protect the innocent). I've set up the /etc/hosts file on my Mac to point to localhost:

[code]

I can ac

[2016-11-16 17:31] mbtamuli commented on #430
@philtrep No, it did not work.
I am using Arch Linux with the latest version of Docker(1.12.3).

I just modified these line for `dockerhost`.
[code]

[2016-11-16 17:34] mbtamuli commented on #430
I thought something like this was going on - [MySQL issue](https://github.com/docker-library/mysql/issues/3#issuecomment-55661184)

But I have enough swap. I checked using `free -m`:
[code]

[2016-11-17 15:50] tristanbailey commented on #421
So solution that worked for us was:

1. stop and remove all containers (docker-compose down)
2. docker rmi laradock_mysql
3. docker images rm laradock_mysql
4. start again (docker-compose up nginx mysql)

So it was the volume that corrupted or permissions issue but we could not access it as you would in non docker, so start again worked. (but it was remove container, image and volume )

[2016-11-17 21:37] philtrep opened #436 "Changing MySQL env vars doesn't change DB/User/Pass"
Changing the current environment variables in the `docker-compose.yml` file has no effect on the create database/user/password/root password.

[2016-11-18 02:34] mbtamuli commented on #430
@philtrep Am I going crazy or what? I just removed all containers, images and volumes, and it worked! Sorry for the trouble.

[2016-11-18 02:34] #430 closed

[2016-11-18 02:56] philtrep commented on #430
@mbtamuli Welcome to the club buddy, glad you made it work :)

[2016-11-18 21:08] bangcode082 opened #439 "Confuse to parameter server name mariadb, when use mysqli_connect"
I try to connect to the database using
[code]
with the `mariadb` and `nginx` images.

I am not using a framework and the page is not working, could somebody help?

[2016-11-18 21:25] philtrep commented on #436
Fixed by #437

[2016-11-18 21:25] #436 closed

[2016-11-18 22:53] manshoor commented on #439
First in  **php-fpm** Container

`- CODEIGNITER=true`

This will enable the mysqli extension

and rebuild your fpm container and try this.

`mysqli_connect('mysql','root','root','homestead')`

let me know if it works.

[2016-11-19 15:27] mitjarobic commented on #402
same problem

[2016-11-19 17:07] bangcode082 commented on #439
thanks a lot,, its works ^_^

[2016-11-19 17:08] #439 closed

[2016-11-19 19:23] philtrep commented on #439
@manshoor Shouldn't we be making this a bit more obvious? It's not very clear that `CODEIGNITER` enables mysqli. Maybe we should have a `MYSQLI` option? What do you think?

[2016-11-19 22:24] manshoor commented on #439
@philtrep Yes, that sounds more appropriate.
My suggestion is to install mysqli extension by default because some basic application/frameworks like codeigniter uses mysqli driver instead of pdo.

[2016-11-19 23:25] manshoor commented on #435
@chrispappas in order to communicate between 2 tier architecture you have to add  `api-project.dev` and `consumer-project.dev` in docker hosts file too.

go to your docker-composer.ymal

**php fpm container**

extra_hosts:
            # IMPORTANT: Replace with your Docker Host IP (will be appended to /etc/hosts)
            - "dockerhost:10.0.75.1"

            - "api-project.dev:10.0.75.1"

[2016-11-20 00:15] Exadra37 commented on #424
This feature is a WIP on my fork, but before i make the PR I need help testing this it...

Please try [this branch](https://github.com/exadra37-docker-forks/laradock/tree/dev/dot-env-file) from my fork.

If you find any bug please open it [here](https://github.com/exadra37-docker-forks/laradock/issues/new).

For feedback and discussion just leave a comment on this current issue.

[2016-11-20 19:17] jschaftenaar commented on #423
It turned out to be a permissions issue. Not sure why it would not be accessible on Apache2 but work on nginx out of the box. I had to change the permission of the directory to 755 for directories and 644 for the .htaccess file.

[2016-11-20 19:17] #423 closed

[2016-11-20 20:24] jschaftenaar commented on #408
I switched to use yarn and all seems to be good now. npm is just a pain when working with network maps.

[2016-11-20 20:24] #408 closed

[2016-11-20 21:41] Stubbs opened #440 "Slow startup/connection."
When I first started using Laradock I was a little surprised how slowly it took the containers to start, but after doing a pull of the latest head a few weeks ago everything changed and I got the speed I would expect.

However I updated to head again in the last few days and it's gone back to the old timing, at the moment startup of a simple group of containers looks like this:

[code]

I'm using

[2016-11-21 12:28] Exadra37 commented on #423
Nginx does not read `.htaccess` files, therefore not failing ;)

[2016-11-21 14:53] philtrep commented on #424
@Exadra37 You might get better feedback if you create a PR in this repo. Don't worry, if you say it's a Work In Progress we won't merge it without the all clear!

[2016-11-21 14:56] philtrep commented on #440
@Stubbs I don't know about the spinning up specifically but speed is a known issue #353. I invite you to add to the existing issue.

Closing this as a duplicate.

[2016-11-21 14:56] #440 closed

[2016-11-22 04:32] wasmetqall opened #441 ""sshd is not running""
docker-compose.yml:
[code]
When testing SFTP connection on phpstorm:
Connection to 'laravel' failed.
Session.connect: java.net.ConnectException: Connection refused: connect

After `docker exec -it 8d8d7a44d045 bash` and `service ssh status`, it returns `sshd is not running`

Then I enter `service ssh start` and it returns:
[code]
Then testing SFTP connection it returns "Auth fail".

It takes me a

[2016-11-22 05:37] manshoor commented on #435
@philtrep I guess you can close this issue.

[2016-11-22 06:19] philtrep commented on #435
@manshoor Awesome!

[2016-11-22 06:19] #435 closed

[2016-11-22 06:31] philtrep commented on #441
@wasmetqall Just a shot in the dark but have you tried stopping and rebuilding the containers?
[code]

[2016-11-22 07:00] wasmetqall commented on #441
@philtrep OMG!!!!!!!!!!IT WORKS!!!!!THANK U VERY MUCH!!!!!
But how did that happen?Maybe I toggled  something?
When using `docker-compose exec workspace bash` it returns
[code]

May I ask a stupid question?I don't know where the mysql data stores, cause there is only `mysql:/var/lib/mysql` in docker-compose.yml, and I can't locate the so-called `mysql`:(

[2016-11-22 07:27] philtrep commented on #441
@wasmetqall Glad it works! You can see the data stored in `laradock/data/mysql`. Those are however the actual database files so I suggest dumping the database instead if you want to keep a backup of the data.

I did not know about interactive mode not being supported, thank you for the info.

[2016-11-22 07:27] #441 closed

[2016-11-22 10:46] joaojoyce commented on #353
I also can confirm improved performance with:
https://github.com/IFSight/d4m-nfs

This was with an installation of Statamic which I'm guessing that it does some more file IO than Laravel.

[2016-11-22 20:26] scoutman57 commented on #353
What type of file system are you mounting the shares with? NFS?

On Tue, Nov 22, 2016 at 4:46 AM, João Joyce <notifications@github.com>
wrote:

[2016-11-23 00:08] mxswar opened #442 "ERROR: Unknown instruction: COMPOSER"
Just clean installation:

$ git clone https://github.com/LaraDock/laradock.git
Cloning into 'laradock'...

$ cd laradock/

$ docker-compose up -d php-fpm
**Creating network "laradock_default" with the default driver
Building workspace
ERROR: Unknown instruction: COMPOSER**

$ uname -a
Linux vip 4.8.0-27-generic #29-Ubuntu SMP Thu Oct 20 21:03:13 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

$ docker-co

[2016-11-23 05:20] edmundluong commented on #421
@dtkoval I was able to resolve this issue with mysql by removing the volume and rebuilding the container (just in case)

Thanks!

[2016-11-23 05:20] #421 closed

[2016-11-23 09:33] voidnoble commented on #426
I resolved my problem with following article :
https://medium.com/@pablofmorales/xdebug-with-docker-and-phpstorm-786da0d0fad2

[2016-11-23 09:33] #426 closed

[2016-11-23 09:56] wasmetqall commented on #441
@philtrep I still have no idea where the `laradock/data/mysql` is :( There isn't a directory called `data` under the `laradock`, but I do find there is a `logs` directory under `laradock` which stores the data from nginx. Could u please tell me more specifically? Thanks a lot!!!

[2016-11-23 16:35] mxswar commented on #442
well, i think that this is just docker's bug
if i remove all the comments from Dockerfiles than i can install php-fpm and other images but in any case nginx and php-fpm containers are out of service (i can't do smth like docker-compose exec nginx bash, i don't see any opened docker's proxy listener on host machine etc )

imo this is ubuntu 16.10 and docker 1.13 specific, so i'll continue to watch

[2016-11-23 17:03] maurosbu commented on #353
Hi guys, I managed to use https://github.com/IFSight/d4m-nfs with a ruby on rails app and it works very well.
I would like to use it for a Laravel project:
1. How would you update the docker-compose.yml?
2. How woud you update the d4m-nfs-mounts.txt (d4m-nfs config file)

Many thanks.

[2016-11-24 13:45] mxswar commented on #442
interesting but after downgrading to docker 1.12 (Ubuntu 10.04 now) the previous problem still exists:
[code]
php-fpm just can't be started at all and i can't see any logs from it.

is anyone able to reproduce the full installation sequence of the laradock with the latest images ?

possible this is a subject for a new issue

[2016-11-24 17:28] asolopovas opened #443 "SQLSTATE[HY000] [2002] Connection refused"
Hi, I am running laradock on Windows 10 Pro,  can't get it two work as laravel throws PDO exception in the browser but works fine in tinker. I tried changing .env to localhost and 127.0.0.1 get the same result, as well in config database file.

This is the cmd I used to compose my container.
docker-compose up -d nginx mariadb redis php-fpm

[2016-11-24 21:17] manshoor commented on #443
@asolopovas
change your db host to mysql

`DB_CONNECTION=mysql`
`DB_HOST=mysql`

[2016-11-24 22:00] asolopovas commented on #443
@manshoor it has been changed since I hose using vagrant with homestead.

[2016-11-24 22:09] asolopovas commented on #443
@manshoor if I change DB_HOST to mysql thats what happens
SQLSTATE[HY000] [2002] php_network_getaddresses: getaddrinfo failed: Name or service not known

[2016-11-24 23:00] manshoor commented on #443
@asolopovas
can you share your whole mysql settings in .env file.

because i'm on branch 4.12.0 and my config is this.

try `root` for username and password.

`DB_CONNECTION=mysql`
`DB_HOST=mysql`
`DB_PORT=3306`
`DB_DATABASE=mydbname`
`DB_USERNAME=root`
`DB_PASSWORD=root`

[2016-11-24 23:14] manshoor commented on #443
well, i'm not sure about your side but default settings are working fine for me, i'm just using root credentials because i'm not using homestead db and too lazy to create a new user every time ;)

well your application is working 💯 now, so you're good to go.

[2016-11-25 05:23] ivanji commented on #402
same here - everything was working fine and decided to do a Laradock update and now I'm experiencing the same error. The above solution didn't work for us.

[2016-11-25 06:41] philtrep commented on #402
I can't reproduce the error but I believe that modifying the compose config:
[code]

should fix this.

[2016-11-25 07:42] maurosbu commented on #353
Found the solution: https://github.com/IFSight/d4m-nfs/issues/5

In order to be able to use d4m-nfs you just need to perform the folowing steps.

Clone d4m-nfs repository (in your home directory)
[code]

Update configuration file (~/d4m-nfs/etc/d4m-nfs-mounts.txt), the following configuration let you use relative paths for volumes in docker-compose.yml
[code]

Check the system file /etc/exports an

[2016-11-25 14:17] manshoor commented on #443
@philtrep we can close this issue.

[2016-11-25 15:18] philtrep commented on #443
@manshoor Good job 👍

[2016-11-27 00:21] RobertCristian opened #446 "Host '172.18.0.1' is not allowed to connect to this MySQL server"
Hello, i really don't know what to do anymore so i'm writing here to get some help. Long story short, i have installed native docker on osx sierra, made a new laravel app, cloned laradock, and started apache2 + mysql + phpmyadmin. I can type localhost and see my app but whenever i try to connect to my database via sequel pro i get a the error from the title and via phpmyadmin, i get  ```connection

[2016-11-27 02:46] ELD commented on #446
I'm having the same issue as you. I don't know what the issue is and I've enquired about it in Gitter chat.

[2016-11-27 05:46] Modelizer commented on #356
@edmundluong If you are specific to a Laravel base project and can go on with standalone server then you can use this [package](https://github.com/modelizer/selenium)

[2016-11-27 05:53] Modelizer opened #447 "Application code container not able to point from root directory."
Hi,
  When I mount a directory to a container I get an empty directory. Example `/Volumes/driver/www/laravel.dev/:/var/www/laravel.dev`

Note: I'm not able to figure out whether is due to I'm starting with root directory or problem is something which I'm missing.
The problem persists on Linux and Mac.

Thanks.

[2016-11-27 13:41] gfd6th opened #448 "mariadb InnoDB issue"
Mariadb failed with logs,

Docker for Mac

Version 1.12.3 (13776)
Channel: Stable

[code]

[2016-11-27 14:20] RobertCristian commented on #446
I just want to add that i've tried on a secondary mac and i get the same error.

[2016-11-27 15:09] gfd6th opened #449 "Could not connect mysql from host?"
I just tried
`docker run --name some-mysql -e MYSQL_ROOT_PASSWORD=my-secret-pw -p 3306:3306 -d mysql:5.7`. This command works for me.
The command `docker-compose up -d mysql` should create a new service, I could inspect it by `docker-compose ps`, and show as below
[code]

But I could not connect from host by `root@127.0.0.1 -p root ` or `homestead@127.0.0.1 -p secret`.
The error is
[code]

[2016-11-27 15:21] gfd6th commented on #449
#446
I got the same issue on Mac.
I have tried Docker for Mac(both stable Version 1.12.3 and beta Version 1.12.3-beta30.1 ), but got the same issue

[2016-11-27 18:24] manshoor commented on #446
@RobertCristian @ELD  have you guys tried `docker volume rm mysql` and rebuild the container?

[2016-11-27 18:28] ELD commented on #446
@manshoor Yep, I have removed the volume and rebuilt the container several times. No luck.

[2016-11-27 18:48] RobertCristian commented on #446
hm.., when i run `docker volume rm mysql` i get `Error response from daemon: get mysql: no such volume`. But i have tried with `docker-compose down` which deletes everything.

my mysql config from docker-compose.yaml:

[code]

[2016-11-27 19:14] manshoor commented on #446
can you share your mysql logs? don't add the -d argument and see why mysql is dying.

OR

try with totally refreshing the docker by resetting it to default and pull all the images and build again.

last option would be go back to mysql 5.6

[2016-11-27 19:18] RobertCristian commented on #446
[code]

[2016-11-27 19:27] manshoor commented on #446
ok, so what is the `docker ps ` says because according to this `[Note] mysqld: ready for connections`

in mysql container try `mysql -u root -p root`

[2016-11-27 19:31] RobertCristian commented on #446
Same as in my first post: `ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)`

[2016-11-27 20:22] ELD commented on #446
So it looks like the MySQL root user can't be accessed with a password. If you're inside the MySQL container, you need to login as root without a password (`mysql -u root`). Once there, you can manually create the Homestead database and the user accordingly.

I think the issue has something to do with the startup script. It fails on dropping the user and if you modify the command to use MySQL 5.7'

[2016-11-27 20:50] ELD commented on #446
Just to further document what I'm looking at, this line jumps out at me in the logs for the mysql container:
[code]
Looks like that's why we can't log into the root user with the password. It wasn't set up with one.

Secondly, it looks like the `startup` script is failing:
[code]

Additionally, after building the container, this is what `docker-compose ps` displays:

[code]

[2016-11-27 22:29] kamilcios commented on #446
I had the same problem, try removing first line from mysql/startup ( DROP USER 'homestead';
 ). Worked for me.

[2016-11-27 22:52] ELD commented on #446
@kamilcios That doesn't work for me. After building the image and starting up the container, the first time it still exits prematurely. Instead of failing on dropping the user, it fails on trying to create the user.

From looking into the history, I think the culprit is #437 and #438. I just can't figure out the chronology because one reverts the other but the master branch doesn't reflect a rever

[2016-11-28 03:10] lavenkin commented on #449
I got the same issue.
connect failure.

[2016-11-28 09:56] milroyfraser opened #450 "Add comments to sample.conf.example"
It will be really helpful if there are comments in `nginx/sites/sample.conf.example`. e.g. If I need to setup a domain for a vue, angular, etc. SPA I think php stuff is not needed.

Question: how to configure nginx to redirect all the requests to maybe `index.html` as mention in https://router.vuejs.org/en/essentials/history-mode.html under nginx.

[2016-11-28 16:11] philtrep commented on #446
@kamilcios Could you do a PR for your fix?

@ELD I merged it by mistake the first-time so I reverted it ASAP, I then had discussion with @Mahmoudz then merged it back in. My apologies for the confusion, the mobile github site is the bane of my existence.

This seems to be creating many problems, I could remove the PR but I think it's worth trying to keep the functionality of creating custom users

[2016-11-28 16:14] philtrep commented on #449
@gfd6th Let's keep this discussion on #446.

[2016-11-28 16:14] #449 closed

[2016-11-28 16:29] ELD commented on #446
@philtrep Okay, that makes sense. Yeah, it looks like a better way to go about creating users, it's just that the startup script may error out and I think when that happens, the entire MySQL server dies. I'm not positive though.

Definitely worth trying to make it work better.

[2016-11-28 17:45] Blaasvis commented on #446
This works for me. It didn't crash on the first create for me anymore which it did before.
Now phpmyadmin is complaining on first boot about not getting addrinfo. But second run it works fine.

`DROP USER IF EXISTS 'MYSQL_USER';
CREATE USER 'MYSQL_USER'@'%';
CREATE DATABASE IF NOT EXISTS MYSQL_DATABASE;
GRANT ALL ON `MYSQL_DATABASE`.* TO 'MYSQL_USER'@'%' IDENTIFIED BY 'MYSQL_PASSWORD';`

[2016-11-28 17:53] Blaasvis commented on #446
created the pull request just now.

[2016-11-28 18:41] philtrep commented on #446
@Blaasvis 's PR is #451. I'll wait a few hours for people to review it before merging.

[2016-11-29 03:54] philtrep commented on #446
Resolved by #451

[2016-11-29 03:54] #446 closed

[2016-11-29 05:04] lavenkin opened #452 "Redis Connection refused"
My laravel project connection refused like #446 but It can connect by exec, my redis config use redis

I copy the redis continer and map the port 7000:6379, It can work 6379 not work 7000

[2016-11-29 12:24] armandojose0009 opened #453 "fix problem for php 7 (bcmath) to work to AMQP"
this is for fix a problem with rabbitMQ, to fix the problem with phpamqplib bcadd() the only we can do is add list line  RUN docker-php-ext-install bcmath  in Dockerfile-70

[2016-11-29 14:12] philtrep commented on #453
@armandojose0009 could you add your fix in a PR?

[2016-11-29 15:12] armandojose0009 commented on #453
hi  @philtrep how can do it ?? i create a branch in my git but whe try push to the repository don't have permission in the repo..

[2016-11-29 15:54] philtrep commented on #453
@armandojose0009 follow the instructions from https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2016-11-29 19:08] sixlive commented on #14
So I see that crontab is available and setup by default in the workspace container, however I still need to edit the crontab through the container once it's running to activate it. Am I missing something, is this by design or is this a new issue?

[2016-11-29 19:24] philtrep commented on #14
@sixlive You can edit the crontab file in your clone of LaraDock at `workspace/crontab/root` https://github.com/laradock/laradock/blob/master/workspace/crontab/root before creating the containers.

[2016-11-29 19:32] francislavoie commented on #14
Also alternatively you can set up a volume for a crontab file, i.e. `./workspace/crontab/root:/var/spool/cron/crontabs/root` and your changes will be updated live, no need to rebuild the container.

[2016-11-29 19:33] sixlive commented on #14
Right, its setup but it never runs until I edit it inside the workspace container, I think it has to do with it being installed after its edited via `crontab -e`

[2016-11-29 19:34] francislavoie commented on #431
Add `- ./data/caddy:/root/.caddy` to your `volumes_data` service in `docker-compose.yml` and make sure the `caddy` service has
[code]

The `/root/.caddy` directory is where the cert data is stored in the Caddy container. Making a data volume will persist that info and prevent needing to re-issue on every restart.

[2016-11-29 19:42] philtrep commented on #14
@sixlive Okay that could be an issue then, I tested it when I added the functionality and it was running without being required to run `crontab -e` as far as I can remember.

[2016-11-29 21:32] sixlive commented on #14
@philtrep it does this on three different configurations and builds that we are currently using so it appears to be consistent from where I'm standing. Each time they immediately start running after just running `crontab -e` and exiting.

[2016-11-29 22:01] philtrep commented on #14
@sixlive Okay it's most certainly a bug then, please create a separate issue for this.

[2016-11-29 22:19] philtrep opened #455 "Add a "related projects" section"
As per the discussion in #425, it could be interesting to list LaraDock related projects in the docs.

LaraDock-related projects:
* laradock-cli - https://github.com/logaretm/laradock-cli
* laradock_env - https://github.com/bagart/laradock_env

Other Docker stacks:
* magedock - https://github.com/ojhaujjwal/magedock
* rubydev-dock - https://github.com/scudelletti/rubydev-dock

This should help pro

[2016-11-30 00:08] Mahmoudz commented on #455
Awesome let's do this :D

[2016-11-30 00:10] nloding opened #456 "Receive MySQL error 'access denied for user' every time container is started"
I'm using the default Laradock set up - the only thing I've changed is probably the cause of this. Every time I run `docker-compose stop` then `docker-compose up -d nginx mysql`, I cannot log in to the database. I can manually grant permissions to the homestead user, and then things work until I stop the containers again.

Here's the thing I changed: the database name is not `homestead` however, i

[2016-11-30 02:53] khromov opened #457 "Installing PHP extensions without forking Laradock?"
Is it possible to install a PHP extension without forking Laradock?

If not, could I suggest it being possible to override the default Laradock files with your own ones without needing to fork?

[2016-11-30 03:16] philtrep commented on #457
@khromov I think most people clone the repo then modify the Dockerfile of the php-fpm service if they need a particular extension.

If you want to ensure you keep the same extensions everywhere, there isn't yet a way to do so using only the configuration. Personally, I have a private repo containing my own configurations/modified images that I apply on top of every LaraDock fresh clone.

If you ca

[2016-11-30 03:40] khromov commented on #457
Thanks for the response. Sounds like a fork is the easiest way if you want to be up to date with changes in the main repo by merging it into the fork periodically?

[2016-11-30 04:59] philtrep commented on #457
@khromov Yes, a fork would probably be the easiest solution.

That being said, if you think that the extension(s) that you are using could be useful to someone, I invite you to do a PR with your proposed modifications.

[2016-11-30 09:41] royen-go opened #458 "why not add BC Math in CLI"
I need write some test code about rabbitMQ but there is no BC Math ext in php-cli
[code]

[2016-11-30 12:54] philtrep commented on #458
This is a duplicate of #453

[2016-11-30 12:54] #458 closed

[2016-11-30 13:22] sixlive opened #459 "Crontab Not Starting On Run"
As discussed in #14, The crontab is configured in the workspace container but does not start until it is manually edited via `crontab -e`. Seems to be an issue with installing and activating the cron.

When editing via `contab -e` no changes are required, just open and save. The standard Laravel cron task immediately starts running correctly.

I've experienced this issue on three different project

[2016-11-30 14:15] gfd6th opened #460 "Connection with 'xdebug 2.4.1' was not established."
I followed the guide of xdebug for phpstorm step by step.
But got the following issue.
`Connection with 'xdebug 2.4.1' was not established`

I'm not sure if I have configured correctly.
In the host, I add some host in `etc/hosts`

[code]

In the `docker-compose.yml`

[code]
![image](https://cloud.githubusercontent.com/assets/6814715/20754867/d6b5a168-b747-11e6-9e48-4b9332b4fdb3.png)

I have config

[2016-11-30 16:07] LarryEitel commented on #460
What is the exact error message?

[2016-11-30 16:09] LarryEitel commented on #457
I fork and then create a branch on top of that. That way I always have a convenient reference point. Just merge updated master into your branch.

[2016-11-30 18:55] sasokovacic opened #461 "Possible documentation typo in Switch from PHP 7.0 to PHP 5.6 section"
Is it possible that command for rebuilding the container iz wrong?

when I run
$ docker-compose build php
I get following error:
ERROR: No such service: php

If I run
$ docker-compose build php-fpm
everything works ok...

is this ok or did I miss something?

thanks

[2016-11-30 20:06] philtrep commented on #442
@mxswar What did you end up doing to make this work?

[2016-11-30 20:32] philtrep commented on #461
No, `php-fpm` is the right name for the container. If you take a look at the `docker-compose.yml` file, you can see that the service is called `php-fpm`.

[2016-11-30 20:32] #461 closed

[2016-11-30 20:45] philtrep commented on #456
@nloding There's a [script](https://github.com/laradock/laradock/blob/master/mysql/startup) that runs to create the database every time the `mysql` image is restarted. You _should_ not be losing your data by re-upping the container.

**That being said**
My suggestion (assuming you really don't want to lose your data) is that you do a dump of your existing data then move the `.sql` somewhere on you

[2016-12-01 03:13] gfd6th commented on #460
`Connection with 'xdebug 2.4.1' was not established` when debuging at phpstorm

[2016-12-01 03:28] gfd6th commented on #460
I noticed that `xdebug.remote_host=dockerhost` in php-fpm container and workspace container, I modify in extra_hosts part `dockerhost:172.18.0.1`. This ip is my host ip

[2016-12-01 03:31] nloding commented on #456
@philtrep not sure I follow - if it's creating the database, why is all my data there when I do a normal `docker-compose stop` followed by `docker-compose up -d nginx mysql`? It sounds like my assumption above (changing the config after the initial container build) is the likely culprit, and that I should just destroy and rebuild the containers.

[2016-12-01 05:21] philtrep commented on #456
@nloding The mysql files are persistent since they are saved on a shared volume (on the host). There is no "delete database" command that runs when starting the service, only a `CREATE DB IF NOT EXIST`. However, there have been times where a change in the mysql image created a loss of data when re-running the service. That is why I suggested doing a dump before the `down & up`  unless you don't ca

[2016-12-01 11:37] abbert commented on #442
Same here with Docker version 1.13.0-rc2, build 1f9b3ef

[2016-12-01 12:51] LarryEitel commented on #460
Here is 'a' way to find the correct IP for laravel that you would place in your hosts file:

<img src="https://farm6.staticflickr.com/5836/31316825646_df57d53e3c.jpg" />

[2016-12-01 13:08] dcnl1980 opened #462 "Datetime in container is not synced"
I notice that the datetime in the container is not syncing with any time server around the world en is not accepting to do this. My local time on the host is Dec 1 14:00, while the docker container shows It is Nov 30 22:06. Also an NTP server installation or ntpdate is not working within the container, also change the timezone with tzdata is not helping. Does more people have the same problem?

[2016-12-01 14:05] kayrules commented on #86
I had this problem because the root path in `docker-compose.yml` differs from the one in nginx default.conf file:

[code]

So I solved this issue by changing a line in file  `laradock/nginx/sites/default.conf` from:
[code]
to
[code]

[2016-12-01 14:07] philtrep commented on #462
@dcnl1980 To change the timezone you can follow https://github.com/laradock/laradock/blob/master/README.md#Change-the-timezone .

The drift seems to be a known issue http://stackoverflow.com/a/38133871/1830104 .

According to the previous link, you'll have to access the Docker for Mac VM TTY then sync with a ntp server.

If this helps you out we'll add the info in the docs.

[2016-12-01 15:24] lechengyu opened #463 "PHPSTORM can not edit file in public directory"
![image](https://cloud.githubusercontent.com/assets/17262681/20799037/eecab052-b81b-11e6-86c9-39a1f6f7da3a.png)

Like #113
Running Windows native Beta.

When the nginx container is running , the first time I edit index.php file, it works fine. But after that everytime I edit it ,  it fails and has no effect. I try to run PHPSTORM as admin, the problem remains.

However I use VSCODE to edit the ind

[2016-12-01 16:13] philtrep commented on #442
@mxswar Like you pointed out this is a known Docker issue (https://github.com/docker/docker/issues/29005). Hopefully this will be resolved soon...

[2016-12-01 16:27] nloding commented on #456
@philtrep I think it does. I'm still a bit confused on the difference between `stop` and `down`, but `down` is what I need to do to fix the issue.

[2016-12-01 19:16] philtrep commented on #442
@mxswar @abbert Fixed it by downgrading to 1.12.3.

[2016-12-01 20:25] LarryEitel commented on #442
WOW I was just struggling with this one on a new project! Thanks! :)

I just ripped out all the comment lines embedded in run blocks for now. :)

[2016-12-02 00:33] kayrules commented on #162
Yes the warning goes away if I commented it in php.ini, but when the driver is really needed, It will show us FatalThrowableError error:
[code]

The fix from [https://derickrethans.nl/undefined-symbol.html](url) says that we need to load the mongodb.so after JSON extension shared object is loaded.

So creating mongodb.ini in mods-available and symbolic-linked it with priority 30 fixed the error.

[2016-12-02 03:09] pangminfu commented on #462
I have the exactly same issue change the timezone doesn't solve the issue

[2016-12-02 05:01] gfd6th commented on #460
I am using MacOS, I find my host ip in nginx logs, that is 172.18.0.1

[2016-12-02 06:08] philtrep commented on #462
@pangminfu try following the instructions in the SO link I posted above

[2016-12-02 12:02] LarryEitel commented on #460
I run on Windows 10. I wonder if anyone using MacOS can respond to this.

[2016-12-02 12:12] LarryEitel commented on #460
I am aware of at least one other MacOS user that was unable to connect to local IP from Docker Contain. Never heard anything further.

[2016-12-02 14:02] dennisc1 commented on #402
For me, rebuilding all the containers with `docker-compose build --no-cache` did the trick.
This method is described at [Upgrading LaraDock](https://github.com/LaraDock/laradock#upgrading-laradock)

[2016-12-02 15:13] gfd6th commented on #460
I find that the PHPSTORM always get the php information as `xdebug.remote_enable  0`.
I have tried uncomment the line `zend_extension=xdebug.so` in `/etc/php/7.0/cli/conf.d/20-xdebug.ini`, so I saw the `xdebug.remote_enable on=>on` in workspace container. but PHPSTORM seems still get the php information as `xdebug.remote_enable  0`.

[2016-12-02 16:01] nloding commented on #456
@philtrep this didn't resolve my issue. I've done a few different things.

1. Edited docker-compose.yml and set MYSQL_DATABASE to the correct database name
2. Edited mysql/Dockerfile and set `ARG MYSQL_DATABASE` to the correct database name

I've run `docker-compose down` then `docker-compose up` after each, and I still get the permissions errors. Am I missing something, or is this truly a bug?

[2016-12-02 16:33] phuocnt0612 opened #464 "Cannot connect postgres?"
I got this message and dont know how to fix :'(. Someone help me please

My docker-compose.yml:

[code]

P/s: I can connect to postgres container.

[2016-12-02 17:00] philtrep commented on #456
@nloding I actually had the same problem yesterday running the latest version of LaraDock (albeit a _slightly_ modified version) in production.

The steps I took were:

1. Down the services/networks/volumes `docker-compose down`
2. Deleted all the containers `docker rm -f $(docker ps -qa)`
3. Deleted all the images `docker rmi $(docker images -qa --digests)`
4. Deleted the mysql volume `docker vol

[2016-12-02 20:09] bagart commented on #464
https://github.com/laradock/php-fpm/issues/5

[2016-12-02 20:11] bagart commented on #463
As I think - os problem of windows docker :(
I get this bug too with php and js (with direct access by nginx)

[2016-12-03 02:27] phuocnt0612 commented on #464
@bagart Thank you so much. You're my hero :+1:

[2016-12-03 02:27] #464 closed

[2016-12-03 03:09] nloding commented on #456
Doing a bit of digging, it looks like the issue is that the `mysqld --initialize` option only executes if the data directory doesn't exist or is empty. After I dumped data into the database, it's no longer empty. Here was my fix, though it seems like there should be a way to check permissions when you run `docker-compose up` ... but being new, I don't know how to do that (yet).

1. `docker-compose

[2016-12-03 03:10] nickfan opened #465 "How about change docker-compose.yml into docker-compose.yml.example"
if i use laradock with my develop Environment and my each project have to tweak docker-compose.yml anyway.
so why not change docker-compose.yml into docker-compose.yml.example and in the document guide user to copy and tweak the docker-compose.yml by each project context.

[2016-12-03 06:34] philtrep commented on #465
@nickfan This is something we had previously discussed and decided against. The reason being that we want to make the initial setup as easy as possible for new users.

I personally keep my own repository with a `docker-compose.yml` file for my specific needs but if you can think of a better solution feel free to share it. 😃

[2016-12-03 16:07] dirkgroenen commented on #359
Just started using laradock as replacement for homestead and really needed this one. Tried to get it implemented but I couldn't find a nice way to get our host's pub key into the image, unless you would want to paste your key's content as `ARG`, copy it to the build directory or something like that.

Solution I've been using for now is to mount the public key in the container:
[code]

This doesn't

[2016-12-03 16:11] dirkgroenen commented on #359
Just started using laradock as replacement for homestead and really needed this one. Tried to get it implemented but I couldn't find a nice way to get our host's pub key into the image, unless you would want to paste your key's content as `ARG`, copy it to the build directory or something like that.

Solution I've been using for now is to mount the hosts .ssh dir in the container:
[code]

This doe

[2016-12-03 16:43] dmassiani commented on #397
I have the same error.

[2016-12-04 18:05] #431 closed

[2016-12-05 15:01] aledelgo commented on #460
Hello,
found the real problem inspecting forced xdebug logs...
I'm on windows 10 and i'm gettnig the same problem connecting to xdebug for both UnitTest and remote debugging.

The problem is that on NGINX request seems to come from the gateway of docker instead from the docker host.

See this nginx access.log line:
`172.20.0.1 - - [05/Dec/2016:10:36:07 +0000] "GET / HTTP/1.1" 404 162 "-" "-"`

the

[2016-12-05 15:24] tblancog opened #467 "Cannot access corporate proxy inside laradock container"
Hello,
I have a simple laradock setup container with nginx and mysql.
I'm having an issue trying to access a corporate proxy inside my app.
If I ping outside docker it just works.
But inside nginx container don't:
[code]
and when i run my php app which makes curl requests it shows:
`Could not resolve proxy: my-company.corp.net`

How can i configure the container so it resolves the given proxy DNS?

[2016-12-06 00:17] omurphy27 commented on #93
I was getting the same issue with a fresh install of laradock. In the docker-compose.yml file I changed the mariadb volumes to the following:

[code]

And deleted my docker images and containers (_note this will delete ALL your docker containers and images and is probably overkill_) by doing the following:

[code]

Then I reran `docker-compose up mariadb` and now the mariadb container starts and w

[2016-12-06 09:25] aledelgo commented on #460
Hello,
further investigating take me to this post:
https://github.com/dockerfile/nginx/issues/27
that states the problem is with docker and ipv6, so i disabled IPV6 binding on NGINX but it doesn't work. remote_addr is still set with the bridge ip.

then i've read this on the docker repo:
https://github.com/docker/docker/issues/15086

it seems is a known problem.

[2016-12-06 23:19] mikeerickson opened #468 "Where is Node / NPM?"
I have activated Node and NVM (as well as Yarn) in the docker-compose.yml.  Trying to figure out how to SSH to this container?

[code]

[2016-12-06 23:35] mikeerickson commented on #468
I tried to access the workspace container

[code]

and receive the following error
[code]

[2016-12-07 00:21] mikeerickson commented on #468
Figured it out (how embarrassing, i looked at this forever and couldn't find the issue)  The call to `bin/bash` did not have leading forward slash (see below)

[code]

should have been

[code]

[2016-12-07 00:21] #468 closed

[2016-12-07 00:55] mikeerickson opened #469 "How to execute node code in workplace on startup"
Now that I have node (and associated tools npm and yarn).  How do I configure `docker-compose.yml` to execute code when the container is started.

Typically, i would do this in a `Dockerfile` for the associated container, but since not using `Dockerfile` (above) assuming I configure in workplace section of `docker-compose.yml` file

[2016-12-07 03:13] appleboy commented on #397
@dmassiani What is your laradock version?

[2016-12-07 08:14] dmassiani commented on #397
Last

[2016-12-07 17:04] LarryEitel commented on #113
I found the solution!! :)

http://stackoverflow.com/a/27449850/913295

[2016-12-07 21:34] mikeerickson commented on #469
@philtrep One thing that is curious to me.   Why does node get installed with workspace, as opposed to its own container?

[2016-12-07 23:56] suncoastkid commented on #309
Using  docker-compose exec --user=laradock workspace bash I still get gulp command not found.

[2016-12-08 00:25] suncoastkid opened #470 "Gulp command not found in Workspace"
Using `sudo docker-compose exec --user=laradock workspace bash` and unable to run gulp:

[2016-12-08 02:01] philtrep commented on #469
@mikeerickson I believe it was the simplest option at the time it was implemented. This was actually discussed in #398. If you think this would be a good feature you should definitely make a PR for it.

[2016-12-08 02:09] philtrep commented on #470
@suncoastkid are you able to use `nvm` and `npm`?

[2016-12-08 02:11] philtrep commented on #462
@dcnl1980 @pangminfu did you ever manage to make this work? If this fixes your issue Ill add it to our docs

[2016-12-08 02:15] suncoastkid commented on #470
No, npm or nvm commands not found either.

[2016-12-08 02:26] philtrep commented on #470
@suncoastkid have you followed https://github.com/laradock/laradock#install-node--nvm ?

If you have, then make sure you have
[code]
in the `~/.bashrc` file.

If you do not see the code above, I would remove and rebuild the workspace container.

These instructions shouldve been added to the bashrc when the container was built https://github.com/laradock/laradock/blob/master/workspace/Dockerfile#L1

[2016-12-08 02:49] suncoastkid commented on #470
After doing a rebuild, npm is working but I'm getting:

Is this the expected behavior?

[2016-12-08 09:05] dcnl1980 commented on #462
@philtrep To fix the timezone in the container, I did the following:

- changing the timezone (in the above link) in docker-compose.yml
- stop and rebuild the container (docker-compose up -d)

[2016-12-08 18:09] TiagoDamascena opened #471 "Problems running phpunit on workspace with user laradock"
I'm tryint to run `docker-compose run -u laradock workspace phpunit` but getting this error:
`ERROR: Cannot start service workspace: invalid header field value "oci runtime error: container_linux.go:247: starting container process caused \"exec: \\\"phpunit\\\": executable file not found in $PATH\"\n"`

If i use `docker-compose run -u laradock workspace bash` an then `phpunit` it works.
`docker-co

[2016-12-09 05:42] philtrep commented on #470
@suncoastkid Glad it works.

[2016-12-09 05:42] #470 closed

[2016-12-09 12:11] paulotfilho opened #472 "Timeout with workspace container connections to Office 365"
I'm running LaraDock with nginx, mysql, redis and phpmyadmin containers for a Laravel app that has an Artisan command which is called every minute with the Laravel scheduler.

The command in question sends emails using the Office 365 SMTP. Crontab on workspace container is setup and running fine, but for some reason the workspace container can't connect to Office 365.

Running the artisan command

[2016-12-09 13:20] paulotfilho commented on #472
Issue was firewall related. Closing.

[2016-12-09 13:20] #472 closed

[2016-12-09 16:52] dilone opened #473 "no such file or directory starting workspace container on a new project"
i'm getting this error with the most recent version of **Laradock**

`ERROR: for workspace  Cannot start service workspace: invalid header field value "oci runtime error: container_linux.go:247: starting container process caused \"chdir to cwd (\\\"/var/www/laravel\\\") set in config.json failed: no such file or directory\"\n"
ERROR: Encountered errors while bringing up the project.
`
im using Fed

[2016-12-09 17:29] mikeerickson commented on #473
@dilone Where are you seeing this error?  What is the exact command when you see this?

I have seen this error as well, but in my case, the cmd sent to `exec` was incorrect

[2016-12-10 09:15] naretini opened #475 "laradock super slow migrations and seeding with docker 1.13 and Macosx sierra"
I have the same project running on Yosemite osx + docker 1.12 + laradock.
Running inside the workspace:
 php artisan migrate--seed

It takes less than 50"

Running the same command under Macosx sierra with docher 1.13 + laradock  I experience
slowness. It takes minutes to complete.

I tryed to augment RAM for Docker native or adding directives in mysql my.cnf
But no relvant improvement...always ve

[2016-12-10 14:23] philtrep commented on #475
@naretini Slowness is a known concern #353. Try increasing the cpu count https://docs.docker.com/docker-for-mac/#/preferences

[2016-12-10 21:41] dcnl1980 commented on #346
I will work on this one, because I also need this in one production environment. I will post the updates to my gitlab so other developers can also put some code in this one.

[2016-12-12 10:05] twlz0ne opened #479 "laradock_workspace_1 exited with code 0"
## env

[code]

## steps

[code]

[code]

[code]

verbose:  http://pastebin.com/1nWbHE7f
logs: http://pastebin.com/CASvGq7v

[2016-12-12 14:50] eddigei commented on #397
same problem

[2016-12-12 18:34] philtrep commented on #479
@twlz0ne I see your Docker Version is `1.13.0-rc3`, please move to the stable build.

[2016-12-13 07:25] twlz0ne commented on #479
`1.12.3` worked.

[2016-12-13 07:40] gentcys opened #480 "Can't enter phpmyadmin container"
While i input `sudo docker-compose exec phpmyadmin bash`,
an error occurred:
`rpc error: code = 13 desc = invalid header field value "oci runtime error: exec failed: container_linux.go:247: startin│ 58         expose:
g container process caused \"exec: \\\"bash\\\": executable file not found in $PATH\"\n"`

[2016-12-13 09:59] michaelgracious commented on #353
@maurosbu I tried your little "how to", but i kept getting errors when docker tried to mount the volumes.

            - /Users/michael/Sites:/var/www

I have 1 laradock for all my projects and modify the nginx vhost settings accordingly, it works fine when Docker shares the directories. But when i use the steps you used, i just get errors.

[2016-12-13 10:20] maurosbu commented on #353
@michaelgracious can you please check that:
1. /tmp is the only shared folder (Docker > Preferences > File Sharing)
2. there isn't any conflict in /etc/exports (I had problems with old vagrant exports)

For volumes you can use relative path. If you cloned laradock in your home directory then in ~/laradock/docker-compose.yml you can use:

Let me know if it works.

Mauro

[2016-12-13 10:34] michaelgracious commented on #353
@maurosbu I did only share /tmp in Docker, i tried both absolute and relative paths.

I keep getting the following:

Starting laradock_applications_1
Starting laradock_mysql_1

The path /Users/michael/Sites
is not shared from OS X and is not known to Docker.
You can configure shared paths from Docker -> Preferences... -> File Sharing.
See https://docs.docker.com/docker-for-mac/osxfs/#namespaces fo

[2016-12-13 10:39] maurosbu commented on #353
@michaelgracious did you start the d4m-nfs.sh script?

[2016-12-13 10:40] michaelgracious commented on #353
@maurosbu yes i did, it is running  and i can access with via "screen -r d4m". note that it's only the nginx container that keeps failing

[2016-12-13 10:44] maurosbu commented on #353
@michaelgracious can you please post the content of /etc/exports ?

[2016-12-13 10:47] michaelgracious commented on #353
@maurosbu

\# d4m-nfs exports
"/Users" -alldirs -mapall=0:0 localhost
"/Volumes" -alldirs -mapall=0:0 localhost
"/private" -alldirs -mapall=0:0 localhost

[2016-12-13 12:50] philtrep commented on #479
Awesome, closing this.

[2016-12-13 12:50] #479 closed

[2016-12-13 14:35] ZaffJa opened #481 "Class 'ZipArchive' not found"
I've already enable the zip instance in php-fpm but still laravel would throw me this error.

I was trying to upload a csv file using package "phpoffice/phpexcel": "^1.8".

![image](https://cloud.githubusercontent.com/assets/12205174/21144117/732ccdd2-c184-11e6-9249-500aa90f61ee.png)

[2016-12-13 22:41] edmundluong opened #482 "Idea: Add option to install Google's V8 Javascript Engine PHP extension"
Hi,

I came across [this ReactJS package](https://github.com/talyssonoc/react-laravel) I would like to use with Laravel and Laradock, however, it has an indirect dependency on v8js.

I thought it might be useful for some users if there was an option to install the [Google's V8 Javascript Engine PHP extension (v8js)](https://github.com/phpv8/v8js).

If there is some support for this, I do not mind

[2016-12-14 01:23] philtrep commented on #482
Fixed by #483. Good job @edmundluong 😸

[2016-12-14 01:23] #482 closed

[2016-12-14 14:44] imagine10255 commented on #448
i have same problem

[2016-12-14 16:56] fideloper commented on #393
Thanks @LoopKarma, that was the final thing I had to figure out as well.

Since we're using Docker on mac/windows, we're port forwarding into the VM used by Docker on whatever port we expose.

PHP-FPM therefore receives the wrong REMOTE_ADDR, so I also hard-coded it into my config (which is just the worst hack imaginable for sharing this amongst a team :D )

Wonder if there's a better solution for

[2016-12-14 17:25] fideloper commented on #393
Current work-around that's a bit more portable for Mac users:

**docker-compose.dev.yml** (extends a base compose file, but that's not important here):

[code]

`develop` bash script that runs docker-compose for me (passes arguments through), setting up env vars first

[code]

`run.sh` script that starts php and nginx inside my container:

[code]

Then I have to setup PHPStorm to listen on port 90

[2016-12-14 18:41] fideloper commented on #393
Update: I still updated xdebug.ini using the `start.sh` script, but I can avoid the hacky nginx configuration change simply by setting `xdebug.remote_connect_back=0`, which attempts to use the REMOTE_ADDR to send xdebug info back for web requests, if that is set.

Docs on that: https://xdebug.org/docs/all_settings

[2016-12-16 01:27] soundsgoodsofar commented on #353
Just adding a +1.  We're migrating from homestead to laradock and I'm noticing way slower response times with laradock.  Docker for Mac 1.12.3 (13776) here.  Relatively vanilla laradock config.

[2016-12-16 07:38] maurosbu commented on #353
@soundsgoodsofar it is a Docker for Mac issue. If you want to speed things up I suggest to using d4m-nfs.

[2016-12-16 09:13] twlz0ne opened #490 "Duplicate key in docker-compose.yml"
<pre>
⋊> git log -1 --oneline
047e7f7 Merge pull request #489 from laradock/yarn

⋊> pip install yamllint

⋊> yamllint docker-compose.yml
docker-compose.yml
  1:1       warning  missing document start "---"  (document-start)
  5:1       warning  comment not indented like content  (comments-indentation)
  11:1      warning  comment not indented like content  (comments-indentation)
  <b>36:81     er

[2016-12-16 09:23] #490 closed

[2016-12-16 09:23] appleboy commented on #490
@twlz0ne Fixed #491

[2016-12-16 11:44] mohammedibrahim opened #492 "Class 'Memcached' not found"
I followed the steps to run laravel but I got this error:

I checked the workspace and I can see memcahed installed in cli but when I checked the phpinfo from browser Its not installed.

![screenshot from 2016-12-16 13-27-10](https://cloud.githubusercontent.com/assets/1190075/21261408/d5e038ea-c393-11e6-8354-25b6f571d38e.png)

[2016-12-17 12:59] helbing commented on #473
I also had this problem, and now I solved it. You should use `docker-machine` first, and then execute `docker-compose -up -d mysql nginx`

[2016-12-17 18:40] michaelgracious commented on #353
@soundsgoodsofar let us know if it works for you right away, i couldnt get it to work on my Mac Book Air at all, using Sierra. d4m-nfs that is

[2016-12-19 06:02] helbing commented on #397
same problem too，but if enter the command `docker-compose up -d mysql nginx` again , it success

[2016-12-19 07:02] Rjiegit opened #494 "ser"

[2016-12-19 07:03] #494 closed

[2016-12-19 15:57] #455 closed

[2016-12-19 16:02] #402 closed

[2016-12-19 16:03] #442 closed

[2016-12-19 16:05] philtrep commented on #450
@milroyfraser Is there a specific reason you want to use LaraDock to serve a static site? We could definitely add comments to the nginx site config example, feel free to do a PR with the proposed additions.

[2016-12-19 16:07] #373 closed

[2016-12-19 16:07] #381 closed

[2016-12-19 16:11] #462 closed

[2016-12-19 16:12] philtrep commented on #463
@lechengyu @bagart please follow the instructions in https://github.com/laradock/laradock/issues/113#issuecomment-265506361

[2016-12-19 16:12] #463 closed

[2016-12-19 16:17] philtrep commented on #473
@dilone It seems like you are using an older version of the `docker compose` config. Try deleting your containers/images/volumes and re-upping everything with an updated `docker compose` config and you should be golden!

@helbing Docker-Machine is no longer supported in the default branch, Docker native should be working on all platforms now.

Ill reopen this issue if the problem persists.

[2016-12-19 16:17] #473 closed

[2016-12-20 02:29] soundsgoodsofar commented on #353
Yep thanks guys, followed the steps for d4m-nfs from @maurosbu and things have sped up considerably.

Would be great if we could get this pushed up into the core D4M implementation.  I'll add it to our setup instructions, but people on our team use vagrant and other things that probably write to /etc/exports for a variety of reasons, so I'm a little hesitant to automate it.

[2016-12-20 07:29] philtrep commented on #353
@soundsgoodsofar @michaelgracious @maurosbu could someone create a PR adding the fix to the docs? This seems like a recurring issue.

[2016-12-20 12:05] sudden-break opened #497 "Cannot create container for service volumes_data"
[code]

[code]

[2016-12-20 13:19] Marooned-MB opened #498 "Running project on Windows? Invalid bind mount"
When trying to run nginx I get this error:

[code]

I've read `COMPOSE_CONVERT_WINDOWS_PATHS=1` in .env might help but it did not.
[Here](https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/issues/1775) is mentioned that it might be due to colon in the path but that's default config for volume `- ../:/var/www` so hard to adjust that.

[2016-12-20 13:28] sudden-break commented on #498
#497

[2016-12-20 16:00] vothanhliem1994it commented on #447
I have the same problem

[2016-12-20 16:06] philtrep commented on #498
Closing this as a duplicate of #497. Please contribute to the original issue.

[2016-12-20 16:06] #498 closed

[2016-12-20 16:25] vothanhliem1994it opened #499 "install php extension and nginx config"
Has anyone installed php extension intl which required to install magento 2. And config nginx to setup magento 2 Wizard ?
Thank you so much with your help

[2016-12-20 16:48] philtrep commented on #499
@vothanhliem1994it For Intl you might want to take a look at #466. I'm just waiting for some info on what it does before merging it in.

[2016-12-21 19:10] #453 closed

[2016-12-21 20:23] armandojose0009 commented on #453
Hi thanks you
El 21/12/2016 3:10 p. m., "Mahmoud Zalt" <notifications@github.com>
escribió:

Closed #453 <https://github.com/laradock/laradock/issues/453> via #502
<https://github.com/laradock/laradock/pull/502>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/laradock/laradock/issues/453#event-902046704>, or mute
the thread

[2016-12-22 06:52] manoj8928 commented on #253
Update your docker-compose and issue will be resolved
curl -L https://github.com/docker/compose/releases/download/1.9.0/docker-compose-`uname -s`-`uname -m` > /usr/local/bin/docker-compose
chmod +x /usr/local/bin/docker-compose

[2016-12-22 11:56] alixez opened #503 "Problem in windows when i excute "docker-compose exec -d workspace bash""
# the system is window10
if i excute "docker-compose exec workspace bash"
I get the error "Interactive mode is not yet supported on Windows.
Please pass the -d flag when using `docker-compose exec`".
But if i excute "docker-compose exec -d workspace bash"
I get a timeout error
 "An HTTP request took too long to complete. Retry with --verbose to obtain debug information.
If you encounter this issue

[2016-12-22 12:55] GinoPane opened #504 "Can not access MariaDB database with not-root user"
Hi!

The problem is that I cannot access mariadb with any user, that is not root. So, for example, "homestead" is not allowed, and I get SQL 1044 error all the time. I've tried to add my own user through:

`CREATE USER 'newuser'@'%' IDENTIFIED BY 'password';`

Grant it all the privileges and still it can not access the database server.

Does anyone have an idea, what is the problem here?

Thanks.

[2016-12-22 15:00] sc10n opened #505 "Apache2 container Text file busy: AH00649: could not open transfer log file /docker.stdout."
I am trying to run an nginx and apache container (nginx serving as the reverse proxy). I have been unable to run apache, though the container continues to run, when I attach to the logs it is spamming this:

[code]
The Apache section of the compose file looks like this.
[code]

[2016-12-23 17:09] vertisan opened #508 "Cannot create container for service applications: Invalid mount spec"
Hi,
I trying to start Laradoc on Docker Toolbox but on `docker-compose up -d  nginx mysql` I'm getting error:
`
ERROR: for applications  Cannot create container for service applications: Invalid bind mount spec "P:\\xampp\\htdocs\\____LaravelTesty\\docker-laravel:/var/www:rw": Invalid volume specification: 'P:\xampp\htdocs\____LaravelTesty\docker-laravel:/var/www:rw'
ERROR: Encountered errors whil

[2016-12-26 09:57] pixelone commented on #353
Same issue here on OSX, its really slow. I tried (d4m-nfs) , but unable to get it to boot with docker.

With d4m-nfs I keep getting

`ERROR: for applications  Cannot start service applications: Mounts denied: r more info.  /Volumes/Development/http is not shared from OS X and is not known to Docker.`

Does anyone have d4m-nfs working on OSX sierra ?  Other then the slowness, its great ready to ful

[2016-12-26 10:12] maurosbu commented on #353
@pixelone did you follow my guide?
I'm running docker for mac + d4m-nfs on MacOS Sierra successfully.
Did you run d4m-nfs.sh before bringing containers up?
Did you check /etc/exports for conflicts (you have conflicts if you worked with vagrant + nfs before switching to docker).

Mauro

[2016-12-26 10:25] pixelone commented on #353
@maurosbu - Yeah tried it step by step even deleted the /etc/exports to ensure it was empty. I have my development code on an external drive mounted as Development.  I think most people are just mounting the Users/ folder, so maybe something with it being on another drive.

My exports file looks correct, the only other issue is private won't mount. I get this when I screen -r d4m

`mount.nfs: acce

[2016-12-26 17:10] pabloalbrecht commented on #481
Same problem !

[2016-12-26 17:14] soundsgoodsofar commented on #353
@maurosbu I'm also running into this issue periodically.  Seems like whenever I restart OS X or just randomly after a while of non-use.  Running d4m-nfs.sh again fixes it, but that's pretty annoying and I hesitate to call it a "solution".

[2016-12-26 18:44] cesarhgd10 opened #514 "Making LaraDock work with Wordpress"
Hi, I'm new to Docker and I was wondering if someone could give some tips on how to run Wordpress with Laradock

Thanks in advance

[2016-12-27 04:13] tucq88 commented on #86
Thanks @kayrules .
I think it should be mentioned in README :D

[2016-12-27 05:41] appleboy commented on #86
@kayrules Where is your laravel public folder? `404 page not found` should not happen on laravel project but it always happen on CodeIgniter project if your `index.php` file in `/var/www` folder.

[2016-12-27 13:57] bigblueeio commented on #508
Hi,

place a .env file next to your docker-compose.yml file, with the  following content :  COMPOSE_CONVERT_WINDOWS_PATHS=1

That should do the trick.

[2016-12-28 09:14] omitobi commented on #503
Have you tried `docker exec -it {workspace-container-id} bash`. I had a problem running that command although my issue was different from yours it worked

[2016-12-28 12:37] gabfiocchi opened #516 "Cannot build php-fpm"
When try run `docker-compose up` or `docker-compose up nginx mysql redis` with some parameter the result it's same. I have this error..
`Building php-fpm`
`ERROR: Unknown instruction: DOCKER-PHP-EXT-INSTALL`

And can't fixed this. Any idea?

[2016-12-28 15:30] alexweb commented on #516
+1 Same issue

[2016-12-28 17:05] iannazzi opened #517 "Upgrade Docker to 1.12.5 on mac - mysql Data is not loaded"
I have been using laradock for almost a year with no issues. I upgraded docker to version 1.12.5. My databases are now empty. I see files are in ./data/mysql. Not sure why they are not loaded

here is my docker compose file - pretty standard. Let me know what else I can provide.

[code]

[2016-12-28 20:16] manshoor commented on #514
well that's simple just follow the video instructions and place your wordpress dir in public folder.

[2016-12-28 20:53] sc10n commented on #505
Any follow up on this? I have tried switch to different versions of the apache container, all with no forms of luck.

[2016-12-29 01:42] mikeanan opened #518 "PHPStorm Debugging Guide - ./xdebugPhpFpm status BUT PHP Warning..."
By following the PHPStorm Debugging Guide to the step:
**Enable xDebug on php-fpm**

And then I got the following PHP Warning:
xDebug status
**PHP Warning:  PHP Startup: Invalid library (appears to be a Zend Extension, try loading using zend_extension=opcache.so from php.ini) in Unknown on line 0**
PHP 7.0.9 (cli) (built: Aug 10 2016 19:45:48) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Eng

[2016-12-29 01:44] mikeanan commented on #518
I use the latest laradock, version: 4.12.0.

[2016-12-29 11:23] pakistanihaider commented on #508
@bigblueeio
Many Thanks. The ".env" method worked.
I guess there is no better documentation for windows :(

[2016-12-29 13:08] springjk commented on #516
This problem is laradock docker image need to update.

[code]

[2016-12-29 13:16] springjk commented on #503
update your docker version, `docker-compose exec workspace bash` will be work.

[2016-12-29 13:39] alexweb commented on #516
Nope, didn't help.
After updating and executing `docker-compose build --no-cache`
there is an error: `Unknown instruction: DOCKER-PHP-EXT-INSTALL`

[2016-12-29 13:45] alexweb commented on #516
Here is the latest lines from log:
`
Removing intermediate container 5972a30904db
Step 56/71 : RUN if [ ${INSTALL_AEROSPIKE_EXTENSION} = false ]; then     rm /etc/php/7.0/cli/conf.d/aerospike.ini ;fi
 ---> Running in edaddb812af3
 ---> ce9aa3e36066
Removing intermediate container edaddb812af3
Step 57/71 : USER root
 ---> Running in 227e104e9897
 ---> 92df6c5e7d28
Removing intermediate container 22

[2016-12-29 13:51] springjk commented on #516
` docker images | grep "laradock/"`

[code]

`docker pull laradock/php-fpm 7.0--1.2`

[2016-12-29 13:54] alexweb commented on #516
`docker images | grep "laradock/"`
returns:
`laradock/workspace          1.3                 4973a22e69b6        7 days ago          709 MB`

 `docker pull laradock/php-fpm 7.0--1.2`
returns:
`"docker pull" requires exactly 1 argument(s).
See 'docker pull --help'.

Usage:  docker pull [OPTIONS] NAME[:TAG|@DIGEST]

Pull an image or a repository from a registry`

[2016-12-29 13:56] springjk commented on #516
`docker pull laradock/php-fpm:7.0--1.2`

i can sure it will be work.