[2016-12-29 14:03] alexweb commented on #516
laradock/php-fpm was updated, however `docker-compose up -d nginx mysql redis` and `docker-compose build --no-cache` still returns same error.

[2016-12-29 14:08] springjk commented on #516
A few days ago I also encountered this problem and solved, but I think I missed what step, I have to look back and determine the correct and then back to you later.

[2016-12-29 14:08] alexweb commented on #516
Ok, thanks for help!

[2016-12-29 15:28] springjk commented on #516
`docker rmi laradock/php-fpm:7.0--1.2`

`docker-compose build --pull php-fpm`

[code]

In there, i think it's a cache problem, i has been delete `laradock/php-fpm:7.0--1.2`, but it still returns "Unknown instruction", so i modify file `/laradock/php-fpm/Dockerfile-70` ***line 13*** to `FROM laradock/php-fpm:7.0--1.2s`, and i exec this:

`docker-compose build --pull php-fpm`

[code]

`laradock/php-

[2016-12-30 06:17] lavenkin commented on #353
@michaelgracious I follow your guide but I get the error.

[code]

this is my `/etc/export` content

[code]

and `/tmp` is the only shared folder in my docker file sharing

@michaelgracious are you solve the problem

[2016-12-30 06:49] lavenkin commented on #353
when I rebot my mac again and run the script `~/d4m-nfs/d4m-nfs.sh` it work success, I check the mount use ` screen -r d4m`

[code]

I think it mount failed before I reboot the mac.

[2016-12-30 09:01] alexweb commented on #516
When I i modified file `/laradock/php-fpm/Dockerfile-70` line 13 to `FROM laradock/php-fpm:7.0--1.2s` I got the same error when run `docker-compose build --pull php-fpm`:

`>docker-compose build --pull php-fpm`
Building php-fpm
ERROR: Unknown instruction: DOCKER-PHP-EXT-INSTALL

And it didn't download anything.

[2016-12-30 09:08] alexweb commented on #516
You said that laradock image need to update. But first time I installed it was 28 of Dec. Shouldn't it be already up to date? I think I if I remove all my images and reinstall it I'll got the same state as i had 28 of Dec.

[2016-12-30 09:41] springjk commented on #516
Yesterday,i used a new win10 pc to first install laradock, it is worked; And i found this error when my mac update laradock version, after updated laradock images, it has been fixed.

please show me `docker images | grep "laradock/"` return.

[2016-12-30 10:21] alexweb commented on #516
`>docker images | grep "laradock/"`
`laradock/workspace          1.3                 4973a22e69b6        8 days ago          709 MB`

[2016-12-30 10:25] springjk commented on #516
you miss `laradock/php-fpm`

exec `docker pull laradock/php-fpm:7.0--1.2`, and make sure it's done.

[2016-12-30 10:28] alexweb commented on #516
Done. Now it's:
`>docker images | grep "laradock/"`
laradock/workspace          1.3                 4973a22e69b6        8 days ago          709 MB
laradock/php-fpm            7.0--1.2            ee574fa56381        4 months ago        410 MB

[2016-12-30 10:30] springjk commented on #516
`docker-compose build --no-cache php-fpm `

[2016-12-30 10:31] alexweb commented on #516
`docker-compose build --no-cache php-fpm`
Building php-fpm
ERROR: Unknown instruction: DOCKER-PHP-EXT-INSTALL

[2016-12-30 10:48] springjk commented on #516
😢 Ok, maybe my way no use to you, maybye you can try modified php-fpm dockerfile again.

Finally if you have no idea , try reset docker and update docker/docker-compose version, sorry for can't help you.

[2016-12-30 11:31] alexweb commented on #516
Yep, thank you for help!

[2016-12-30 11:46] helbing commented on #447
I had the same problem too
[code]

[2016-12-30 17:19] cesarhgd10 commented on #514
Wow, i changed the nginx root, but that didn't work out very well. Always when i try to install, i get the white screen of death in the second step

[2016-12-30 17:30] abtrumpet commented on #514
You have to change the nginx root and set the proper mysql variables.
On a side note, this could be an additional feature. I'll take a look at adding this into laradock.

[2016-12-30 17:37] cesarhgd10 commented on #514
That's is my actual problem... i can't put the MySQL variables... I tried to put the same as another docker I was using but until now no luck

[2016-12-30 22:09] cesarhgd10 commented on #514
i'm using the default ones now... I saw the error log in nginx:

[code]
Always in the step 2 I get  _HTTP ERROR 500_

[2016-12-31 01:16] manshoor commented on #514
@cesarhgd10 first of all 500 is a sever side error

make sure your directory mappings are correct and you have a nginx like this https://github.com/laradock/laradock/blob/master/nginx/sites/sample.conf.example

so in my docker compose

    applications:

        image: tianon/true

        volumes:

           - ../WordpressDev/:/var/www/wordpressdev

And my Nginx is

    server_name wordpress-dev

[2016-12-31 03:15] edmundluong commented on #356
Finally got a chance to take a look at this, I was able to successfully run Selenium and execute tests using it with the changes from #519

[2016-12-31 06:35] dannyweb8 opened #520 "Redirect to https problem"
I can connect to my site: example.dev
Everything works fine until I add "https" to middleware like this:
[code]
When I try to access to my site "example.dev", it's forced redirected to "https://example.dev", which cause: "This site can’t be reached" error.

Any suggestion?

[2017-01-01 14:05] elshahat opened #521 "ERROR: Service 'workspace' failed to build: unauthorized: authentication required"
Hello,

I have pulled laradock and I pulled it as submodule of my current git project.

When I run this command: **docker-compose up -d nginx mysql**

I get this error:

Building workspace
Step 1 : FROM laradock/workspace:1.3
1.3: Pulling from laradock/workspace
f069f1d21059: Downloading [================================>                  ] 31.98 MB/49.17 MB
ecbeec5633cf: Download complete
ea6f182

[2017-01-01 15:22] #356 closed

[2017-01-01 20:24] pakistanihaider commented on #521
![image](https://cloud.githubusercontent.com/assets/3355880/21582893/3d295fa6-d08a-11e6-8d3c-383ff62705d5.png)

[2017-01-02 18:05] danielhomer commented on #516
Any luck with this @alexweb? I'm getting the same issue as you.

I've also tried deleting all of my Docker images and rebuilding, still no dice.

[2017-01-02 18:12] alexweb commented on #516
Nope. Don't know how to fix this

[2017-01-02 18:16] danielhomer commented on #516
Ok, I've just got it working, although I'm still not sure on the exact cause, what I did:

1) `git checkout f82d3b30b483abdac72b0554ff7d72218c45fa34`
2) `docker-compose up -d nginx mysql redis` (this should build now)
3) `docker-compose stop`
4) `git checkout master`
5) `docker-compose up -d nginx mysql redis`

Someone with a bit more knowledge can probably understand why this works, it might be r

[2017-01-02 18:37] LarryEitel opened #522 "Cannot connect from socket io client to 'node socket.js' running on workspace"
I have launched `node socket.js` on workspace running on port 6378.

If I bash into `php-fpm`, I can verify ability to connect using: `curl -v workspace:6378/socket.io`.

However, I **cannot** connect from javacript client running from `php-fpm`. The console show continuous stream of failures:
`http://workspace:6378/socket.io/?EIO=3&transport=polling&t=LbWPrv5`

Somewhere else, someone pointed to:

[2017-01-03 02:36] Mahmoudz opened #524 "Remove production-docker-compose.yml!"
@laradock/admins I suggest removing [production-docker-compose.yml](https://github.com/laradock/laradock/blob/master/production-docker-compose.yml) and replacing it with documentation on how to build your own. Since it's already outdated and really hard to keep updating it whenever a change applied to the main `docker-compose.yml`. What do you guys think?

[2017-01-03 02:44] appleboy commented on #524
Agree with @Mahmoudz 👍

[2017-01-03 05:20] yaoshanliang opened #525 "Tag latest not found in repository docker.io/tianon/true"
When run
[code]
[code]

[2017-01-03 05:56] alexweb commented on #516
It works! Thanks!

[2017-01-03 05:58] appleboy commented on #525
It is working for me.

[code]

[2017-01-03 06:38] alexweb commented on #516
And one more question (not related to the issue):
Can't login to workspace:
 `> docker-compose exec workspace bash
ERROR: No container found for workspace_1`
Any ideas?

[2017-01-03 06:54] philtrep commented on #524
@Mahmoudz sounds good

[2017-01-03 13:21] wsung commented on #514
Hi, I'm new here and I had the same problem with mysql_connect. But it seems, that I get it running.

The error message says, that mysql_connect is missing. If you are using php 7, mysql_connect is removed in this version. You should use mysqli instead of mysql. But mysqli is not enabled on default.

See: https://github.com/laradock/laradock/blob/master/php-fpm/Dockerfile-70
and: https://github.co

[2017-01-03 17:54] danielhomer commented on #516
Same here 👎 , looks like it's not as easy as that after all.

[2017-01-03 20:24] LarryEitel commented on #522
Lesson learned... socketio:3000 or whatever port you chose must be reachable from browser.

[2017-01-03 20:24] #522 closed

[2017-01-04 08:00] xonge commented on #402
@philtrep you're right,but what time will fix it?

[2017-01-04 11:46] Jono20201 commented on #372
Also experiencing this issue.

[2017-01-05 01:25] yaoshanliang opened #526 "Connection refused"
I have mysql started, and I can connect to mysql with user `homestead` password `secret`.

However, in laravel , it said `Connection refused`.

[code]

[2017-01-05 01:52] yaoshanliang commented on #526
Solved by adding MYSQL_HOST=mysql according to [https://github.com/laradock/laradock/issues/389](https://github.com/laradock/laradock/issues/389).

Thanks for explaining more about this reason.

[2017-01-05 18:42] cesarhgd10 commented on #514
@manshoor , I followed your steps, but still in the step 2 of the installation I get HTTP 500 error

**nginx/sites/default.conf**

[code]

**docker-compose.yml**

 `- ../wordpressdev:/var/www/wordpressdev
`

**My file structure is:**

[code]

[2017-01-05 18:57] cernicc opened #529 "Nginx exit 1 (Fedora 25)"
Hi.

When I run "docker-compose up -d nginx mysql" the nginx container is started and than immediately fails with exit code 1.

![screenshot from 2017-01-05 19-48-46](https://cloud.githubusercontent.com/assets/6370441/21693175/37c43f4c-d380-11e6-97b8-2f6ab21a0c33.png)

I have tried running only nginx container from docker registry (nginx:alpine) and its working.

[2017-01-06 01:42] jaydubbyasee commented on #492
@mohammedibrahim If you haven't already solved this already. You need to enable memcached for php-fpm as shown below:

[code]

[2017-01-06 02:48] edmundluong commented on #508
+1 had a developer run into this problem, the .env fix solved this problem. Potential candidate for PR? @philtrep

[2017-01-06 05:44] philtrep commented on #508
@edmundluong yes

[2017-01-06 05:55] philtrep commented on #526
@yaoshanliang thank you for the issue and the follow up.

If you look inside `docker-compose.yml` you'll see that the mysql service is named `mysql`. You can use the names of services for routing within the same network (in this case, within the same stack).

Depending on the internal configuration of the service, you should also be able to use a dynamically assigned internal ip address instead.

[2017-01-06 05:55] #526 closed

[2017-01-06 06:19] dtkoval commented on #526
if you have similar issues, just take a look at this [page](http://docs.master.dockerproject.org/engine/userguide/networking/configure-dns/). I hope it will give you a better understanding.

[2017-01-06 11:10] wsung commented on #514
My configuration looks like yours except one line:

root /var/www/wordpressdev/web;

[2017-01-06 16:58] edmundluong commented on #508
@philtrep I would imagine this would involve removing the .env from the .gitignore file? Thoughts? I don't mind submitting a PR if it's fine to modify the .gitignore

[2017-01-06 17:07] dopyoman opened #530 "imagick support"
How would I add imagick support the docker container?
I have a dependency (http://glide.thephpleague.com/) that needs either imagick or gd.

Thanks

[2017-01-06 21:49] philtrep commented on #508
@edmundluong That would appear to be the simplest solution, you can definitely do a PR for it.

[2017-01-07 07:28] springjk commented on #516
@alexweb For can't login to workspace:
1.  add `command: "/sbin/my_init"` to workspace Container in `docker-compose.yml`
2. `docker-compose down`
3. `docker-compose up -d xxxx`
4. `docker-compose exec workspace bash`

It's work for me. BTW, `command: "/sbin/my_init"` is from `laradock/workspace 1.1` tag.

[2017-01-07 09:35] dopyoman commented on #530
Sorry it seems like the base php image contains gd support the error I was getting  was

So the issue is still similar. How would I go about modifying the php's ini file?

[2017-01-07 11:46] Dartanjan commented on #253
After doing the above, and running `docker-compose`, or `docker-compose version`, I get:

`/usr/local/bin/docker-compose: line 1: {error:Not Found}: command not found`

Context: I installed Docker for OSX, but had docker-compose version 1.5.2 and I tried to upgrade to 1.9.0.

[2017-01-07 11:55] Dartanjan commented on #253
Solved, I updated docker-compose with instructions from https://docs.docker.com/compose/install/
The cURL call is a bit different for OSX. Thanks for pointing in the right direction :)

[2017-01-07 16:35] #508 closed

[2017-01-07 20:17] FMate commented on #529
I have the same problem with Nginx. My host system is Ubuntu 16.10. Last time I was using Laradock 10 days ago and everything worked fine.

[2017-01-08 11:55] Insua opened #532 "how to add ioncube to php5.6"
i want to add ioncube extension with php5.6,i donnot konw how to write dockfiles
so anyone can give me an example to add ioncube to laradock by php5.6
thx a lot

[2017-01-08 14:03] cernicc commented on #529
I have figure it out.
SELinux was preventing nginx from write access on the directory nginx.
So i have disabled SELinux for now.

![screenshot from 2017-01-08 15-00-51](https://cloud.githubusercontent.com/assets/6370441/21750432/72d4c892-d5b3-11e6-935b-0a46c779d59e.png)

[2017-01-09 03:44] g0ld3lux opened #533 "php redis extension in workspace for php7.0"
Since Laravel 5.4 is near to be release , Maybe We Can have Additional Arguments that we can pass our docker-compose.yml file to enable php-redis extension.... that will be triggered in the workspace Dockerfile if it is set to true...

If anyone has already done this, can we add it as pull request if not, ill be creating one ...

[2017-01-09 08:20] zhenfdfs commented on #481
After i set INSTALL_ZIP_ARCHIVE = true, then rebuild php-fpm. I encounter a problem
Service 'php-fpm' failed to build: The command '/bin/sh -c if [ ${INSTALL_ZIP_ARCHIVE} = true ]; then     pecl install zip &&     docker-php-ext-enable zip ;fi' returned a non-zero code: 1

[2017-01-09 08:30] ZaffJa commented on #481
I solved my problem by requiring this package https://packagist.org/packages/league/flysystem-ziparchive

[2017-01-09 08:31] #481 closed

[2017-01-09 08:36] gfd6th commented on #448
I repeated the issue on Docker for Mac.

1. `docker-compose up -d mariadb`
2. `docker-compose down`
3. Change to Mysql `docker-compose up -d mysql`
4. Destory mysql service `docker-compose down`

[2017-01-09 10:25] FMate commented on #529
I simply reinstalled the Laradock and it has started working as usual.

[2017-01-09 10:28] luciano-jr opened #534 "Make the Laradock the official docker image from Laravel"
The last Laravel [survey](https://laravel-news.com/2016-survey) reveal us, that one thing that the community would like to see in the next steps to the framework is having the official docker image.

Maybe we could adapt or even create a specific branch of Laradock to provide that.

This topic could be improve to plan it with more details.

[2017-01-09 11:51] mblaschke commented on #505
@sc10n
I'm one of the maintainer of the webdevops project.. can you give me the result of `docker info` and `docker version`?

[2017-01-09 15:11] philtrep commented on #534
@luciano-jr Very good idea, we should definitely investigate this further. We could contact the guys @ https://github.com/laravel/laravel to see if they would be open to it.

@laradock/admins What do you guys think?

[2017-01-09 15:13] philtrep commented on #481
@ZaffJa could you add this to our documentation?

[2017-01-09 15:14] philtrep commented on #448
@gfd6th Could you add a PR with your fix? This is definitely an issue.

[2017-01-09 16:16] oprudkyi opened #535 "Suggestion to avoid port/address bind issues , like Error starting userland proxy: listen tcp 0.0.0.0:80: bind: address already in use"
in case of use of many different laradocks setups for different projects there a lot of such issues as by default laradock configured to use 0.0.0.0 as primary IP

docker-compose provides [custom networks](https://docs.docker.com/compose/compose-file/#network-configuration-reference) which can be used as workaround of bind problems

also seems '.env' already part of project so it might be useful t

[2017-01-09 16:28] #529 closed

[2017-01-09 16:53] tom-sinclair opened #536 "Xdebug does not install"
I am trying to generate a code coverage report from PHPUnit which requires Xdebug, however when I install Xdebug following the instructions, Xdebug is still not available when I ssh into the workspace container. I have read through the various issues and posts on SO but nothing has offered me an option to get this working. Also, I have been unable to run the xdebugPhpFpm commands as described, I h

[2017-01-10 09:32] springjk commented on #534
What a great plan!  👍

[2017-01-10 13:15] appleboy commented on #534
Great news.

[2017-01-10 14:26] Mahmoudz commented on #534
Yes it's great idea, it's the first thing I thought about when reading that survey 2 days ago.
**Make Laradock official.** Support this by retweeting [https://twitter.com/Mahmoud_Zalt/status/818825430350315522](https://twitter.com/Mahmoud_Zalt/status/818825430350315522)

[2017-01-10 14:27] ganlub commented on #86
Same thing happened to me, I was going crazy with the 404...
Either `- ../:/var/www` becomes `- ../:/var/www/public` on docker-compoe.yml or the Nginx default site configurations need to be updated.

[2017-01-10 15:01] sixlive commented on #459
So if I add the cron to `/etc/cron.d` it appears to start correctly.

So the cron would look like
[code]

[2017-01-10 15:44] sixlive commented on #459
If we all feel that this is an acceptable solution, I'll open aPR

[2017-01-10 15:48] philtrep commented on #459
@sixlive thanks for the follow up, 👍 for PR.

[2017-01-10 17:20] cesarhgd10 commented on #514
@wsung  But how is your folder structure ?
The strange part is that, the first's steps of the Wordpress installation run normally, but in the step 2 i get error 500, maybe is something to do with the database ? Like pointed in the log

[2017-01-10 17:37] mikeerickson commented on #534
@Mahmoudz I am all for an official docker repo and this package is a great start. Curious if Taylor et al would make it happen though.  For most part, they follow the Not Invented Here syndrome much like other leaders.

[2017-01-10 17:42] mikeerickson commented on #534
@Mahmoudz well, looks like Taylor is keen on this repo, doesn't want to maintain.  What (if any) issues are open that need cleaning or fixing to clean up any rough edges

[2017-01-10 17:44] mikeerickson commented on #514
Perhaps since this is "Laradock" supporting outside of Laravel might not be the best direction.  I am guessing there are some quality projects which supports WP?

[2017-01-10 18:48] philtrep commented on #534
I'm not sure I understand the reservation on that point, LaraDock is self-sufficient. We can definitely clean up some more issues but is that the actual problem or just a nice to have?

From what I gather, the community is asking for Docker support of Laravel which is exactly we are doing. Is there a difference in ideology getting in the way?

[2017-01-10 19:02] mikeerickson commented on #534
@philtrep I don't have a problem with it at all.  I am merely stating how the Laravel community would react as a whole.  I don't care where it comes from so long as it works!

[2017-01-10 19:23] philtrep commented on #534
@mikeerickson I see, we'll do my best to clean up. I have to say that re-reading Taylor's tweet I think that it's the word `Official` he find implies too much responsibility. I'd be happy for this community even if we only got a single line under the `Server Requirements`.

In the end I think most Laravel users think like you do: if it works, who cares where it's from.

[2017-01-10 19:29] philtrep commented on #514
@mikeerickson Supporting other frameworks was discussed in #76. You can definitely open a new issue to argue that position.

[2017-01-10 19:31] mikeerickson commented on #534
@philtrep I have tried LaraDock in the past, but at the time, I had to decide quickly between using Docker and Vagrant as I had to get to work ASAP.   I do recall when trying it in the last, had some pain points and moved on to Vagrant (Homestead).

However, now I have more time to invest in getting the Docker implementation working and am doing that now.

I will report back and report where those

[2017-01-10 19:33] mikeerickson commented on #534
@philtrep One thing that I recall needing in my previous attempt was better node support?  I will make notes as I progress today :-)

[2017-01-10 19:35] philtrep commented on #534
@mikeerickson Sounds great, I look forward to your feedback!

[2017-01-10 20:08] mikeerickson opened #537 "Handling Port Conflicts"
Running on my default machine (port 80 seems to be locked to Apache)

I have adjusted `docker-compose.yml` to create "alias" ports

[code]

But still receive the following errors

[code]
[code]

[2017-01-10 20:27] philtrep commented on #537
@mikeerickson What commands are you using to bring the project up?

[2017-01-10 20:27] mikeerickson commented on #537
@philtrep I figured it out.... I set the port in the wrong section (didn't set in the ngnix section) I set it in the workspace section (now I need to figure out what the workspace section does)

[2017-01-10 20:27] #537 closed

[2017-01-10 20:44] vladdancer commented on #92
Just try to restart a docker

[2017-01-10 21:34] #459 closed

[2017-01-10 22:40] mikeerickson opened #539 "Upgrade to use PHP 7.1??"
Do you happen to have plans to upgrade to use PHP 7.1?   If not, can you shed some light on the process necessary for using PHP 7.1 locally?

[2017-01-10 22:46] mikeerickson commented on #539
I have done the following:

- Created Dockerfile-71 (based from Dockerfile-70) and updated version to 7.1
- Updated `docker-compose.yml` to point to the `Dockerfile-71` in php-fm section
[code]

- execute `docker-compose up -d nginx mysql redis`

[2017-01-10 22:54] philtrep commented on #539
@mikeerickson There's a PR waiting for some modifications and we should be good to go! #484

[2017-01-10 22:58] mikeerickson commented on #539
@philtrep Excellent, thx!

[2017-01-10 23:04] mikeerickson opened #540 "[FEATURE] Provide ability to copy user alias script and source it in ~/.bashrc"
Is there an entrypoint for copying `.sh` files (in my case, I have a number of bash aliases I use)

I can easily copy it around and be done with it, but I am curious if there is already a method in place for doing this when I `docker-compose up -d nginx mysql redis`

[2017-01-10 23:18] mikeerickson opened #541 "[FEATURE] Add linuxbrew option to workspace"
I don't see this as an option anywhere?

[2017-01-11 08:45] wsung commented on #514
Sorry! My path is wrong for you. Because I'm using roots/bedrock, so my root-folder is under web.

There is something in your error, that is different to my configuration.

your DB_HOST=localhost

my DB_HOST=mysql

Like in the Quick Overview from laradock readme.

[2017-01-11 09:32] hughgrigg opened #542 "How can I change the Postgres database name and user name?"
I'm trying to change the Laradock Postgres database name and user name, but without success.

I've changed the Postgres section of `docker-compose.yml` to look like this:

[code]

I've since rebuilt the container and tried destroying all the images and building again from scratch. The Postgres database and username are still called `homestead`.

How can I configure this?

[2017-01-11 14:51] philtrep commented on #541
@mikeerickson Thank you for the suggestion. We can definitely investigate the possibility of adding this but I doubt it would be preferable to the `git submodule` way of installing LaraDock.

Since the goal is to have an exact replica of the `dev` environment on all machines, it makes sense to keep the version of LaraDock used within the project as a part of version control.

Can you see any benef

[2017-01-11 15:12] philtrep commented on #540
There is no LaraDock specific way of doing this. You can add a volumes instruction in the docker-compose file for the service you want to mount.

[code]

I don't believe we currently have anything to add aliases. I would suggest sourcing the file yourself when entering the container `docker-compose exec workspace bash -c "source myaliasfile.sh && bash"`.

We have a PR #487 to allow running command

[2017-01-11 15:16] philtrep commented on #542
@hughgrigg Did you delete the volumes as well?

[2017-01-11 15:20] hughgrigg commented on #542
@philtrep Yes, I used `docker-compose rm -v`. Should that have done it or is there something else I need to do?

[2017-01-11 15:30] philtrep commented on #542
@hughgrigg Try `docker stop $(docker ps -qa) && docker rm $(docker ps -qa) && docker volume rm $(docker volume ls -q)` instead.

[2017-01-11 16:15] mikeerickson commented on #541
Perhaps I was not clear in first message :)

What I am actually requesting is having homebrew (linuxbrew) available as with other installed tools (ala yarn, node, mom, etc)

Not a homebrew method for install laradock, the current method is just fine :)

[2017-01-11 17:14] philtrep commented on #541
Oh I see, good idea.

[2017-01-11 17:27] mikeerickson commented on #541
@philtrep If you would like, I can take a stab at it :-)   Still learning the whole docker approach, so not sure where to "start" but surely cant be too difficult.   I will see if I can figure it out.

[2017-01-11 18:31] philtrep commented on #541
@mikeerickson Sure thing. Let's keep this issue open, we'll close it when you (or someone else) implements a solution!

[2017-01-11 18:32] mikeerickson commented on #541
@philtrep In the process right now (rebuilding the workspace container) quite a slow process :-)

[2017-01-11 18:34] mikeerickson commented on #541
Can you advise?

1. Update workspace/Dockerfile to include installation script for linuxbrew
2. Set the INSTALL_LINUXBREW flag in docker-compose.yml
3. Rebuilding workspace container

I receive error when rebuilding workspace container

[code]

In case you wish to see, here is the updated code in `workspace/Dockerfile`

[code]

[2017-01-11 18:37] mikeerickson commented on #541
@philtrep Please see above (forgot to tag you)

[2017-01-11 18:42] mikeerickson commented on #541
@philtrep I think I figured out the issue (forgot the \ at end of each line).  Please hold while I confirm the issue (rebuilding workspace now).

[2017-01-11 18:46] mikeerickson commented on #541
@philtrep OK, workspace is rebuilt but brew was not installed (looks like it is being installed correctly when watching rebuild, but nothing there).

If you have any advise on how to fix this, I would greatly appreciate it.

For now, I have `linuxbrew` installed (doing it manually) but would love to get this added in core :-)

[2017-01-11 20:34] mikeerickson commented on #541
@philtrep

When you have a chance, can you please review my PR  https://github.com/laradock/laradock/pull/543

[2017-01-12 14:55] philtrep commented on #541
@mikeerickson I'll be testing it out today.

[2017-01-12 16:06] bipinu opened #545 "Getting more done in GitHub with ZenHub"
Hola! @bipinu has created a [ZenHub](http://www.zenhub.com) account for the **laradock** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboard

[2017-01-12 16:39] philtrep commented on #545
@bipinu If you want to suggest that we organize our project management I'm all for it and we will consider all available options but please don't spam your software here for no reason.

[2017-01-12 16:39] #545 closed

[2017-01-12 19:38] hughgrigg commented on #542
That did it! Thanks.

[2017-01-12 19:38] #542 closed

[2017-01-12 21:07] bipinu commented on #545
Sigh! This wasn't on purpose. I was playing with the ZenHub addon and it decided to create this issue. I only noticed after I received an email notification.
Sincere apologies!

[2017-01-12 23:50] philtrep commented on #525
Closing this since I don't think that would be a bug on our side.

[2017-01-12 23:50] #525 closed

[2017-01-12 23:51] #148 closed

[2017-01-13 00:00] g0ld3lux commented on #533
Ive added here a pull request , https://github.com/laradock/laradock/pull/546

[2017-01-13 00:05] philtrep commented on #517
@iannazzi My apologies, I missed your issue during my daily issue round.

The MySQL version may have changed between LaraDock versions. We're not doing a `real` update of mysql when updating LaraDock, we are just giving the database files to a fresh install of a newer version so the behavior is unexpected.

The simplest solution is to:

1. do dump of the database
2. perform the LaraDock update
3.

[2017-01-13 00:10] philtrep commented on #540
@mikeerickson And in case it wasn't obvious enough, my previous comment was an invitation to do a PR 😉

[2017-01-13 00:26] #372 closed

[2017-01-13 00:41] g0ld3lux commented on #533
Please Check my updated pull request with Instruction in README.md
How to check if it is properly installed ... i already updated the link
https://github.com/laradock/laradock/pull/548

[2017-01-13 00:43] g0ld3lux opened #549 "php xdebug and aerospike error extension in php-fpm"
Hi whenever i run a php command i receive this error,
it has something to do with xdebug and aerospike
Hope someone would fix this issue thanks

[code]

[2017-01-13 00:53] g0ld3lux commented on #534
rather than making this an official repo, i think we should focus on Making this Production Ready...
And Ready for scalability , Also we Should Limit the number of stacks that we would maintain...
basically we can add unlimited images, but that would sucks and confuse many people...
maybe we can have a Core Stack, where we have the basic

php , mysql , redis , nginx , laravel, node

then a plugin

[2017-01-13 00:59] g0ld3lux opened #550 "Make Laradock more maintanable"
As laradock is getting more and more famous, we have more and more pull request that we want to merge...

Well if We really wanna make this the Official Repo...

I Sugguest we make this More Laravel Like...

We Could have a CORE Stacks...

In those Stacks we can Easily Spin Up A Laravel Dev machine...

for example that stack is : php mysql php-fpm redis nginx node

if We Do Intend to Use Extension

[2017-01-13 01:41] mikeerickson commented on #540
@philtrep gotcha!  Will get it done after my open PR is done :)

[2017-01-13 03:23] philtrep commented on #549
Closing this since this is a known issue #536

[2017-01-13 03:23] #549 closed

[2017-01-13 03:33] #404 closed

[2017-01-13 04:13] philtrep commented on #550
@g0ld3lux Thanks for bringing this up.

As far as being the official repo, this is (as far as I know) something entirely out of our control. It depends on the decision of Taylor Otwell so although we can hope for it (obviously it would make our project/community grow), I don't think we should expect it nor base our long-term planning of this project on it.

That being said I do agree that we need

[2017-01-13 14:37] mouyong commented on #397
i have the same problem, but i dont know how to deal with it, could you give me some ideas? thanks.

[2017-01-13 15:18] appleboy commented on #550
Maybe we can follow the [Contribution Guidelines of Gitea project](https://github.com/go-gitea/gitea/blob/master/CONTRIBUTING.md#maintainers)

[2017-01-13 17:11] mikeerickson opened #553 "[FEATURE] Provide support for installing global node modules"
I don't see any interface to installing `node_modules` during `docker-compose up` action.

I am thinking these can be added to the `docker-compose.yml` something like the following:

[code]

All the modules will be installed if the INSTALL_NODE flag is true.

If you are interested in having this added, i will take care of it and submit a new PR accordingly

[2017-01-13 17:12] mikeerickson commented on #540
@philtrep OK, having closed up https://github.com/laradock/laradock/issues/541 I am now moving onto this feature.

[2017-01-13 17:38] Mahmoudz commented on #550
@g0ld3lux I like the idea of enhancing the maintainability of the project.
By Plugins do you mean repository containing a software support?! Can you give us more detailed example on your solution please?

@philtrep @appleboyI do support bringing more maintainers. Maybe @g0ld3lux would like to join us and help us implement his solution to fixing the maintainability issue. @appleboy suggestion (Gite

[2017-01-13 19:20] philtrep commented on #553
@mikeerickson Good idea to install node modules when building containers.

I have to say however that I don't think we should keep node modules in the compose file.

I'd say we could have a build argument `INSTALL_NODE_MODULES` that when turned to `true` installs the node modules (in the `package.json`) using YARN/NPM depending on the package manager selected.

Does that make sense to you?

[2017-01-13 19:22] philtrep commented on #553
@mikeerickson Btw no need to use a prefix for your issues, we have labels to categorize them :)

[2017-01-13 19:29] mikeerickson commented on #553
@philtrep in this case, these are global modules, not specific to project.

For example, I have a number of modules which I install globally on local development which I keep reaching for but aren't installed (available from workspace)

$ npm i -g npms-cli
$ npm i -g package-menu-cli
$ npm i -g np

etc

[2017-01-13 19:29] mikeerickson commented on #553
@philtrep regarding prefix, will do :)

[2017-01-13 19:37] philtrep commented on #553
@mikeerickson I see, I would still keep them as build arguments but adding the options to have these 3 modules globally available is definitely a good idea.

[2017-01-13 20:03] mikeerickson commented on #553
@philtrep I get what you are saying. I will go down that and see how it flows. Making this the "official" docker project one feature at a time :)

[2017-01-14 10:13] sitex opened #554 "Could not resolve host inside workspace container."
Got this error with Laradock "

" when trying to '`git clone ...`' inside workspace container.
any ideas?

Host machine OS is Ubuntu 16.04.
Docker version is 1.12.6.

PS. I'm LaraDock newbie.

[2017-01-14 14:18] sitex commented on #554
Nevermind. I rebooted my Host machine and now it's working. It's a miracle.

[2017-01-14 14:18] #554 closed

[2017-01-16 21:02] mikeerickson commented on #540
@philtrep FYI, I am starting on this one now....

[2017-01-16 21:33] mikeerickson commented on #539
@philtrep Good day sir... Has this been released yet?  The #484 issue still appears to be open?

[2017-01-16 21:34] mikeerickson commented on #541
Feature added (see above)

[2017-01-16 21:34] #541 closed

[2017-01-16 22:38] philtrep commented on #540
@mikeerickson awesome, looking forward to the PR :)

[2017-01-16 22:40] philtrep commented on #539
@mikeerickson  still waiting on @AliveCorpse

[2017-01-16 23:08] mikeerickson commented on #539
@philtrep sounds good

[2017-01-16 23:21] louisluu opened #556 "HOST and POST when connect to Database"
Hi,

I setup a Lumen project using this Laradock with nginx and mariadb. I follow the Docs and everything works just fine exception the connection to database.

I want to run nginx on port `8080` and mariadb on port `33061`. At first, I change the `DB_HOST` and `DB_PORT` in `.env` to

[code]

But get error when running `artisan` command

[code]

But when I change the DB_HOST to `127.0.0.1` and it

[2017-01-17 01:03] appleboy commented on #556
post your `docker-compose.yml`.

[2017-01-17 01:08] louisluu commented on #556
Parts that I touched:

nginx:
[code]

and mariadb:
[code]

And of course the application:
[code]

[2017-01-17 01:19] appleboy commented on #556
You should connect the database as the following config In container.

[code]

[2017-01-17 01:21] appleboy commented on #556
In your terminal. You can try the following command to connect mysql.

[code]

[2017-01-17 01:38] mastacheata commented on #556
You only changed the external ports for Mariadb and nginx. Internally the different containers still communicate over the default ports (80 and 3306).
The forwarded/external ports only matter for communication from your host computer or from outside via the host computer.

Think of it like port forwarding in your home network.

[2017-01-17 08:43] AliveCorpse commented on #539
What can i do? Im temporary use my own images [alivecorpse/php-fpm:latest](https://github.com/AliveCorpse/laradock/blob/local_env/php-fpm/Dockerfile-71) and [`alivecorpse/workspace:7.1`](https://github.com/AliveCorpse/laradock/blob/local_env/workspace/Dockerfile-71).

[2017-01-17 15:13] philtrep commented on #539
@mikeerickson @AliveCorpse My apologies, I did not realize we had to update the tags on Dockerhub manually. I do not have access to the Dockerhub account so @Mahmoudz will have to do it.

[2017-01-17 17:07] Mahmoudz commented on #539
@philtrep I just did that right now. It will take few minutes for the build to finish.
<img width="846" alt="screen shot 2017-01-17 at 12 06 08 pm" src="https://cloud.githubusercontent.com/assets/1983984/22031017/6428e688-dcad-11e6-9c18-ec10b8cd355c.png">

[2017-01-17 17:48] Mahmoudz commented on #539
@philtrep @mikeerickson got this error with the **5.6** version:

Build failed: The command '/bin/sh -c docker-php-ext-install mysqli && docker-php-ext-install pdo_mysql RUN docker-php-ext-install pdo_pgsql' returned a non-zero code: 1

[2017-01-17 19:07] cesarhgd10 commented on #514
Hi guys, i managed to get it working, all i had to do was set the Codeigniter flag to **true** in the docker-compose.yml and change the root of nginx/sites/default.conf to `/var/www;`

[2017-01-17 19:08] #514 closed

[2017-01-17 21:53] louisluu commented on #556
Thanks @appleboy @mastacheata

Now I know why I need to switch between them.

But is that a good practices? Or is there a better way to handle this kind of scenario (running app and astisan) without changing the HOST and PORT?

[2017-01-18 00:34] mikeerickson commented on #553
@philtrep Starting work on this item....

[2017-01-18 00:47] mikeerickson opened #558 "Oh-my-zsh?"
Hey

Curious if anybody has requested (or already created) a switch for installing `oh-my-zsh`

[2017-01-18 13:56] philtrep commented on #558
@mikeerickson not to my knowledge, sounds like a good idea. If you want to create a PR for it go right ahead 😃

[2017-01-18 14:08] maurosbu opened #559 "Cannot rebuild containers after upgrade"
Hi,
I'm trying to upgrade laradock but I get the following error when rebuilding containers:

    groupadd: GID '20' already exists
    ERROR: Service 'workspace' failed to build: The command '/bin/sh -c groupadd -g $PGID laradock &&     useradd -u $PUID -g laradock -m laradock' returned a non-zero code: 4

In docker-compose.yml PUID & PGID reflect those of my user.
It worked in the past with GID

[2017-01-18 15:25] philtrep commented on #559
@maurosbu try stopping the compose stack
[code]
Removing the existing containers
[code]

And rebuilding + rerunning your stack `docker-compose up --build -d <services>`

[2017-01-18 15:35] maurosbu commented on #559
@philtrep according to https://docs.docker.com/compose/reference/down/ there is no need to execute

    docker rm $(docker ps -qa)

These are the commands I usually execute when I need to upgrade laradock:

    docker-compose down
    docker-compose build --no-cache nginx mysql phpmyadmin workspace php-fpm
    docker-compose up -d nginx mysql phpmyadmin

Unfortunally I get the error specified in t

[2017-01-18 15:51] at-tienpd opened #560 "How can i create cakePHP project with laradock?"

[2017-01-18 18:37] philtrep commented on #559
@maurosbu I did not know about the removal on containers, still I was missing a command under the `rm`:
[code]
To be honest with you, most problems _à la_ `it used to work but now it doesn't` get "solved" by doing a complete purge of containers/images/networks/volumes.

[2017-01-18 18:49] philtrep commented on #550
@Mahmoudz @appleboy one of the most important parts here is (in my opinion) the support of multiple frameworks. The project has gotten quite big since #76 and I think we should reopen a discussion on wether or not other frameworks should be supported.

As far as the Gitea guidelines, I'm fine with the minimum Contributions to become a Maintainer but the 2 reviewers mandatory would be too hard to i

[2017-01-18 19:02] mikeerickson commented on #550
@philtrep @Mahmoudz @appleboy

I completely agree! Also, leads to some "confusion" based on the name `laradock` I am thinking, if this project wants to be the `official` docker package for Larevel, it should stay focused to laravel.

I am willing to help the cause best I can.  @philtrep knows my work (with the two recent PRs)

[2017-01-18 19:53] derekwebb commented on #497
Any traction on this at all? I am fairly new to Docker still... However, I have a feeling this issue affects (a great many) Windoze users (those of us that didn't end up lucky) I have been hitting my head against this now for a full day... At the moment I am using just a docker-compose.yml file that reads like so:

# Drupal with MySQL
#
# Access via "http://localhost:8080" (or "http://$(docker-mac

[2017-01-18 20:08] philtrep commented on #540
Fixed by #557

[2017-01-18 20:08] #540 closed

[2017-01-18 20:56] Marooned-MB commented on #497
I gave up. I assumed that docker is not working on Windows.

[2017-01-19 01:42] appleboy commented on #550
@philtrep @Mahmoudz @mikeerickson

Maybe we need to create another repo to handle other frameworks and make this repo to be the official docker package to Laravel. Find more maintainer to handle another framework issue or there are many issues on another framework like (CodeIgniter or ...)

[2017-01-19 02:34] mikeerickson commented on #550
@philtrep @Mahmoudz @appleboy

I am primed to help maintain / triage this repo as I only use Laravel for PHP work

[2017-01-19 04:28] sc0Vu commented on #560
Maybe you should follow these install instruction:

https://github.com/laradock/laradock#Installation
https://book.cakephp.org/3.0/en/installation.html

*Remember to enter workspace  container to install cakePHP project
*Maybe you need to set httpd.conf or nginx.conf root correctly

Hope this helps.

[2017-01-19 15:01] kvahuja commented on #560
You have to start by installing Laradock as a fresh project. Once the workspace is up and running, you can then bash into the container and install a CakePHP or any other project for that matter.

This is what i was thinking as well (not specifically for Cake) but for any work i want to do. This whole project seems to a lot more useful than just "Laravel".

[2017-01-19 20:02] randinfo opened #561 "Traefik configuration"
Hi,

I got a problem when i'm trying to connect to the laradock machines.
I got a Gateway Timeout but when i do a docker ps:
[code]

Is there a modification to do in the nginx conf ?

In the docker-compose.yml file i've added this to the nginx conf
[code]

i've tried the same labels with whoami image and it works well...

Thanks in advance

[2017-01-20 04:55] sc0Vu commented on #530
Maybe you can edit laravel.ini in ./php-fpm or you can mv your ini files into php-fpm container ./usr/local/etc/php/conf.d
Hope this helps.

[2017-01-20 08:47] alexey-m-ukolov opened #562 "No changes to source code are applied until docker-compose is restarted"
When I edit source code nothing is changing, only executing `docker-compose kill && docker-compose up -d` helps.
How can I fix this issue?

[2017-01-20 10:32] kvahuja opened #563 "Running docker-compose exec workspace bash command on Windows env shows an error"
My workspace:
 - Windows 10
 - Docker version: 1.13.0 (9795)
 - Channel: Stable

after I am done with docker-compose up command i fire the following command to get to my shell..

[code]

Then the command finishes, I am logged into the Shell but i get the following error as well...

[code]

p.s.: I will try to fix the shell via PR, but want to record it.

[2017-01-20 14:21] philtrep commented on #563
@mikeerickson I believe that's from #557

[2017-01-20 14:25] philtrep commented on #562
@alexey-m-ukolov which OS and Docker version are you using? Did you change anything in the compose file from the default config?

[2017-01-20 16:18] bipinu commented on #558
@mikeerickson
I forked workspace and used it to install ZSH:  https://github.com/bipinu/workspace/blob/master/Dockerfile-56
Also, used "volumes" under workspace service in laradock to share my configs and SSH keys.

@philtrep Does this make sense as a solution? One problem I see is the aliases added to .bashrc elsewhere in the project. e.g., art for "php artisan"

[2017-01-20 17:02] philtrep commented on #558
@bipinu Your solution seems on point. However, zsh should be optional through a build argument.

For the .bashrc/.zshrc sharing aliases it's indeed tricky...

[2017-01-20 18:33] mblaschke commented on #505
@sc10n ping

[2017-01-20 18:47] sc10n commented on #505
My apologies, I didn't see the first notification. Here are the results you asked for.

[code]
[code]

[2017-01-21 07:44] at-tienpd commented on #560
I have successfully created my projects in local by nginx, php-fpm and mysql. Thanks you so much!

[2017-01-21 07:44] #560 closed

[2017-01-21 08:24] azamatsulaiman commented on #563
same error for me

[2017-01-22 11:25] GlenHughes opened #565 "File missing on docker-compose"
Hi,

I'm trying to set your container up on my Windows 10 Home machine. I'm using Docker Toolbox. I followed your steps by cloning the repo and then typed "docker-compose up -d nginx mysql redis beanstalkd" into the Powershell and I keep on getting this error:

PS C:\var\docker\laradock> docker-compose up -d nginx mysql redis beanstalkd
Traceback (most recent call last):
  File "<string>", line 3,

[2017-01-22 13:49] philtrep commented on #565
@GlenHughes we have a Laradock-Toolbox branch you can try but my suggestion is to not use Docker Toolbox. Docker Native for Windows is what you want to be using.

[2017-01-22 14:09] GlenHughes commented on #565
Thanks for getting back to me. I'm currently running Windows 10 Home which isn't supported for Docker Native yet. Maybe I need to try a different container.

[2017-01-23 17:34] jtoler commented on #536
Same here.

[2017-01-24 03:27] alexey-m-ukolov commented on #562
Yeah, i've broken something trying to upgrade to PHP 7.1. Sorry for bothering, original config works fine.
P.S. I'm on Ubuntu 15.10 and Docker 1.12.6.

[2017-01-24 03:46] philtrep commented on #562
@alexey-m-ukolov No probs, we have PRs waiting for PHP 7.1

[2017-01-24 07:05] alexey-m-ukolov commented on #562
Actually, no, this problem occurs with a default config too.
It worked fine for an hour or so, but now I have to restart docker-compose to see any changes in the browser.
The only changes I made to docker-compose.yml this time are some INSTALL_XXX flags.

[2017-01-24 23:59] maldonadod opened #566 "I cant enter to mysql container"
Hi! I have issues trying to enter into mysql container.

$ docker-compose ps

laradock_apache2_1        /opt/docker/bin/entrypoint ...   Up       0.0.0.0:443->443/tcp, 0.0.0.0:80->80/tcp
laradock_applications_1   /true                            Exit 0
laradock_mysql_1          docker-entrypoint.sh mysql ...   Up       0.0.0.0:3306->3306/tcp
laradock_php-fpm_1        php-fpm

[2017-01-25 00:02] maldonadod commented on #566
The command should be:
$ docker-compose exec mysql bash

[2017-01-25 00:02] #566 closed

[2017-01-25 00:14] mikeerickson commented on #558
@philtrep @bipinu The link mentions use of Dockerfile-56, but I believe it should be

`https://github.com/laradock/laradock/blob/master/workspace/Dockerfile`

as it should NOT be specific to a specific version of PHP (which Dockerfile-56 is from)

[2017-01-25 00:29] khoerodin opened #567 "wkhtmltopdf support?"
Hi..
Iam trying to install [Laravel Snappy](https://github.com/barryvdh/laravel-snappy), i am also install wkhtmltopdf and libXrender1 on workspace container, and when generating PDF with wkhtmltopdf, showing an error:

[code]

Can anybody help me please?
![error](https://cloud.githubusercontent.com/assets/2797396/22272862/84b96f44-e2cf-11e6-979b-da22269e3e31.png)

[2017-01-25 07:22] alexey-m-ukolov commented on #562
OK, I figured it out - it's Opcache's fault.
Stumbled on it here - https://github.com/docker/docker/issues/15793#issuecomment-210569321
Disabling Opcache in `./php-fpm/opcache.ini` or setting `INSTALL_OPCACHE=false` in `docker-compose.yml` helps.
I think it should be noted in the Debugging section of the repo's readme.

[2017-01-25 07:22] #562 closed

[2017-01-25 09:51] kvahuja opened #568 "NGinx is throwing an error when using React/Babel front-end"
I am making a Laravel application that uses React/Babel as it's front-end. NGinx doesn't always renders the JSX files correctly. Here are the logs that NGinx throws..

2017/01/25 09:33:56 [alert] 6#6: *300 sendfile() reported that "/var/www/learn-react/app.jsx" was truncated at 0 whil
request: "GET /learn-react/app.jsx HTTP/1.1", host: "localhost", referrer: "http://localhost/learn-react/index.htm

[2017-01-25 09:51] kvahuja commented on #568
The issue is with teh fastcgi parameters and we need to use the following parameters on our nginx setup. I will send a PR soon with the fix.

[code]

[2017-01-25 12:38] philtrep commented on #562
@alexey-m-ukolov absolutely, could you open a PR with the relevant information?

[2017-01-25 12:39] philtrep commented on #568
@kvahuja great, I look forward to your PR 👍

[2017-01-25 12:40] alexey-m-ukolov commented on #562
Sure, in a few days, when I got the time.

[2017-01-25 17:30] mikeerickson commented on #539
@philtrep @Mahmoudz Hey gang, it seems that this is still an open issue?   Is PHP 7.1 now available in Laradock?

[2017-01-25 17:49] edmundluong commented on #14
@philtrep @Mahmoudz @appleboy

What is the status of this issue? I see that we now have crontab support for scheduling, but do we have the supervisor support for managing queue workers?

If not, I can take a closer look at this since this is a pretty important feature IMO. I am envisioning this will be something added to the workspace container but I am not too sure on that, thoughts?

[2017-01-25 21:09] philtrep commented on #14
@edmundluong This issue is very much still open. As far as I know, we do not currently have supervisor support.

If you feel like submitting a PR go for it, this issue seems pretty popular so it's definitely something important to some users.

According to https://github.com/phusion/baseimage-docker/issues/164, the parent(?) image of the `laradock/workspace` image (`phusion/baseimage`) uses `runit

[2017-01-26 00:04] mikeerickson opened #571 "How to change MySQL port"
I am trying to change the port used by my docker container (followed installation instructions) but it always throw an error (I am sure I am missing a step somewhere, but I have followed documentation)

[code]

Error message

[code]

- [x] Edited `mysql/my.cnf`
[code]
- [x] Edited `docker-compose.yml`
[code]

---

[2017-01-26 03:07] philtrep commented on #559
@maurosbu Did you ever manage to get it working?

[2017-01-27 00:38] hamony commented on #530
1+ I also need to install imagick.

[2017-01-27 08:32] appleboy commented on #568
fixed by #574

[2017-01-27 08:32] #568 closed

[2017-01-27 10:51] maurosbu commented on #559
@philtrep No.

I removed volumes and images, but I'm still getting the same errror.
I'm on MAC and I'm trying to use 20 as group id.
I think that the problem is here:
https://github.com/laradock/laradock/blob/master/workspace/Dockerfile#L47

Of course it is not possible to add a group if it already exists.
I suggest to create the group only if it doesn't already exist.

What do you think?

[2017-01-27 13:37] SorenJ89 commented on #497
following this guide: http://containertutorials.com/docker-compose/flask-compose.html i have run into the same problem.
as suggested here https://github.com/laradock/laradock/issues/508 i created an .env file (something.env) with COMPOSE_CONVERT_WINDOWS_PATHS=1

However i still get the message

[2017-01-27 13:39] SorenJ89 commented on #508
*moving my comment to here as it fits better the error type
following this guide: http://containertutorials.com/docker-compose/flask-compose.html i have run into the same problem.
as suggested here i created an .env file (something.env) with COMPOSE_CONVERT_WINDOWS_PATHS=1

However i still get the message

$ docker-compose up
Creating flaskcomposesample_web_1

[2017-01-27 13:55] ProfDecodor commented on #508
is your file really names "something.env" ?
As far as I know, the file must be named ".env", nothing before the dot.

[2017-01-27 15:15] SorenJ89 commented on #508
That was indeed the problem. Thanks a bunch!

[2017-01-27 17:38] mastacheata commented on #556
What kind of scenario?
Your Lumen installation is running INSIDE the laradock network, so it should obviously use the hostnames/ip addresses of that internal network with the internal ports used by the services.

You should probably run artisan from inside the workspace container and not from your host system as well. That way you don't have to worry about ports and paths.

[2017-01-27 23:43] philtrep commented on #559
@maurosbu Sounds good, something like `getent group laradock || groupadd -g $PGID laradock`

[2017-01-28 17:17] ivanhueso commented on #244
I'm trying to deloy to Elastic Beanstalk I'm having issues when it too. Need help.

[2017-01-29 12:33] Lednerb commented on #571
Hi @philtrep

it seems that you have already a running container with port binding to 3306.

Furthermore if you want to change the port of your container you have to edit the first one like this:
[code]

[2017-01-29 12:39] Lednerb commented on #567
Hello @khoerodin

in an older version of laradock I've used this changes:

`docker-compose.yml` under the `workspace` section:

[code]

`workspace/Dockerfile` after the last install option:
[code]

### TL;DR
You have to install more than only libXrender1 package.
Maybe the `RUN` command above helps you.

[2017-01-29 13:37] ovidius72 commented on #373
I had the same problem while trying to access files on a local server.
I solved it by installing the `acl` package in the workspace container

`docker-compose exec workspace bash`

`apt-get update & apt-get install acl`

after that I was able to run the command:

`setfacl -d -R -m o::rwx /var/www`

From now on all new created files (either by php artisan and directly from your IDE) will have the U

[2017-01-29 16:34] suncoastkid opened #575 "php-fpm won't build with EXIF extension enabled"
When setting `INSTALL_EXIF=true` in docker-compose.yml:

[2017-01-29 21:10] mth3n opened #576 "Changes to views and routes are not taking effect until I restart all docker containers."
Whenever I make a change to routes or views the changes do not take effect until I stop and restart all docker containers.

Containers being used are nginx, php-fpm, workspace, mariadb, mongo, beanstalkd, and beanstalkd-console.

User laradock with Laravel 5.4

[2017-01-29 22:34] indapublic opened #577 "Setting of mysql database name is not working"
Hello. I have issue with mysql and custom database

mysql/Dockerfile
[code]
docker-compose build mysql && docker-compose up -d mysql

But there is not database with 'test' name

mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| homestead          |
| mysql              |
| performance_schema |
| sys                |
+--------------

[2017-01-29 22:36] indapublic commented on #480
+1

[2017-01-30 00:22] indapublic commented on #577
I did

[code]
and
[code]
and now I receive exception while connecting:

[code]

[2017-01-30 14:53] epineda commented on #565
workaround: reinstall docker toolbox (it works for me)

[2017-01-30 15:52] ellcub opened #578 "laradock folder empties when I switch git branches"
I'm working on a pre-existing Laravel project hosted on github and I've set up my development environment with laradock. I cloned the laradock repo on my project root using
`git submodule add https://github.com/LaraDock/laradock.git`

When I switch to a different git branch however the laradock folder is emptied. I run
`git submodule add https://github.com/LaraDock/laradock.git` again and get the

[2017-01-30 16:25] betoflakes commented on #576
The same here...

[2017-01-31 13:18] hamony commented on #530
Hope this could help someone wants to install imagick extension https://gist.github.com/pascalbaljet/bd7b8fd63b76c7564189

[2017-01-31 14:20] florentb commented on #14
For the queue part, I've simply added a service to the stack:

[code]

[2017-01-31 15:50] bagart commented on #563
is not 'just same'

1.
[code]
FIX:
[code]

2.
[code]
sh not work firh func!

FIX:
[code]

[2017-01-31 16:27] alexey-m-ukolov commented on #576
Possibly you have the same problem I had: https://github.com/laradock/laradock/issues/562

[2017-01-31 21:30] dhdanno commented on #16
I was getting this error when using the docker-compose inheritance feature (-f ), the ports in the base file were not being over-ridden by my overlay file

[2017-01-31 23:48] mth3n commented on #576
Thanks, that solved the issue is was having.

[2017-01-31 23:48] #576 closed

[2017-02-01 02:51] cjmaxik commented on #422
It would be awesome? Any changes since November?

[2017-02-01 09:40] cjmaxik commented on #14
@florentb Can you give a little more information about your php-worker? What is the Dockerfile?

[2017-02-01 10:13] Lednerb commented on #14
@cjmaxik he uses the `php-fpm` Dockerfile and image and just creates a new container with the `php artisan queue:work` command.

It's like a second command that runs the worker in the _background_.

[2017-02-01 10:15] florentb commented on #14
@cjmaxik In my setup, I use Nginx with PHP-FPM. The PHP-FPM build has a PHP cli so I use the same Dockerfile in the worker. I only override the default command. This way, the worker configuration is the same as the server configuration (same PHP version, same ini, etc.).

Supervisor is only useful if you to have handle multiple processes within the same Docker command.

However I wonder if `queue:

[2017-02-01 10:19] cjmaxik commented on #14
@florentb so, I need to simple copy `php-fpm` directory in `php-worker` and add your settings in compose, right?

About `listen`:

So, `queue:work` is preferable.

[2017-02-01 12:36] florentb commented on #14
@cjmaxik You don't have to copy anything if you use Laradock. The directory already exists. Just add those lines (and the `env` you want) to the services section of your `docker-compose.yml` file.

[2017-02-01 19:06] IvanCaceres commented on #497
i found that if you run the docker-compose command with the following variable set, it will fix the path for windows:

COMPOSE_CONVERT_WINDOWS_PATHS=1 docker-compose up -d

setting this variable only works in bash like environments howerver, i resorted to using the git bash terminal instead of my usual Cmder

[2017-02-02 04:39] cjmaxik commented on #14
@florentb Thanks, I just needed to pass Dockerfile name (or just simply rename 70 file) and it works. Thanks again.

[2017-02-02 07:43] nbicalcarata commented on #471
I'm having the same problem, and i have a question, there is any side effect running the command like this?
`docker exec -it --user=laradock laradock_workspace_1 ./vendor/bin/phpunit`

[2017-02-02 10:02] ellcub commented on #578
I deleted everything and started again.  I think this may have occurred because I had added laradock/ and .gitmodules to .gitignore.

[2017-02-02 10:02] #578 closed

[2017-02-02 13:28] jakubkratina commented on #539
Hello, where do you plan to add support for PHP 7.1? Thank you.

[2017-02-02 20:37] davehensley commented on #244
1. Create whatever images you need, e.g. `docker-compose build nginx php-fpm`
1. Tag your image, e.g. `docker tag laradock_nginx:latest 123456789.dkr.ecr.us-east-1.amazonaws.com/laradock/nginx:latest` (replace with the URI of your ECR repository)
1. Repeat the previous step for the rest of your images.
1. Get your authorization token from AWS: `aws ecr get-login`
1. Run the docker command that the

[2017-02-03 12:45] philtrep commented on #577
@indapublic you have to set the values in `docker-compose.yml`, the ones above are going to be overwritten otherwise.

[2017-02-03 13:21] iannazzi opened #582 "Git submodule - Advice for changing and tracking changes to project specific laradock files"
Hi everyone, I encountered some issues in using git submodules as recommended. I am using laradock within my project folder and it is configured specifically for a project. I used `git submodule add https://github.com/LaraDock/laradock.git ` to add laradock to my project.

Within the laradock folder I have custom startup scripts and testing/development databases.  I had to clone my main repository

[2017-02-03 15:18] #524 closed

[2017-02-03 20:01] StephenHepp opened #583 "docker-compose up -d mysql fails"
mysqld really doesn't want to run as root so i had to change my docker-compose.yaml to run mysql container with user: mysql
otherwise, i get

[code]

maybe this is change in upstream mysql container or even mysql package?
instead of running as mysql i think you can specify something in my.cnf as well, not sure what is best for laradock

[2017-02-04 07:24] alexey-m-ukolov commented on #575
Are you using Dockerfile-56? If so, it's definitely a bug - [PR #564](https://github.com/laradock/laradock/pull/564/files) added this option only to Dockerfile-70.

[2017-02-04 07:29] alexey-m-ukolov commented on #582
I guess the best way to do it is to fork this repo and use that fork as a submodule. This way you can commit all your changes and pull new stuff from the main repo from time to time.

[2017-02-04 09:11] dannysood commented on #385
@philtrep Even though this ticket is closed but I was facing a similar issue. Turns out Permission Denied can also be caused because xdebugPhpFpm didnt have execution permission. Simple enough fix but I missed it and that is how I ended up here. Should I do a pull request with this detail in readme?

[2017-02-04 17:34] vrigzalejo opened #584 "[ERROR] mysqld: File '/etc/mysql/startup' not found (Errcode: 13 - Permission denied)"
Hi Guys,

Please help, I runned `sudo docker-compose up nginx mysql redis` and gives me an error like this below:

[code]

[2017-02-04 20:18] suncoastkid commented on #575
No, I'm using Dockerfile-70.

[2017-02-04 22:05] alexey-m-ukolov commented on #575
Does your Dockerfile has these lines I linked to?

[2017-02-05 00:23] dannysood commented on #582
@iannazzi I follow the same process. Do close the ticket if it answers your question.

[2017-02-05 09:35] dannysood commented on #536
I am facing the same issue. This is what i could figure out this far. Even though the dynamic file is being referenced and read (from PHPSTORM) but the values are not being red by phpstorm and are not idnetified in the final config.

I would love if we can bump priority on this as without xdebug the dev cant happen. I am using homestead as a dev server temporarily.

[2017-02-05 11:20] khoerodin commented on #567
stay not working for me ..

[2017-02-05 14:16] suncoastkid commented on #575
That was it! I added those lines and now it works. Thanks!

[2017-02-05 14:32] alexey-m-ukolov commented on #575
I'm guessing your clone is behind the main repo for a few commits and you just need to pull the latest changes.

[2017-02-05 16:01] philtrep commented on #582
Sounds like this should be documented, if you guys want to submit a PR that'd be great.

[2017-02-05 16:04] philtrep commented on #563
Fixed by PR #580

[2017-02-05 16:04] #563 closed

[2017-02-05 16:07] philtrep commented on #16
@dhdanno You cannot override ports in docker-compose. There's an open issue about this in the docker-compose repo https://github.com/docker/compose/pull/3939

[2017-02-05 16:15] philtrep commented on #550
Just to keep this issue update, @mikeerickson has been added to the admin team and the issue tags have been updated for clarity.

[2017-02-05 16:26] philtrep commented on #385
@dannysood Yes, absolutely.

[2017-02-05 16:57] Mahmoudz commented on #582
Done #8f44a0800b11c71ea063b378ed3537295a304102

[2017-02-05 16:57] #582 closed

[2017-02-05 22:34] dannysood commented on #582
@philtrep @alexey-m-ukolov Ill take care of it tomorrow.

[2017-02-05 22:37] dannysood commented on #385
@philtrep Ill take care of the PR tomorrow.

[2017-02-06 05:58] kvahuja commented on #563
does this require a full rebuild of all containers? (i would presume yes).

[2017-02-06 06:09] bagart commented on #563
Yes. Need rebuild workspace image for copy
/home/laradock/aliases.sh

Or just run 2 sed command ^^^

[2017-02-06 06:27] kvahuja commented on #563
i just rebuilt the workspace container and the error still comes when i login with root or laradock.

am i doing something wrong?

[2017-02-06 07:07] bagart commented on #563
What about error message? :)))

[2017-02-06 07:26] kvahuja commented on #563
the error message still pops up for both root and laradock users, exactly as it was before.

[2017-02-06 07:32] lingfengchencn opened #585 "invalid library opcache.so"
php version : 7.0

PHP Startup: Invalid library (appears to be a Zend Extension, try loading using zend_extension=opcache.so from php.ini

[2017-02-06 10:00] iannazzi commented on #517
@philtrep
Just looking back at this issue, I have a command in laravel to rebuild/seed my development database so it was a simple fix by bringing up the mysql container and initializing the data. The issue however has been haunting me as I prepare for production, to the point that I was not planning on using laradock in production.

If I remember correctly I had the data folder, but the data was n

[2017-02-06 11:44] iannazzi commented on #517
Interesting... I was expecting to have to move my data but it was already there. It looks like we no longer use the data folder for data persistence.
I see we are now using` driver:  "local"`. I wonder if that was the issue... I was using the data folder with laradock, upgraded to docker native, did not upgrade laradock, and maybe docker native was looking to wherever `"local"` is which would be e

[2017-02-06 13:27] gagarine commented on #353
I solved this issue on https://github.com/gagarine/docker-php by using http://docker-sync.io/ . It's in my opinion the best solution for mac.

[2017-02-06 14:11] Mahmoudz commented on #353
@gagarine can you share with us a PR of your solution!?

[2017-02-06 14:27] bagart commented on #563
[code]

[2017-02-06 17:38] gagarine commented on #353
Sure, but after my post I was looking at https://github.com/IFSight/d4m-nfs/issues/7 and it seem d4m use heavy caching than make it perform better than I taught (I already tested other nfs workaround).

I will test it with laradock and see if I can do a PR. Generally, think it make no sens to continue maintaining https://github.com/gagarine/docker-php if this project can provide similar functional

[2017-02-06 17:49] gagarine opened #586 "Avoid "laravel" for config file name"
The general idea is to make laradock framework agnostic: https://github.com/laradock/laradock/issues/76

In this regards, I think it would be nice to rename files like https://github.com/laradock/laradock/blob/master/php-fpm/laravel.ini with generic name. Someone that don't know what is laravel should be able to get an idea of what the file is used for. laravel.ini can for example be named app.ini

[2017-02-06 21:48] Mahmoudz commented on #353
@gagarine Can't wait to close this issue.

You are welcome to join our team of Admins and maintain this project with us, since we are currently looking for a 5th Admin :)

[2017-02-06 21:55] scoutman57 commented on #353
Mahmoud,

I spoke with you when you did the Live feed with Laravel DFW. I would like
to join the admin team if you are seriously looking for a 5th.

[2017-02-06 23:06] Mahmoudz commented on #353
Hi @scoutman57 I do remember you very well, hope you are doing good :)

The project is growing everyday and thus we needs more maintainers.. @appleboy, @philtrep and I been maintaining this project lately. Few days ago @mikeerickson has joined us as well.

For the 5th Admin "maintainer", we decided to do the following:

<img width="584" alt="screen shot 2017-02-06 at 5 38 56 pm" src="https://cloud

[2017-02-07 01:57] gagarine commented on #353
I need some time to get familiar with laradock, but it seem to take a similar approach to what I did. I'm switching right now a drupal 8 project to laradock to see how it works on a real project.

I'm not sure I have time to take the responsibility of joining the admin team (thanks for asking!), I need to think about it and perhaps do a quick chat with you guys.

In any case I will gladly help wit

[2017-02-07 07:00] lechengyu commented on #113
@LarryEitel the solution works!  Thanks!

[2017-02-07 09:17] lechengyu commented on #575
I have the same problem when I switched php from 7.0 to 5.6,  not only the Exif but also the Redis Extension lines missing from Dockerfile-56,  paste these lines into your Dockerfile-56 solved it.

[2017-02-07 11:03] dhaya6027 opened #588 "How do i connect to my mongo container using robomongo"
If I connect with 127.0.0.1:27017 I cant able to see my collections

[2017-02-07 11:13] dhaya6027 commented on #588
Robomongo v8.5 and lower doesn't support MongoDB 3

[2017-02-07 11:13] #588 closed

[2017-02-07 15:19] philtrep commented on #585
@lingfengchencn Closing this as a duplicate of #325

[2017-02-07 15:19] #585 closed

[2017-02-07 21:12] mblaschke commented on #505
@sc10n still problems with the current images from docker hub?

[2017-02-07 21:15] a-h-abid opened #590 "[Question] Need help with composer installing automation"
Hi, I need a little help...

I'm trying to run a Lumen project where composer install/update hasn't done yet. I want to run the composer install/update after Laradock containers are up & running inside containers. Same thing for npm.

How can I do it??

[2017-02-07 21:41] scoutman57 commented on #590
You can find this in the documentation under "Usage"

2 - Enter the Workspace container, to execute commands like (Artisan, Composer, PHPUnit, Gulp, ...).
docker-compose exec workspace bash

[2017-02-07 22:05] a-h-abid commented on #590
I checked that but I want that part to be done auto when the containers are up and running. Once i do docker-compose up, it will also launch composer install/update auto. Is this possible?

[2017-02-07 22:07] scoutman57 commented on #590
The only way to do it automatically is to modify one of the docker images or to add a new image to the bottom of the docker file that will trigger this. There is currently no other way to automate this.

[2017-02-08 00:18] mikeerickson commented on #590
Do you have any this automation task executed whenever you docker-compose or only done first time?

[2017-02-08 02:48] kosilence commented on #397
same problem
`Step 5 : RUN apk update     && apk upgrade     && apk add --no-cache bash     && adduser -D -H -u 1000 -s /bin/bash www-data     && rm /etc/nginx/conf.d/default.conf     && echo "upstream php-upstream { server ${PHP_UPSTREAM}:9000; }" > /etc/nginx/conf.d/upstream.conf
 ---> Running in 24893df580bd
fetch http://dl-cdn.alpinelinux.org/alpine/v3.4/main/x86_64/APKINDEX.tar.gz
fetch http:

[2017-02-08 10:08] a-h-abid commented on #590
I haven't done any automation task, not sure where to even put one. I tried something like this:

In the workspace Dockerfile, at the end I put things like this:

    #
    #--------------------------------------------------------------------------
    # Final Touch
    #--------------------------------------------------------------------------
    #

    # Clean up
    USER root
    RUN apt-get c

[2017-02-08 10:32] scoutman57 commented on #590
This could not be working because the order in which the containers are built.

[2017-02-08 10:37] scoutman57 commented on #590
One option you have is to create a shell script that will run your docker-compose then runs the docker-compose exec command directly to composer install or npm install

[2017-02-08 12:03] a-h-abid commented on #590
Yes. This works for my dev env.

Thanks.

[2017-02-08 12:03] #590 closed

[2017-02-08 12:31] trungke21 opened #594 "cURL error 7: Failed to connect to 127.0.0.1 port 80: Connection refused."
(see http://curl.haxx.se/libcurl/c/libcurl-errors.html)

[2017-02-08 14:40] sc10n commented on #505
I will try again with the current images this week.

On Tue, Feb 7, 2017 at 3:12 PM, Markus Blaschke <notifications@github.com>
wrote:

[2017-02-08 15:07] Mahmoudz opened #595 "Move the README.MD content somewhere else!"
This documentation getting soo big and somehow ugly to maintain!

So far I'm thinking of Github Wiki I'm not a big fan of it, so we're for suggestions to a better alternatives.

**Nice feature to have in the doc tool:**
- Supports versioning, in case Docker made an upgrade and we had to change some commands like in the past.
- Easy to find and replace words in all pages, not having to open every s

[2017-02-08 15:14] Mahmoudz opened #596 "Explain how this project works behind the scenes."
Laradock is pretty much simple project! it might look complex because of the amount of supported tools "containers" and their configuration files.. But for many people the complexity is coming from Docker itself!

However, I suggest creating `INTERNAL.md` or updating the `CONTRIBUTING.md` to include how things work internally, the folder structure, relations between those folders and files, diagra

[2017-02-08 20:27] mikeerickson commented on #595
@Mahmoudz I like the format used by Netflix (not a big gamer so ... :-)

This one does look complete (https://github.com/Netflix/Hystrix/wiki/Configuration)

In addition, might want to consider airbnb style guide format (https://github.com/airbnb/javascript)

I am willing to help upgrade documentation

[2017-02-08 21:13] Mahmoudz commented on #595
@mikeerickson sounds great. I like those docs.

What about the tool, any recommendations!? I'm really trying to stay away from the Github WIKI unless I have no other choices! I've tried it with other projects in addition to the missed features mentioned above it's somehow ugly! and hard to navigate in it unless you create your own navigations in each page..

Thanks!

[2017-02-08 22:00] mikeerickson commented on #595
@mahmoudz I am not sure on the tools, but I will do some research and get back to you.

[2017-02-09 05:34] alexey-m-ukolov commented on #596
I think wiki would be a better choice for this type of information.
It has a problem of being inaccessible offline, but it's not essential requirement, imo.

[2017-02-09 07:23] maurosbu commented on #559
@philtrep I think that workspace/Dockerfile should be fixed.

[2017-02-09 10:00] MatthiasSchmittCOLO21 opened #598 "Class Memcached not found"
Hello

Docker containers are running with:

`docker-compose up -d nginx mariadb memcached`

After that I´m trying to publish a vendor with:

`php artisan vendor:publish --provider="xxx"`

**`[Symfony\Component\Debug\Exception\FatalThrowableError]
  Class 'Memcached' not found`**

Memcached extension (php-fpm) is enabled:

`- INSTALL_MEMCACHED=true`

When trying to tun the Artisan command inside th

[2017-02-09 10:53] FrodeMMeling opened #599 "make data volumes permanent"
Noob question here. I see volume definitions at the bottom of the docker-compose file.
How can I map mysql and other databases to permanent local folders, so they survive a container rebuild.

[2017-02-09 12:07] Harreh commented on #536
Experiencing this issue also, it appears that `/etc/php/7.0/cli/conf.d/20-xdebug.ini` still has the `;` comment in place so the extension isn't loaded. I've set the `INSTALL_XDEBUG` to `true` in both the `php-fpm` and `workspace` settings in `docker-compose.yml` and rebuilt these containers. The output of this process suggested it did run the install script for xdebug when it got to it

[2017-02-10 04:52] gagarine opened #600 "Why using a volume for memcached?"
In docker-compose file a volume is configured for the memcached containers. I don't see the point as memcached is using memory. I guess I'm missing somethings...

[2017-02-10 05:10] gagarine opened #601 "MariaDB has no configuration files"
The MySQL container configuration has a "my.cnf" ready to use, but the MariaDB have none such file. The settings are in /etc/mysql/my.cnf but anythings in /etc/mysql/conf.d that end with .cnf will be loaded. Files in the conf.d directory can overwrite the default config.

So I'm more to add a file in /etc/mysql/conf.d/my.cnf so we still get the stock config from /etc/mysql/my.cnf .

[2017-02-10 05:12] philtrep commented on #601
@gagarine Sorry, I'm not sure I get what your proposing?

[2017-02-10 15:20] progsmile opened #603 "Elastic search - NoNodesAvailableException"
Hello Guys! Need your help with ElasticSearch. I've tried combinations of hosts, but still fail
I'm using Laravel 5.3 + Laravel Scout, and driver for elastic. In browser elastic works. From code got this error:

`
NoNodesAvailableException in StaticNoPingConnectionPool.php line 51: No alive nodes found in your cluster`

My scout.php config
[code]

For adding data - that's ok, but for getting - fai

[2017-02-10 16:06] gagarine commented on #601
I will do a pull request.. going to be clearer ;)

[2017-02-10 17:00] gagarine commented on #534
Personally, I think it's should focus more to be the "the PHP default stack" than "Laravel default". Of course Laravel can adopt the "PHP default stack" has is "official stack"...

I know it started with laravel, but I think it will be greatly beneficial to have on tools to serve all major PHP app and framework. Most of use use more than just one framework.

In my vision, it's a matter of time bef

[2017-02-10 18:52] mikeerickson commented on #460
Has anybody gotten this to work on macOS?   I have been fighting this for past two hours and getting nowhere :-(

[2017-02-11 00:41] gagarine opened #606 "Add MailHog"
Add a [MailHog](https://github.com/mailhog/MailHog/) container and a configuration option to catch all email send by the phpfpm server. This is obviously very useful for development.

I did that on https://github.com/gagarine/docker-php

[2017-02-11 02:51] #601 closed

[2017-02-12 00:01] gagarine opened #607 "Xdebug with phpStorm on MacOS"
I didn't find anyone able to make xdebug works on MacOS. If someone know the trick, that would be very nice to share :).

See also https://github.com/laradock/laradock/issues/460

[2017-02-12 00:06] gagarine commented on #405
I got somthings similar when using xdebugPhpFpm

[code]

[2017-02-12 00:31] mikeerickson commented on #607
@gagrine I am working on this very task.  Hope to have it wrapped up this weekend. I will be creating a video along with written instructions to add to documentation when it is all done

[2017-02-12 00:31] mikeerickson commented on #607
@gagarine sorry for name typo, replying on phone and it doesn't support auto complete for names :)

[2017-02-12 00:38] gagarine commented on #607
Great! I broke my head on https://github.com/LarryEitel/laravel-laradock-phpstorm ....

Now I was following https://confluence.jetbrains.com/display/PhpStorm/Docker+Support+in+PhpStorm witch seem lot more simple. But still no success yet.

[2017-02-12 00:39] mikeerickson commented on #405
@gagarine @mahmoudz I have seen this quite often over the weekend working on the xDebug stuff on macOS. I will tackle this issue after I am done with xDebug tasks.

[2017-02-12 00:43] mikeerickson commented on #607
@gagarine I have learned that half the battle (if not higher) is the myriad of attributes that storm requires (kind of convoluted).  Stay tuned, another long night and day tomorrow still on my horizon 🤓

[2017-02-12 00:52] gagarine opened #608 "Add tests"
This really go beyond my knowledge of docker, so I really don't know about best practices in this area.

But I think it should be possible to write some test for this project. For example a script can:
- check everything build correctly
- test if all service are running and responding like expected
- do some basic benchmark

The advantage would be: when you do a modifications, run the tests and yo

[2017-02-12 01:00] mikeerickson commented on #608
@gagarine while this is surely possible, it will be a hefty task as there are so many different technologies and options available in laradock.

Having said that, writing a set of core tests to perform heartbeat tests for the various services is more in line with what you are asking for.

[2017-02-12 03:24] gagarine commented on #608
Yes, I was thinking of heartbeat tests. If we just test if the container build, run and if the service reply it's already pretty cool. For example with elastic search we can use curl to index some data and try to read them back. It's really closer to functional test and not unit test. I will think about it and post if I find some documentation.

[2017-02-12 03:46] mikeerickson commented on #608
Definitely functional/integration testing would suffice (really hard to define "units"). I will write up some soft specs to get things started.

I don't have enough experience with all myriad of features so can't do complete coverage, but it can be a solid work in progress and a good base for others to chime in where need be

[2017-02-12 09:03] EugenMayer commented on #353
I developed docker-sync initially to cope with heavy load PHP projects like Drupal, which have a lot of files and read a lot during every bootstrap ( request ). Those kind of frameworks, also like Magento, tend to basically not work in any proper sense using dockertoolbox (native fusion/vbox share ), d4m ( own sync FS, slower then NFS ) or NFS.

Running things like drush or anything else without h

[2017-02-12 14:16] philtrep commented on #608
If we could get a list of features we want tested it would be easier to dispatch them to multiple people.

[2017-02-12 15:56] mikeerickson commented on #608
@philtrep I agree, hence the reason I said I would create some soft specs as to what will be required.

[2017-02-12 20:05] gagarine commented on #608
We are all PHP dev so perhaps it's best to write tests in PHP? In the future we can use part of those test to run some kind status report like the one in drupal :
![screen shot 2017-02-12 at 21 02 27](https://cloud.githubusercontent.com/assets/164074/22865541/a1159ba4-f166-11e6-828b-c87f1233352b.png)

[2017-02-12 20:19] gagarine commented on #595
We can use github page. We can keep the doc in this repository (so you have the documentation when you clone the repository) or use an other repository. Search can use lunr.js.

- https://github.com/blog/2233-publish-your-project-documentation-with-github-pages
- https://github.com/blog/1939-how-github-uses-github-to-document-github

[2017-02-12 23:22] NerdsvilleCEO commented on #520
+1 on this, soon as I disable the Secure middleware, it works fine, any plans to support https?

[2017-02-13 01:02] lechengyu commented on #460
I am running laradock on windows10 with docker 1.12.5(9503),  and the host ip in docker is 172.18.0.1.

These settings works for me:

- for laradock configurations, set  xdebug.remote_connect_back = 0

- in phpStorm debug configurations, set the interpreter options

  ![qq 20170213085900](https://cloud.githubusercontent.com/assets/17262681/22867906/b09bdee4-f1ca-11e6-90a8-aa33911e4b5d.png)

-

[2017-02-13 09:20] kvahuja commented on #563
I went ahead and tested this on Linux (Ubuntu 14.04 to be precise) and it works fine. the problem I had was on Docker for Windows and the problem on Windows still exists.

from my original post here are the environment details:

Windows 10
Docker version: 1.13.0 (9795)
Channel: Stable

@bagart  - I would like to reopen this, but i will let you be decide that one.

[2017-02-13 12:54] bagart commented on #563
[code]

sorry. this is not force rebuild (if image is not updated)
for check create any file in /home/laradock
[code]
try to delete and rebuild
[code]

or delete it with Kitematic (Alpha)
![image](https://cloud.githubusercontent.com/assets/2109022/22884004/c31f275e-f203-11e6-9849-1e1e13f7f726.png)

and after check  for file exists

[code]

and 1 more thing:
[code]
I not sure about file of script w

[2017-02-13 14:57] kvahuja commented on #563
thanks for the pointer on SED.

Old Section for alias.sh
[code]

replaced with following by adding the SED commands and my problem went away. not sure if you classify this as a bug in the Dockerfile.

P.S.: I haven't tested this on Ubuntu or other Linux environment (i don't have one).

[code]

[2017-02-13 17:27] ganlub commented on #575
This shouldn't be closed. Those lines are still missing on Dockerfile-56.

[2017-02-13 17:46] philtrep commented on #575
@ganlub I'm not the one who closed it but there ya

[2017-02-13 18:04] scoutman57 commented on #608
PHP is NOT a good way to write these test. JMI

On Sun, Feb 12, 2017 at 2:05 PM, Simon Perdrisat <notifications@github.com>
wrote:

[2017-02-13 19:14] philtrep commented on #608
@gagarine I tend to agree with @scoutman57, I think it would be better to have bash scripts doing functional tests on the various configurations. What do you think @mikeerickson ?

[2017-02-13 23:33] mikeerickson commented on #608
@philtrep @gagrine @scoutman57 I was thinking of using JavaScript if only because that is what I have most extensive.  I have done some prelim working using JS and seems to be a good direction.

[2017-02-14 02:27] mouyong commented on #397
# You can fix him like this：

[code]

[2017-02-14 18:34] philtrep commented on #397
@mouyong Awesome! Could you submit a PR? I'd prefer it if you got credit for the fix 😄

[2017-02-15 00:27] dannysood commented on #607
Thanks in advance @mikeerickson. This is something that I too have been struggling with. Looking forward to the content.

[2017-02-15 00:30] dannysood commented on #595
I would love to contribute on this. @Mahmoudz @mikeerickson. Do keep me in the loop once the documentation format is finalized.

[2017-02-15 00:36] philtrep commented on #608
@gagarine @scoutman57 Based on our discussion in #487 and https://github.com/laradock/cli/issues/1, we decided to go with Go to write our tests. The main reason is that Go is multi-platform and won't require weird setups to get working on our less developer friendly OSes (wink wink Windows).

[2017-02-15 01:32] mouyong commented on #397
@philtrep i'm clone it in my space, and submit a PR.

[2017-02-15 01:33] mouyong commented on #397
@philtrep okay, I'm clone it in my space, and submit a PR.

[2017-02-15 02:28] mouyong commented on #516
@alexweb hao do you fixed the problem? i have a same problem

[2017-02-15 14:35] philtrep commented on #397
Closed by #609. Thanks @mouyong !

[2017-02-15 14:35] #397 closed

[2017-02-15 21:35] netojose commented on #359
If is the ideal, I don't know @dirkgroenen , but solved my problem. Thanks!

[2017-02-15 21:48] mikeerickson commented on #558
@bipinu Are you planning to update this to implement comments from @philtrep (about `INSTALL_ZSH`) switch in `docker-compose.yml` as opposed to forcing it on users?

In addition, please see my comment above about actual location of update.

[2017-02-15 21:53] mikeerickson commented on #583
@StephenHepp Trying to reproduce this locally, but all is working fine.  Could you please supply any reproducible steps.   Also, when are you seeing this error occur?

[2017-02-16 09:21] bipinu commented on #558
@mikeerickson I modified Dockerfile-56 because that's one I use in my project.
Installing ZSH using a switch is fine but I am still not sure about the right way to share ZSH files between the host and the container. I don't there's any point in submitting it as a pull request until there's an elegant solution for that.

[2017-02-16 13:06] daviestar opened #610 "Recommended way to use `artisan migrate`"
Hello, thanks for a great project, I've been picking it apart for some time and it's been a great way to learn docker.

There are a [few issues](https://github.com/laradock/laradock/issues?utf8=%E2%9C%93&q=is%3Aissue%20getaddrinfo) on here relating to my problem, but no clear recommended solution.

When I create a demo Laravel project and change in `.env`:
[code]
then in terminal run:
[code]
there

[2017-02-16 13:42] daviestar commented on #610
Here's a decent solution:
[code]
wrapped in a function in your `.zshrc` or similar:
[code]

[2017-02-16 17:35] mikeerickson opened #611 "Upgrade to latest Docker for macOS"
Have any of our fine users upgraded to latest Docker for macOS?   If so, any issues with laradock?

![image](https://cloud.githubusercontent.com/assets/183153/23032957/1f6c8686-f42b-11e6-8869-82d5b9280a4e.png)

[2017-02-17 21:20] gagarine opened #612 "Add a docker-sync configuration and provide documentation"
Related to slow performance on Mac. See https://github.com/laradock/laradock/issues/353

As docker-sync 0.2 is almost ready I think it make sens to work directly with this version.

I'm actually testing it and will provide a PR.

@EugenMayer provide some pointers the general issue:

-   use unison as a sync_strategy
-   probably either plan to use the daemon mode ( 0.2.0 ) or think about using doc

[2017-02-17 21:21] gagarine commented on #612
At the moment, I'm blocked with: https://github.com/EugenMayer/docker-sync/issues/243

[2017-02-17 22:04] tariqbilal commented on #431
I am having the same issue with Laradock release version 2.

[2017-02-17 23:37] francislavoie commented on #431
@tariqbilal `version: '2'` is the version of the docker-compose spec, not of laradock.

@Mahmoudz it looks like `- caddy:/root/.caddy` was lost at some point... hmm...

[2017-02-17 23:38] francislavoie commented on #431
I found the offending commit https://github.com/laradock/laradock/commit/380eef5fd954f3066ad0df6a6e613302ba0edf1a

I'll make a PR to fix this again.

[2017-02-17 23:42] francislavoie commented on #490
@appleboy this broke Caddy persisting SSL https://github.com/laradock/laradock/issues/431

[2017-02-18 00:49] marpaia commented on #4
It looks like the HHVM support was broken in e1dbb972f17e09659f111e85cd9979336245d9db.

[2017-02-18 02:47] thundersword opened #614 "error while building workspace which is set "INSTALL_YARN=true""
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue

[2017-02-18 02:58] mikeerickson commented on #614
This is a typical warning whenever Node is executed.  There is nothing to worry about :(

[2017-02-18 02:58] #614 closed

[2017-02-18 04:53] thundersword commented on #614
Thanks for you quick response! The building process stayed at this warning for long time, now it is working fine. Thank you!

[2017-02-18 05:01] mikeerickson commented on #614
@thundersword this won't be the last time you ever see it in your console 😉

[2017-02-18 05:13] thundersword commented on #614
ERROR: Service 'hhvm' failed to build: The command '/bin/sh -c apt-get update -y     && apt-get install -y software-properties-common     && add-apt-repository "deb http://dl.hhvm.com/ubuntu $(lsb_release -sc) main"     && a
pt-get update -y     && apt-get install -y hhvm     && apt-get clean     && rm -rf /var/lib/apt/lists/*' returned a non-zero code: 100

[2017-02-18 05:16] thundersword commented on #614
before this error, Failed to fetch http://archive.ubuntu.com/ubuntu/dists/trusty-updates/main/source/Sources  Hash Sum mismatch

[2017-02-18 05:30] xralphack opened #615 "net::ERR_CONTENT_LENGTH_MISMATCH"
Laravel Mix Version: ^0.7.2
Node Version (node -v): 6.9.4
NPM Version (npm -v): 3.10.10
OS: Windows10
Description:

I use laradock to run laravel, sometimes chrome console shows

GET http://localhost/js/app.js net::ERR_CONTENT_LENGTH_MISMATCH

sometimes this will show, but not always

Steps To Reproduce:

add laradock as git submodule
docker-compose up -d nginx mysql phpmyadmin
npm run watch

[2017-02-18 12:56] jmazurpl opened #616 "Two databases in one MySQL container"
My project requires two databases to be created in single container. As far as I know I can create single databse in docker-compose.yml. How can I create the second one? Is it possible to do in docker-compose.yml?

My current setup:

[code]

I want to create additional database names db-sat, with same owner as the first database. Is it possible?

[2017-02-18 18:29] francislavoie commented on #616
You have two options. You can either make a second container with a different name (it's relatively cheap to run another container), or you can write an SQL script which gets run on startup.

See here https://hub.docker.com/_/mysql/

When a container is started for the first time, a new database with the specified name will be created and initialized with the provided configuration variables. Furt

[2017-02-18 18:36] francislavoie commented on #611
There shouldn't be any issues. It's just a bugfix release.

[2017-02-18 18:41] francislavoie commented on #610
You should probably be running your artisan commands inside of the workspace container.

A good way way to set this up is like this:

[code]

Usage:
[code]

Also, the way you're doing it now, you're allowing mysql to be bound to your host's 3306 port, which is insecure if your machine is publicly accessible. I recommend to change `ports` to `expose` and `3306:3306` to `3306` in your `docker-compos

[2017-02-18 19:00] francislavoie commented on #600
You're right, I couldn't find any documentation about a `/var/lib/memcached` directory being used. My only thought would be for logs, but it doesn't seem to be used that way by default.

[2017-02-18 19:01] mikeerickson commented on #611
@franceslavoie famous last words :) I assumed that, but one never knows.   Thx though, updating now!

[2017-02-18 19:06] francislavoie commented on #599
It used to be this way, but it was changed in this commit: https://github.com/laradock/laradock/commit/9ab6d8fa15f1ed7de277b0838c847193a7b971db

You can do this `./data/mysql:/var/lib/mysql` on your mysql volume for it to persist. With the current implementation, it does persist, but it gets put somewhere in `/var/lib/docker`, which is relatively tedious to access.

@Mahmoudz why the change to vol

[2017-02-18 19:10] francislavoie commented on #598
It wasn't clear, but I think you're running commands on your host machine and not in your `workspace` container. You should be running artisan commands in there. Do `docker-compose exec --user=laradock workspace bash` to get a shell into the `workspace` container.

You might also not have memcached installed in the workspace container, so you may have to modify it to have those dependencies instal

[2017-02-18 19:12] francislavoie commented on #594
There's hardly any context here, so it's hard to know what you're asking or reporting.

[2017-02-18 19:21] francislavoie commented on #616
Actually, I just realized there's a `startup` file in this repo (wasn't there last I looked a few months ago) that you can use to set up additional DBs and users. https://github.com/laradock/laradock/blob/master/mysql/startup

Should do the trick for you.

[2017-02-18 19:26] francislavoie commented on #584
You probably don't want to be running docker as root. Don't use `sudo`.

It looks like the `mysql` container failed to build correctly - the `startup` script (see here: https://github.com/laradock/laradock/blob/master/mysql/startup) wasn't added with file permissions that allow it to be read. I'm guessing this is probably because you ran docker as root, so when files were copied in, they kept root

[2017-02-18 19:34] francislavoie commented on #571
Or better, just use `expose` instead of `ports` if you don't plan on needing to connect to your mysql database from the host. If you're only going to be using it from an application within your docker stack, there's no reason to bind the port on the host. If you're going to use it in production, it's even more important that you DON'T use `ports` and instead use `expose` for services like mysql. O

[2017-02-18 20:56] philtrep commented on #571
@francislavoie We tried removing port binding for mysql a few months ago but we then reverted the change because of complaints. The default docker compose file MUST NOT be used in production. You can see my old PR about port binding #339.

[2017-02-19 09:24] jmazurpl commented on #616
Thanks I will go with adding new parametrs to the `Dockerfile`. Thanks!

[2017-02-19 15:00] gagarine commented on #600
Ok I will do a pull request to remove this volume.

[2017-02-19 16:05] infacq commented on #521
[code]

[2017-02-20 14:13] earosb opened #618 "How to install ext-rar"
Hello, I need to install [UnifiedArchive](https://github.com/wapmorgan/UnifiedArchive) so far I created a new condition in the dockerfile file and added the key in the file docker-compose.yml, then run `docker build php-fpm`

[code]
Error message
[code]

[2017-02-20 15:26] stanleyli60 opened #619 "Nginx Container doesn't allow me to edit my codes in phpStorm"
I have come across a strange problem where once my Nginx container is up and running, and I have access my dev website, I am no longer able to edit the codes in phpStorm.

OS: Windows 10
Docker version: 1.13.1
Docker-compose version: 1.11.1
Containers: Nginx Php-fpm Workspace

Problem details:
1. If I just run the three containers, I can edit the code as many time as I want in PHPStorm. However, o

[2017-02-20 16:32] litan1106 opened #620 "mariadb port conflicted 3306"
To reproduced the problem.

docker-compose stop && docker-compose up -d nginx mariadb mongo redis phpmyadmin

ERROR: for mariadb  Cannot start service mariadb: driver failed programming external connectivity on endpoint laradock_mariadb_1 xxx: Bind for 0.0.0.0:3306 failed: port is already allocated

To fix the error: I had to change the mysql port to 33061.

[2017-02-20 16:34] scoutman57 commented on #620
Are you running a local (host) install of mysql/mariadb or any other mysql drop-in replacement? I bet you are. If so that is why you get the conflicts. Or you have another container using that port. It's not uncommon to have to change those. I run several containers and a local host version of things so I have to modify all the ports anyways.  This is not a bug, just normal issues you would have a

[2017-02-20 17:40] scoutman57 commented on #619
what commands are you using to run the nginx container?

[2017-02-20 17:43] stanleyli60 commented on #619
The command I use is:

docker-compose up -d nginx php-fpm workspace

Also, my code directory is outside the laradock folder, could this cause the problem?

--Home
   --laradock
   --myApp

[2017-02-20 17:50] scoutman57 commented on #619
That is the same setup I have as well. Are you on windows/linux/osx?

[2017-02-20 17:51] stanleyli60 commented on #619
Windows 10. My OS info and docker versions are included in the original description. I have tried two different Win 10 pc (one laptop and one desktop) and they all have the same problem.

[2017-02-20 17:54] scoutman57 commented on #619
I don't use windows so I am unable to test this. I am surprised that windows would have this issue. Can you post your docker config file (removing passwords)

[2017-02-20 17:57] stanleyli60 commented on #619
Please see below my config files

`
version: '2'

services:

### Applications Code Container #############################

    applications:
        image: tianon/true
        volumes:
            - ../php/:/var/www
#            - ../sample/:/var/www/sample

### Workspace Utilities Container ###########################

    workspace:
        build:
            context: ./workspace
            ar

[2017-02-20 17:58] stanleyli60 commented on #619
And you are right. This issue only happens in Windows. I have no problem running this when the same setting is published to EC2 instance. Not sure why this is causing issues on Windows.

[2017-02-20 18:23] mikeerickson commented on #619
@stanleyli60 @scoutman57 Any chance you can create a simple repo with all this code so I can try it locally (using Windows 10)

[2017-02-20 18:25] stanleyli60 commented on #619
@mikeerickson Yes, I can do that tonight to mock out a simple repo for testing.

[2017-02-20 22:38] jmazurpl commented on #616
I modified the files as below.

\docker-compose.yml
[code]

\mysql\Dockerfile
[code]

\mysql\startup
[code]

But unfortunately after these changes and creating and running this container I'm not able to login into mysql. I get the Access Denied error from mysql.

Is there any way to debug what is going wrong during container creation? I assume that there is an error while creating the db users but

[2017-02-20 22:45] francislavoie commented on #616
You should be able to do `docker-compose exec mysql sh -c 'export MYSQL_PWD="$MYSQL_ROOT_PASSWORD"; mysql'` to get a mysql shell as the root user and debug from there. You example looks OK to me. I'm no MySQL expert, I probably won't be able to help much with that part, sorry 😞

[2017-02-20 22:50] francislavoie commented on #620
Change `ports` to `expose` and `3306:3306` to `3306` under `mariadb` in your `docker-compose.yml` if you don't need direct access to your database from your host.

[2017-02-20 22:57] francislavoie commented on #618
That's not a laradock issue, a quick google gave me this https://bugs.php.net/bug.php?id=63016, so it looks like it's a bug in the rar package. You might need to try and make a fix yourself and build it from the `.tgz`. Doesn't look like it's maintained anymore, last release being in 2013.

[2017-02-20 23:04] francislavoie commented on #618
Actually it looks like the problem is that the `gcc` version is too old and doesn't have that `-Wno-logical-op-parentheses` option included.

[2017-02-21 08:59] infacq opened #621 "Service 'nginx' failed to build"
I just about to install Laradock but it failed when hit the abovemention error

[code]

where do I go from here

[2017-02-21 13:28] tariqbilal commented on #431
<img width="1437" alt="screen shot 2017-02-21 at 6 26 14 pm" src="https://cloud.githubusercontent.com/assets/12066559/23166693/6b915b18-f863-11e6-8218-a7c6b93f6557.png">

still persisting and I don't see any changes in master branch. Let's Encrypt documentations has a limit of 20 certificates per week. Do I have to wait then?

[2017-02-21 13:33] francislavoie commented on #431
Yep you need to wait a week until your limit expires

[2017-02-21 13:34] tariqbilal commented on #431
Thank you so much

[2017-02-21 13:37] francislavoie commented on #431
You should make the same change I made in my pull request yourself for now until the change gets merged.

[2017-02-21 13:40] tariqbilal commented on #431
I tried a couple of times, Have played around with yaml file. But unless the limit isn't over I can't test it because no matter what Caddy isn't taking on old certificates and starting up.

[2017-02-21 13:51] robbydooo opened #623 "Caddy use on local development"
Are we able to add the DNS provider options to the caddy download URL in the dockerfile so we can run caddy with the DNS fallback option?

Right now unless you open up your local machine to the world you can not used caddy with https via letsencrpyt. By adding a local.xyz.com to your DNS provider you can get round this issue so long as the DNS plugins are available which they are currently not.

I

[2017-02-21 14:52] gagarine opened #625 "Use environement variables for common configurations"
For the moment peoples seem to clone the repository and modify it for their needs. To update, they have to slash their modifications, pull the upstream and merge the stash. It's not that complicated but it's not the best workflow and conflict can appends.

For simple cases I think we can use https://docs.docker.com/compose/env-file/ . We already have a .env file but we can define more variable lik

[2017-02-21 15:12] stanleyli60 commented on #619
@mikeerickson sorry for the delay. I have created a temp test repo: https://github.com/stanleyli60/test

Step to reproduce the issue:

1. clone the project in Windows 10
2. cd laradock
3. docker-compose up -d nginx php-fpm workspace
4. use phpStorm to open the app folder
5. setup a host file to point local.test.dev to 127.0.0.1
6. open a browser and enter local.test.dev and you should see 'Hello W

[2017-02-21 17:24] Mahmoudz commented on #595
@dannysood @mikeerickson I was looking for some tools today and I found that [Jekyll](https://jekyllrb.com/) plays well with Github Pages. And while looking for themes I found [this theme](http://idratherbewriting.com/documentation-theme-jekyll/index.html), it seems perfect for a documentation.

So I was testing it and I created a new [repository](https://github.com/laradock/documentation) to host

[2017-02-21 17:40] alchimik commented on #619
related https://github.com/laradock/laradock/issues/113, https://github.com/laradock/laradock/issues/113#issuecomment-265506361

[2017-02-21 17:43] mikeerickson commented on #595
@Mahmoudz Funny you mention Jekyll, I am looking at this right now :-)

I have always considered using it for my repos, but didnt want the overhead as none of them are highly used projects.

[2017-02-21 17:44] mikeerickson commented on #595
@Mahmoudz If you want to add me, I will do the forking dance and get started with contribution :-)

[2017-02-21 18:09] gagarine commented on #595
@Mahmoudz you can use a /doc folder as a source for github website and I think get a nice URL. See the end of this documentation: https://github.com/blog/2233-publish-your-project-documentation-with-github-pages

[2017-02-21 19:34] Mahmoudz commented on #595
@mikeerickson it looks like the Github team like this tool! anyway feel free to start anytime, and try to migrate section by section, each on it's own commit so we can see the changes and probably work with you in parallel or suggest editing.. Please also look at some existing [examples](https://github.com/showcases/github-pages-examples) to get inspired for naming the pages..

@gagarine seems by

[2017-02-21 19:48] stanleyli60 commented on #619
@alchimik Thanks a lot. It works without "Safe write".

However, why would Nginx disallow "safe write"? Also it works fine with Apache.

[2017-02-22 00:30] HolyKindom commented on #607
I alse followed the instrunction in[https://github.com/laradock/laradock/blob/master/_guides/phpstorm.md](url).After following the instruction , I configured the phpstorm by myself and I can run the phpunit test successfully.**But still, I can not run the debug**, the phpstorm always tells that :"Connection with 'xdebug 2.5.0' can not established etc".
Hope you can  make a breakthrough.

[2017-02-22 02:34] philtrep commented on #595
@Mahmoudz might be worthwhile to buy a domain name, we can then use it for the github pages. laradock.io could be an idea?

[2017-02-22 02:37] HolyKindom commented on #460
@lechengyu  it works! You solve the problem I have met for a long time.
Specify the interpreter options in Command Line (:"-dxdebug.remote_host=10.0.75.1") can solve the problem which is met in phpstorm.
PS:"10.0.75.1" is the host ip for docker(Hyper-v) in Windows.On mac ,maybe we can use a loopback ip.
Whatever,before debugging the testcase,we can "telnet **** 9000" to test if the xdebug in the d

[2017-02-22 02:51] appleboy commented on #595
vote laradock.io domain and we can use [hugo](https://github.com/spf13/hugo) Static Site Generator.

[2017-02-22 02:53] appleboy commented on #460
@lechengyu Could you send the PR to improve document?

[2017-02-22 02:55] HolyKindom commented on #536
Hey guys,
As a solution for this. We can see the guide in https://github.com/laradock/laradock/blob/master/_guides/phpstorm.md
and the issue : https://github.com/laradock/laradock/issues/460.
It really works after I configure the phpstorm step by step after the instructions above.
Hope it works for you successfully!

[2017-02-22 03:02] HolyKindom commented on #607
I find the issue and it solve the problem.
Here it is:https://github.com/laradock/laradock/issues/460

[2017-02-22 07:10] infacq commented on #616
how do I dump data to existing using bash

[2017-02-22 09:59] gagarine commented on #595
@Mahmoudz the coolness of the domain shouldn't force you of splitting repository if it make more sens to keep the doc with the code. Their is advantage of having one repository: pull request can contain the code and corresponding doc change. I can't see an advantage of a second repository for a small project like laradock. For extra fun, like @philtrep  we can use a custom domain.

@appleboy jekyl

[2017-02-22 10:02] gagarine commented on #607
@HolyKindom you are my hero of the day :). let me close this issue and keep #460 open as a follow up.

[2017-02-22 10:02] #607 closed

[2017-02-22 11:42] Harreh commented on #536
I tried following the guide but can't complete the SFTP step. If I set the host to my docker container IP I get 'Connection is closed by foreign host' and if I set it to local host I get 'Auth fail'. If I select the `.ppk` it says it's an invalid format for corrupt so I selected the `insecure_private_key_rsa`

Also, when I run `./xdebugPhpFpm status` I get a PHP warning about aerospike

    xDebug

[2017-02-22 14:23] appleboy commented on #595
@gagarine Agree. Thanks for your explanation.

[2017-02-22 14:24] Mahmoudz commented on #595
@philtrep I just got that domain today :D

@appleboy Hugo is a another great popular tool. I'm not sure how well it works with Github! however we can always change the tool in the future if we found the need to.

@gagarine I get your point for making contribution less complex for users, the domain can actually solve the url little issue, so I'm gonna merge them in this repo now.

[2017-02-22 14:42] Mahmoudz commented on #595
@dannysood @mikeerickson kindly note I've moved the docs to this repository inside the `/docs` folder and deleted the other one. The domain pointing there is [laradock.io](http://laradock.io/).

[2017-02-22 15:43] hudarui opened #626 "fail install node"
cloning into  '/home/laradock/.nvm'...卡住

[2017-02-22 17:08] sc10n commented on #584
I am having this exact same problem on CentOS7, I have confirmed that I am not running docker-compose as root. Is there a way to check how the permissions are being applied to the file, I have rebuilt the container several times with no luck.

[2017-02-22 17:10] sc10n commented on #505
I am now getting
[code]

[2017-02-22 21:06] marto-k commented on #443
How do you change Host to mysql.I did that and a big funny error appears in my konsole

[PDOException]
  SQLSTATE[HY000] [2002] php_network_getaddresses: getaddrinfo failed: Name or service not known

  [PDOException]
  PDO::__construct(): php_network_getaddresses: getaddrinfo failed: Name or service not known

[2017-02-22 21:07] marto-k commented on #443
By the way all solutions i''ve tried none works for php artisan migrate.Over six hours of search and try nothing.If anyone got a solution sugestion please help me out

[2017-02-22 21:10] marto-k commented on #443
![screenshot_20170223_000848](https://cloud.githubusercontent.com/assets/13986651/23232484/72c759ce-f95c-11e6-96e8-4b33ac6ddfba.png)

[2017-02-22 21:20] Mahmoudz commented on #595
@laradock/admins Kindly note I've moved the docs from the readme.md to `/docs`. I've used [Hugo](https://gohugo.io/) as website generator tool, just because I think it's a little cleaner, faster and I like that [theme](http://themes.gohugo.io/theme/material-docs). Also I've included steps for how to contribute to the documentation [here](http://laradock.io/contributing/#edit-the-documentation).

[2017-02-22 21:20] #595 closed

[2017-02-22 22:42] jmazurpl commented on #616
I figured out that problem is not connected with my changes to the scripts but even if I pull clean laradock from git and i change its folder name from "laradock" to anything else i always get the `Access denied for user 'root'@'172.18.0.3' (using password: YES)`.

Since I have separate laradock instances for each of my projects I would like to distinguish between the containers using different fo

[2017-02-22 22:52] francislavoie commented on #616
@jmazurpl See here: https://github.com/docker/compose/issues/745
There's currently no proper way to do this persistently, but essentially you need to either use `-p` in all your `docker-compose` commands, or use a `.env` file alongside `docker-compose.yml`, and set the `COMPOSE_PROJECT_NAME` environment variable.

Also, you should be using `mysql`, i.e. the container name, as the domain to connect

[2017-02-23 00:55] HolyKindom commented on #536
You selected the right ssh key as you use the mac platform.
Do you enter the "localhost" into the "SFTP host" ? It should be effective...
![qq 20170223085047](https://cloud.githubusercontent.com/assets/16679341/23239954/5243428c-f9a5-11e6-9722-f4ae1fb3dc1c.png)

And the warning does not matter,it's about another bug which is in another issue ~~

[2017-02-23 02:56] appleboy commented on #595
@Mahmoudz Good to hear using Hugo as website generator tool. 👍

[2017-02-23 08:57] dioseltorre opened #630 "Cannot execute php artisan migrate"
When I execute: _php artisan migrate_
it always gives me this Exception:

[Illuminate\Database\QueryException]
  could not find driver (SQL: select * from information_schema.tables where table_schema = mydb and table_name = migrations)

  [PDOException]
  could not find driver

Could anyone tell me how to fix this?

[2017-02-23 09:39] Harreh commented on #536
Yep, if I enter localhost I get 'Auth failed' error

[2017-02-23 21:35] gagarine commented on #595
Happy to see the doc moved :) but I keep my position "against" Hugo for documentation mainly because we are going to commit generated HTML instead of clean markdown. But I'm curious to see how it works.

[2017-02-24 00:50] philtrep commented on #615
@xralphack Is it possible that the request is being sent while the assets are being compiled?

[2017-02-24 00:52] philtrep commented on #618
Closing this based on @francislavoie 's comment that this issue is not Laradock related

[2017-02-24 00:52] #618 closed

[2017-02-24 00:52] #620 closed

[2017-02-24 00:54] philtrep commented on #623
@robbydooo Go for pull request!

[2017-02-24 00:58] philtrep commented on #626
@hudarui Could you repeat in English if you could?

[2017-02-24 01:40] Mahmoudz commented on #595
@gagarine I do agree on that, that's why I started playing with Jekyll first, but after giving Hugo a chance, I found it more elegant! and this theme we're using is really cool :D

I don't mind at any point later switching to another alternatives, as I myself forget to regenerate the site couple times, before pushing my changes.

[2017-02-24 05:58] jaesung2061 opened #633 "Xdebug not being installed"
I've destroyed all containers/images, replaced every instance of `INSTALL_XDEBUG=false` to `INSTALL_XDEBUG=true` and rebuilt/started the containers. This doesn't seem to be working. What am I doing wrong?

Edit: I noticed there are 2 xdebug ini files in `conf.d` and that the line to load the extension was commented out. After uncommenting it, xdebug is loaded. Is there another way to enable this w

[2017-02-24 08:46] alixez commented on #626
@philtrep i think when he opened this configuration "INSTALL_NODE=true"  to build the container and stop at "cloning into '/home/laradock/.nvm' ..."   sorry, my English is so bad.

[2017-02-24 08:53] hudarui commented on #626
yes，I edit the configuration install_node＝True
,but it stop  at  cloning into/home/laravel/.nvm

[2017-02-24 08:54] hudarui commented on #626
win10 docker native

[2017-02-24 09:00] josonchou opened #634 "【php composer】Composer could not run the update commend"
I could not use " composer update " in the workspace container

It's stop at " Updating dependencies (including require-dev)"

 System:  Ubuntu16.04
 Docker-engine: 1.12.3

[2017-02-24 11:07] asolopovas commented on #443
I figured out what was the problem. Simply you need edit your local hosts file to redirect host  that you specify in docker-compose.yml to 127.0.0.1, for example
[code]

So your local hosts file will have this line.
`127.0.0.1 mariadb`

Then in your .env file put `DB_HOST=mariadb`

After that your artisan and webapp will be capable of successfully connecting to your docker db...

[2017-02-24 11:16] asolopovas commented on #443
I think the issue php-fpm is capable of accessing db inside docker container, but when you run php artisan you may be running local  php which for some reason it can't connect to local db port. Maybe it has something to do with mariadb firewall setup which blocks connection to port from outside the docker containers.

[2017-02-24 11:34] robbydooo commented on #623
This is now https://github.com/laradock/laradock/pull/635

[2017-02-24 12:34] flashbag commented on #633
Watch this PR https://github.com/laradock/laradock/pull/632

[2017-02-24 13:56] appleboy commented on #623
merged.

[2017-02-24 13:56] #623 closed

[2017-02-24 15:48] alchimik commented on #405
fix for aerospike - #622
fix for opcache - #617

[2017-02-24 16:09] AnatolyRugalev opened #636 "Switch from "links" to "depends_on" in docker-compose.yml"
Laradock is using `links` to link containers together, but this functionality is [deprecated](https://docs.docker.com/engine/userguide/networking/default_network/dockerlinks/) in Docker.

In a new version of Docker, all containers can reach each other until they are in the same network. docker-compose transparently creates such network by default.

Just removing `links` may break starting order of

[2017-02-25 08:48] MPJHorner commented on #14
As cron/queueworker and required for every production environment. It would be good to get a clear understanding of what the best way to achieve this is. I currently have cron (biggest nightmare with env variables) running under supervisor and queue run straight off command.

[2017-02-25 18:20] klikrzys opened #638 "Php-fpm not returns error logs"
I'm getting blank page instead of php errors. Code without defects works fine. What should i do to see error log?

[2017-02-27 01:32] cjmaxik opened #640 "Elixir/Mix with Browsersync"
So, I finally managed to have Browsersync working with my Laravel Elixir setup. It only have one problem, so I want to share this settings with you and try to make a perfect solution for Laradock.

_This settings are for Elixir, but you can make it works on Mix (Laravel >= 5.4)_

gulpfile.js
[code]
You will need to find caddy/nginx Docker IP. I simply bash'ed into caddy instance and executed `ifco

[2017-02-27 02:39] #633 closed

[2017-02-27 02:41] philtrep commented on #636
@AnatolyRugalev Excellent point, a PR would be most welcomed :)

[2017-02-27 02:42] philtrep commented on #638
@klikrzys Do you have `DEBUG` set to true in you `.env` file for Laravel?

[2017-02-27 02:44] philtrep commented on #640
@cjmaxik Great! Try using the hostnames `nginx` and `caddy`.

[2017-02-27 02:47] cjmaxik commented on #640
@philtrep BINGO! It works. Thanks, totally forgot about that.

[2017-02-27 09:08] Mvzundert commented on #76
@Mahmoudz
having these extensions be bundled under the name codeigniter is kind off weird, I'd much rather see them labeled differently to avoid confusion.

For example have them be under extensions or something like that.

docker-php-ext-install mysqli && \
docker-php-ext-install tokenizer \

[2017-02-27 12:52] hudarui commented on #626
@alixez help

[2017-02-27 17:41] stanleyli60 commented on #619
@mikeerickson are you able to reproduce the problem?

@alchimik I have encountered the same problem when using gulp to compile my js files. I believe gulp also uses "safe write" which cause problems when using the Nginx container. Do you have any suggestions on that?

[2017-02-27 20:28] StephenHepp commented on #583
@mikeerickson can you reproduce it now?
i made a whole new centos vm, installed docker and docker-compose and cloned laradock master branch then again did `docker-compose up -d mysql`
and still it fails due to the upstream change preventing the startup with root user
[code]
probably you couldn't repro because you have the non-broken version of mysql:5.7 and you can introduce the problem by re-pull

[2017-02-28 15:51] Dartanjan opened #644 "Laradock and Spatie Backup – `mysqldump` command not found"
Hi, I'm new to Docker so this may be a bit basic. I want to use Spatie Backup (https://github.com/spatie/laravel-backup) but it needs access to `mysqldump`. Of course, `mysqldump` is only available under mysql container, not workspace. By default, spatie/laravel-backup takes current database configuration, so shouldn't `mysqldump` be available, as it runs on the same exposed port as mysql, i.e. `l

[2017-02-28 16:10] cabrerabywaters opened #645 "LDAP and SQL Server support - PHP-FPM [Need Help]"
Hello there!
I have a Laravel app that connects to an LDAP and SQL Server to run some queries.
 I'm trying to install the LDAP and SQL Server extensions for the PHP-FPM container.
So far, I manage to install LDAP with

`RUN \
    apt-get update && \
    apt-get install libldap2-dev -y && \
    rm -rf /var/lib/apt/lists/* && \
    docker-php-ext-configure ldap --with-libdir=lib/x86_64-linux-gnu/ &&

[2017-03-01 06:56] alchimik commented on #619
@stanleyli60 sorry I can't help. I use apache

[2017-03-01 08:20] xralphack commented on #615
I am not sure. However npm run watch works for me when the os is mac os x 10.11

[2017-03-01 16:04] sasaorz opened #646 "Stuck at Starting laradock_application_1"
Hi,

I'm trying to get all the containers running but one of the container "laradock_application_1" is stuck at starting.
![capture](https://cloud.githubusercontent.com/assets/26119140/23468534/f231246a-fe98-11e6-919f-1ed3f9789794.PNG)

Any help would be appreicated!

[2017-03-01 19:20] hasangilak commented on #644
open up your workspace/Dockerfile and add these lines to it
[code]
down your containers
`docker-compose down`
then rebuild workspace just by
`docker-compose build workspace`
and re-up you containers for example
`docker-compose up redis nginx mysql`

[2017-03-01 19:36] hasangilak opened #647 "mysql root user cant login into phpmyadmin nor into mysql container nor connect via php"
I did provide solutions too.
there is two problem. login into mysql and login into phpmyadmin
problem 1) there is a startup sql script for mysql software that each time mysql starts up would be executed each time by mysql itself. you can find it in mysq/startup in laradock folder. with the help of this file you can put some sql code to update root password. this link form mysql site should help
[r

[2017-03-01 19:46] mikeerickson commented on #646
@sasaorz what tool (and version) are you using to execute `docker-compose`

[2017-03-01 20:11] Dartanjan commented on #644
Thanks, that does it. I thought maybe there's a way to not install mysql cli inside of workspace, but that works as well. Cheers!

[2017-03-01 20:11] #644 closed

[2017-03-02 10:33] sasaorz commented on #646
@mikeerickson I have tried to use Windows CMD and Power Shell and Kitematic to run docker-compose, they all gave me the same result. I ran `docker version` on CMD it shows Version: 1.13.1

[2017-03-02 18:42] gabrielpreston commented on #583
I can also confirm that I am experiencing the same problem (using mysql:5.7). A fresh build of the container works, but then I start experiencing the same error on subsequent "new" `docker-compose up -d mysql` attempts on my machine:

[2017-03-03 02:05] appleboy commented on #583
Can somebody provide reproduce commands?

[2017-03-03 04:22] mikeerickson commented on #583
@appleboy I have tried to reproduce locally as well, but all is fine in my attempts.

[2017-03-03 04:39] Maras0830 commented on #610
$ cd <your laradock folder>

$ docker-compose exec workspace bash

$ cd <your project>

$ php artisan migrate

and it work.

[2017-03-03 04:40] Maras0830 commented on #630
see https://github.com/laradock/laradock/issues/610

[2017-03-03 04:50] StephenHepp commented on #583
@mikeerickson @appleboy
in my centos7 vm, if i delete the laradock_mysql volume that was created when i did docker-compose up -d as my normal user in the docker group and then docker-compose up -d as root, the db creates successfully.  i have selinux set to permissive.  if i delete the volume again and docker-compose up -d as normal user again it  goes back to failing to start (unless i add user:m

[2017-03-03 05:02] gabrielpreston commented on #583
No images or volumes, Docker for Mac has been reset to Factory Defaults:
[code]

Current commit of laradock:
[code]

Bringing up the mysql container:
[code]

Checking my containers:
[code]

Crashed, right away. Looking at the logs now:
[code]

So, after banging my head on this for most of the day, some of my coworkers and I tried to make sense of the `docker-compose.yml` stanza for `mysql`, as wel

[2017-03-03 06:28] alchimik commented on #583
host: Ubuntu 16.04
can't reproduce

[2017-03-03 09:01] thorerik commented on #603
set the host to `elasticsearch` should work (did for me at least)

[2017-03-03 16:19] alchimik commented on #583
I think need some explanation

`mysql_1               | Initializing database`
...
`mysql_1               | Database initialized`
`mysql_1               | Initializing certificates`
...
`mysql_1               | Certificates initialized`
`mysql_1               | MySQL init process in progress...`
...
`mysql_1               | 2017-03-03T04:45:03.861539Z 0 [Note] Execution of init_file '/etc/mysql/st

[2017-03-03 18:50] wayanjimmy commented on #606
I just made a PR for this #650

[2017-03-04 09:56] zhibuzu commented on #402
@philtrep  Thanks, it's works.

[2017-03-04 19:14] sasokovacic opened #652 "Can't installl php7.0-gmp into php-fpm container..."
it can be done for every other version of linux but not for jessie... or am I missing something?
I've tried everything without success... I really need this for a project I'm working on...

[2017-03-05 00:48] rwforsythe commented on #93
Have the problem described above ("Could not open mysql.plugin table. Some plugins may be not loaded") after installing MariaDB on a fresh centos box. No previous install of mysql. I'm wondering if that is an unusual installation environment and causing the issues I am having...

[2017-03-05 13:16] cjmaxik commented on #646
@sasaorz This container is only a volume. It should starts and stops immediately.

[2017-03-06 08:47] fedemotta commented on #584
Check the files owner. It doesn't work with root user as the owner. I found this issue in a virtualbox ubuntu machine with the www folder shared with windows using the built in shared folder of virtualbox.

[2017-03-06 10:53] zeroc0d3 opened #656 "Solving error in mariadb environment"
Hi @Mahmoudz,

Need some fix in docker-compose.yml file for mariadb
After i running :
[code]
I got this error:
[code]

So, the problem solved by adding some **dash** ("-") sign in environment:
**Before:**
[code]
**After:**
[code]

[2017-03-06 10:55] zeroc0d3 commented on #646
@cjmaxik
That's right, no need to confuse. It's only running once time and then stop...

[2017-03-06 14:34] Mahmoudz commented on #656
@zeroc0d3 thanks, someone's gonna check and PR this.
Best,

[2017-03-06 15:03] cabrerabywaters commented on #645
Ok....finally manage to install this...so for future readers, here it comes.

First, LDAP.
I included a LDAP arg at the bottom of the Dockerfile (laradock/php-fpm/Dockerfile-70), with the following
`#####################################
# LDAP:
#####################################
ARG LDAP=false
RUN if [ ${LDAP} = true ]; then \
    apt-get update && \
    apt-get install libldap2-dev -y && \

[2017-03-06 15:34] alchimik commented on #656
I think that is a valid syntax
https://docs.docker.com/compose/compose-file/compose-file-v2/#environment

minio, postgres, rabbitmq, phpmyadmin use same syntax.
work fine on my machine

[2017-03-06 15:48] alchimik commented on #583
Just launched all containers (docker-compose up -d)

There is an error in mysql log ,

but the container is running.

At one and the same error, the container may fall and may continue to work. I do not understand ... :cry:

[2017-03-07 03:24] appleboy commented on #656
agree @alchimik https://docs.docker.com/compose/compose-file/#environment

[2017-03-07 14:36] andr2k opened #657 "Mount volumes in the 'workspace' container with RW access"
I am new to Docker, so excuse me in advance please.

1. Install Laradock, start everything
2. Run bash from the 'workspace' container: `docker-compose exec --user=laradock workspace bash`
3. Do `ls -la` from `/var/www`:

[code]

Result: all folders and files belong to `nouser:nogroup`.

Check current user id inside the workspace:
[code]

Check the id and other info inside the host:
[code]

I see t

[2017-03-07 17:06] andr2k commented on #657
Possibly, something is wrong with my docker configuration, because even a pure docker example does not work as expected:

[code]

Source: https://docs.docker.com/engine/tutorials/dockervolumes/#mount-a-host-file-as-a-data-volume

[2017-03-07 20:53] silgon commented on #402
@dennisc1 thanks!, it worked for me!

[2017-03-08 04:38] philtrep commented on #657
@andr2k Since the docker example is not working I'd try removing Docker from your machine and reinstalling it. I don't think this is specifically linked to Laradock, if reinstalling doesn't fix your issue I'll reopen the issue.

[2017-03-08 04:38] #657 closed

[2017-03-08 04:43] philtrep commented on #645
@cabrerabywaters Wow. You should definitely put this in a PR.

[2017-03-08 04:52] philtrep commented on #647
@hasangilak I'm not sure I understand what you are proposing?

[2017-03-08 04:54] philtrep commented on #646
@sasaorz Please see @cjmaxik 's comment. Checkout https://hub.docker.com/r/tianon/true/ for more info.

[2017-03-08 04:54] #646 closed

[2017-03-08 06:42] thorerik commented on #656
@zeroc0d3 what's your `docker-compose` version? can you commit the current state of your laradock copy and push it to a repo on your profile?

[2017-03-08 06:44] thorerik commented on #619
After a bit of googling, it may look like `open_file_cache` can be the culprit, I'm going to test this later and open a PR if it does indeed solve the issue.

[2017-03-08 08:28] thorerik commented on #619
Tested the above and seemed to work for me, @stanleyli60 can you give it a shot as well and confirm?

[2017-03-08 10:39] zeroc0d3 commented on #656
@thorerik, I'm using this:
ok.. i'll push it on my profile...

[code]

[2017-03-08 10:44] zeroc0d3 commented on #647
@hasangilak, first you need to check your docker container IP:

[code]
container_name_or_id => docker container phpmyadmin & mysql, which has different IP

References: you can read [this](http://stackoverflow.com/questions/17157721/getting-a-docker-containers-ip-address-from-the-host)

Then put it on your browser, eg: http://172.19.0.2:8080 for phpmyadmin

[2017-03-08 12:19] cabrerabywaters commented on #645
@philtrep No problem! I'm going to try to do it today.

[2017-03-08 19:30] nckrtl opened #660 "nginx won't run / can't be reached"
Hi,

I'm struggling for some hours to get laradock running but it seems that nginx just start running. Mysql however can be reached with Sequel Pro. But when i open the browser it shows me that the page can't be reached.

When i do docker ps i get:
[code]

And what's missing in that list is nginx, im not sure on how to troubleshoot this issue.

When i do docker-compose down i do see nginx in the l

[2017-03-08 20:20] manshoor commented on #660
That's weird,

ok, lets clear all the containers and dangling images using this command  `docker system prune`  and try again with building the containers that you need

OR

try force recreating with no cache using this command  `docker-compose build --force-rm --no-cache nginx`

[2017-03-08 21:31] nckrtl commented on #660
I did the first command:

[code]

Then i started it again with:
`NMBP:laradock nckrtl$ docker-compose up -d nginx mysql redis`

Output:
[code]

Then i checked again with ps command and now it shows up but with state exit 1 for nginx but also mysql which i cant reach anymore as well:
[code]

I tried looking into the log file but that shows log entries right before my first post, which inidicates ng

[2017-03-08 22:00] manshoor commented on #660
try loading individual containers with this command and see what's causing the problem `docker-compose build --force-rm --no-cache [SERVICE NAME]`

[2017-03-09 06:41] nckrtl commented on #660
Ok so I got it working by starting all fresh.

docker-compose ps:
[code]

However when I try to reach the larvel project I get this in chrome:

[code]

However the nginx logs aren't showing any new log entries. Any ideas on how to debug this?

[2017-03-09 11:02] manshoor commented on #660
what OS you are using?

check and verify your volume mounting also check the nginx config if it is picking up the right directory.

infact kindly share your docker-compose.yaml and nginx config what you are using

[2017-03-09 12:21] nckrtl commented on #660
I'm running on Mac

docker-compose.yml:
[code]

nginx.conf:
[code]

default.conf:  (local.flashalight.com) is my custom domain which I also set up in my /etc/hosts file to point towards 127.0.0.1
[code]

[2017-03-09 12:26] zeroc0d3 commented on #656
@philtrep
I've pull request for docker-compose.yml file in master branch...

Thanks

[2017-03-09 12:32] samijnih opened #663 "Custom domain not working for me"
Hello here, I've been trying to resolve this issue until 5am lol.

I've created my default docker virtual host. He is currently running because when I do docker-machine ls, I can see it running:

[code]

I've built my workspace, nginx and php-fpm.

### My default nginx conf contains:
[code]

### My docker-compose.yml:
* I removed the extra_hosts in the docker-compose.yml on the php-fpm and workspa

[2017-03-09 15:13] AlennGK commented on #373
[code]
But after 10 minutes the file deleted on by own. Now I can't recreate the bug. It is fine and file is  `root root ... app.style.css` So there must be some other issue. Anyway I have this problem everytime I boot my windows X and run the docker.

[2017-03-09 15:40] mjawaids commented on #387
I've tried to use CodeIgniter but page always shows Nginx 404 page. I've tried the suggestions above and from #325 but still not working.

[2017-03-09 15:55] manshoor commented on #387
enable `CODEIGNITER=true` in docker compose and in nginx config map the public folder correctly like this

[code]

[2017-03-09 16:18] mjawaids commented on #387
I already enabled the codeigniter=true but didn't configure nginx as wanted
to run default with localhost.

On Mar 9, 2017 8:55 PM, "Manshoor Ahmad Siddiqui" <notifications@github.com>
wrote:

[2017-03-09 16:30] manshoor commented on #387
so, now is it working fine?

[2017-03-09 17:21] mjawaids commented on #387
Nope.

On Mar 9, 2017 9:30 PM, "Manshoor Ahmad Siddiqui" <notifications@github.com>
wrote:

[2017-03-09 20:57] samijnih commented on #663
I was updating the docker host file and not my mac host file.

[2017-03-09 20:58] #663 closed

[2017-03-10 01:18] zeroc0d3 commented on #610
My answer is look like in #[647](https://github.com/laradock/laradock/issues/647)

I'll coverage with 2 situation:
A) Project outside container of Laradock
[code]
B) Project inside container of Laradock
[code]

Check your running docker:
[code]
Check your docker container IP:
[code]
container_name_or_id => docker container nginx & mysql, which has different IP

References: you can read [this](http

[2017-03-10 08:53] NewbMiao commented on #460
@HolyKindom
For mac, the ip you mean is what `ifconfig en0`  show? right?
For my mache it is `inet 172.16.30.192 netmask 0xffffff00 broadcast 172.16.30.255`
so i changed dockhost
[code]
Now i can debug with php-fpm.
But I still dont know am i do this right...

[2017-03-10 08:55] ovidius72 commented on #373
@AlennGK Are you running the command as laradock user or as root? Maybe the laradock user doesn't have the permissions to perform the action.
To have it permanently working you have to add it in the workspace Dockerfile so that it runs every time you boot the machine.

[2017-03-10 09:26] thorerik commented on #656
Can't replicate the issue with Windows, I'll take a look on my desktop later today and check if it could be a linux thing, I noticed in commit 73f7c88 you removed a bunch of whitespace, which might be the culprit(just a theory).

[2017-03-10 15:46] thorerik commented on #656
I just tested it on Ubuntu 16.04 with docker-compose 1.11.2 and docker 17.03.0, works just fine.

[2017-03-10 16:46] Shadow2004 commented on #598
I am having the these same problems.

@francislavoie would you be able to expand on what config I might need in the workspace container ?

[2017-03-10 16:57] francislavoie commented on #598
@Shadow2004 you'll probably have to add this stuff https://github.com/laradock/laradock/blob/master/php-fpm/Dockerfile-70#L109-L129 to the workspace Dockerfile. You might need to make some changes for it to build though. You'll also need to add the environment variable to your `docker-compose.yml`.

I don't use memcached so YMMV

[2017-03-10 17:21] Shadow2004 commented on #598
Thanks for that I will give it a shot.

[2017-03-10 17:49] kahunacoder commented on #652
I needed gmp too but when I installed it using laradock fpm that I modified, I kept getting an error saying gmp.h couldn't be found.

I added this to Dockerfile-70
[code]

This didn't work. So I added my own dockerfile to laradock fpm, it installs a lot of extensions and their required libraries. I don't know what my file added that was missing in the modified Dockerfile-70 but here is my custom d

[2017-03-11 15:13] filipac commented on #530
It could be as simple as adding this to ```php-fpm/Dockerfile-70```:
[code]

[2017-03-11 21:16] klikrzys commented on #638
@philtrep thanks! Now it's working correctly.

[2017-03-11 21:16] #638 closed

[2017-03-12 13:51] sonialiang commented on #621
I am new to docker.
I met with same problem on My AWS in us-east-1 region.
I spent 2 days to solved the issue.

The reason is because the repository mirror site.
People also discussed about this. Refer #609

Try delete the merged line. And run it again.

[2017-03-12 16:52] asolopovas commented on #615
its likely to be the problem with docker or docker nginx. As when I try to login into domain.dev/public/css/app.css which is present it throws exactly same error.

[2017-03-13 15:20] oleic opened #664 "MySQL exists on first start"
A brand new MySQL Container exists on first run. I am using laradock v4.19.0.

This is the output when running `docker-compose up nginx mysql`:

	mysql_1               | Initializing database
	mysql_1               | 2017-03-13T15:15:33.081588Z 0 [Warning] TIMESTAMP with implicit DEFAULT value is deprecated. Please use --explicit_defaults_for_timestamp server option (see documentation for more det

[2017-03-13 15:52] alchimik commented on #664
see #649 and #583

[2017-03-13 17:14] yoak1234 opened #665 "multiple projects setting problem : 404 Not Found"
I used DigitalOcean.
I setting follow [Laradock/GettingStarted/Installation/B)SetupforMultipleProjects](http://laradock.io/getting-started/#installation) document for run multiple Laravel projects with Docker.
1. I edited laradock/docker-compose.yml.
![image](https://cloud.githubusercontent.com/assets/11187221/23865208/8812427c-0847-11e7-884c-dbda7508ce73.png)
2. I added **project1.conf** and **pr

[2017-03-14 07:09] sashaaro opened #668 "Prod config example docker-compose-prod.yml"
Hi everyone. Someone use it in producation?
What about setup example configuration for producation environment?
I have problem and I worry about delivery services to server.
Purpose make deploy proccess faster and safe.
How I see in producation run only `docker-compose pull` and `restart` (not care about source code like git pull). Seems we need copy source code to containers instead of make volum

[2017-03-14 10:47] endingman opened #669 "mongodb fail."
Dockerfile is 30-mongodb.ini.But in workplace it is 25-mongodb.ini.
![Uploading 7D55B6C3-96BD-437E-84AF-0E255C5EC702.png…]()
![Uploading EEA7FE75-222B-4E8A-B20A-55BB332211C6.png…]()
And I change dockfile to 25-mongodb.ini,it is not work also.
![Uploading 18517BC2-592F-495C-978D-A572BF1449C4.png…]()
The MongoDB driver for PHP it looks like in pecl.php.net/packges/mongodb and not in pecl.php.net/mon

[2017-03-14 10:49] endingman commented on #669
![Uploading 7D55B6C3-96BD-437E-84AF-0E255C5EC702.png…]()
![Uploading EEA7FE75-222B-4E8A-B20A-55BB332211C6.png…]()
![Uploading 18517BC2-592F-495C-978D-A572BF1449C4.png…]()

[2017-03-14 10:55] endingman commented on #669
oh the pics is broken。

[2017-03-14 14:11] cabrerabywaters commented on #645
@philtrep OK, it took me a while but finally did a proper pull request for PHP7.0
I divided everything that I'm using in 4 different PR.
PHP-Worker: https://github.com/laradock/laradock/pull/673
GHOSTSCRIPT:https://github.com/laradock/laradock/pull/672
LDAP:https://github.com/laradock/laradock/pull/671
MSSQL:https://github.com/laradock/laradock/pull/670

Hope you can check it and tell me what you

[2017-03-14 16:56] fedemotta commented on #621
@sonialiang It seems that this mirror site works fine from china, maybe we can create a ENV variable to select the proper site to download the alpine links and let the user decide which one to use

[2017-03-14 19:08] sasokovacic commented on #652
Thanks for your answer...  Today I found shorter solution on https://hub.docker.com/r/ianblenke/simplesamlphp/~/dockerfile/

# Install the gmp and mcrypt extensions
RUN apt-get update -y
RUN apt-get install -y libgmp-dev re2c libmhash-dev libmcrypt-dev file
RUN ln -s /usr/include/x86_64-linux-gnu/gmp.h /usr/local/include/
RUN docker-php-ext-configure gmp
RUN docker-php-ext-install gmp

and it work

[2017-03-14 19:10] #652 closed

[2017-03-15 06:30] Nguonchhay opened #674 "docker-compose up failed"
I got this error when run `docker-compose up -d nginx mysql redis beanstalkd`

[code]

[2017-03-15 16:26] kahunacoder opened #678 "Notifications (Toast)"
- Laravel Mix Version: laravel-mix@0.8.8
- Node Version v7.7.2:
- NPM Version 4.1.2:
- OS: macOS Sierra 10.12.3
- LaraDock 4.19.0

On a fresh install of Laravel 5.4 and LaraDock, I'm not getting any notifications when Laravel Mix finishes. I'm not sure if this is a feature request or a bug. I'd like to see it working though.

[2017-03-15 18:13] kahunacoder commented on #656
I had to change the syntax from `- MYSQL_DATABASE: homestead` to `- MYSQL_DATABASE=homestead`, by replacing the : with =
[code]

[2017-03-16 01:11] beatwade commented on #102
![image](https://cloud.githubusercontent.com/assets/6858148/23977171/817e0720-0a27-11e7-89dd-6658492ba650.png)
thanks bros, I have to learn the logic of the xdebug , and know php-fpm is using the 9000 so is using the same container for xdebug we have to use another port for xdebug e.g. 9001
the most import import part is the port which you have to expose to outside to listen
e.g.
![image](https://

[2017-03-16 09:05] thorerik commented on #674
Not an issue with this project spesificly, docker.io is to blame.

Try `docker pull mysql:5.7` manually, if not, you'll probably have to ask over at the docker forums: https://forums.docker.com/

[2017-03-16 09:16] thorerik commented on #678
Growl notifications do support using TCP messages, but I don't think the native toasts do.

Additionally looking at the upstream that does notifications in mix, just at a glance doesn't look to have remote notification support even if the underlying provider has it (growl is the only one I'm aware of).

https://github.com/mikaelbr/node-notifier is what's doing the notifications in mix, for the rec

[2017-03-16 09:20] thorerik commented on #665
The issue is that you went to <my_ip>/project1, nginx is looking for http://project1.dev.

On your local machine, add
[code]
to your /etc/hosts (on windows, this is C:\Windows\System32\drivers\etc\hosts), then you should be able to enter http://project1.dev and http://project2.dev

[2017-03-16 16:51] akajack opened #681 "Call to undefined function imap_open()"
Hi,
I am creating an artisan command that read the email and interprets it.
I'm using the [Zalazdi\LaravelImap](https://github.com/zalazdi/laravel-imap) package that, as many, uses the php function [imap_open()](http://php.net/manual/en/function.imap-open.php)
I added in file **php-fpm/laravel.ini**:
[code]
the file **php-fpm/Dockerfile-70** instead:
[code]
With phpinfo() I can see that imap is pr

[2017-03-16 17:39] #14 closed

[2017-03-16 17:39] #54 closed

[2017-03-16 17:39] #93 closed

[2017-03-16 17:40] #107 closed

[2017-03-16 17:40] #155 closed

[2017-03-16 17:40] #200 closed

[2017-03-16 17:41] Mahmoudz commented on #244
@davehensley can you include your answer in the docs!?

[2017-03-16 17:58] davehensley commented on #244
@Mahmoudz I'm not sure which docs you're referring to ([laradock.io](http://laradock.io/) maybe?), but I'm not part of the Laradock project so I don't have write access to them. But if you do, you're more than welcome to copy my solution and include it there if you think it would be useful.

[2017-03-16 18:02] ntopulos commented on #535
To use Laradock I definitely need to be able to set the IP of the local server, thank you for this post @oprudkyi.

Unfortunately I wasn't yet able to make it work: after changing the configuration according to those instructions and running ``docker-compose up -d nginx`` I get:

    ERROR: for nginx  Cannot start service nginx: driver failed programming external connectivity on endpoint laradock_

[2017-03-16 18:02] mhetreramesh opened #683 "Too many errors"
Got too many error, not sure whether am I doing something wrong?

WARNING: The DB_PASSWORD variable is not set. Defaulting to a blank string.
WARNING: The DB_USERNAME variable is not set. Defaulting to a blank string.
WARNING: The DB_DATABASE variable is not set. Defaulting to a blank string.
WARNING: The DB_PORT variable is not set. Defaulting to a blank string.
WARNING: The SERVER_PORT variable

[2017-03-16 18:12] Mahmoudz commented on #244
@davehensley actually the site is hosted on Github and the readme files are in the project, so you can send a normal PR as you used to when updating the readme.md. Please refer to this docs for how to update the docs [http://laradock.io/contributing/#update-documentation-site](http://laradock.io/contributing/#update-documentation-site). Note: do not edit HTML files, someone did that mistake before

[2017-03-16 18:14] #298 closed

[2017-03-16 18:15] #306 closed

[2017-03-16 18:15] #320 closed

[2017-03-16 18:15] #321 closed

[2017-03-16 18:15] #334 closed

[2017-03-16 18:15] #335 closed

[2017-03-16 18:16] #342 closed

[2017-03-16 18:16] #343 closed

[2017-03-16 18:16] #345 closed

[2017-03-16 18:17] #346 closed

[2017-03-16 18:18] #359 closed

[2017-03-16 18:18] #379 closed

[2017-03-16 18:18] #392 closed

[2017-03-16 18:19] Mahmoudz commented on #392
@philtrep I closed this since it's been for a long time, however I will try to fix this in the next release. Thanks

[2017-03-16 18:19] #405 closed

[2017-03-16 18:20] #409 closed

[2017-03-16 18:20] #417 closed

[2017-03-16 18:20] #422 closed

[2017-03-16 18:20] #424 closed

[2017-03-16 18:22] #425 closed

[2017-03-16 18:22] #443 closed

[2017-03-16 18:22] #447 closed

[2017-03-16 18:22] #448 closed

[2017-03-16 18:23] #450 closed

[2017-03-16 18:23] #452 closed

[2017-03-16 18:23] #456 closed

[2017-03-16 18:24] #457 closed

[2017-03-16 18:24] #460 closed

[2017-03-16 18:24] #465 closed

[2017-03-16 18:24] #467 closed

[2017-03-16 18:24] #469 closed

[2017-03-16 18:24] #471 closed

[2017-03-16 18:24] #475 closed

[2017-03-16 18:24] #480 closed

[2017-03-16 18:24] #492 closed

[2017-03-16 18:24] #497 closed

[2017-03-16 18:24] #499 closed

[2017-03-16 18:24] #503 closed

[2017-03-16 18:24] #504 closed

[2017-03-16 18:24] #516 closed

[2017-03-16 18:24] #517 closed

[2017-03-16 18:24] #518 closed

[2017-03-16 18:24] #520 closed

[2017-03-16 18:24] #521 closed

[2017-03-16 18:24] #532 closed

[2017-03-16 18:24] #533 closed

[2017-03-16 18:25] #534 closed

[2017-03-16 18:26] #535 closed

[2017-03-16 18:26] #536 closed

[2017-03-16 18:26] #539 closed

[2017-03-16 18:27] #559 closed

[2017-03-16 18:29] #565 closed

[2017-03-16 18:33] Mahmoudz commented on #683
@mhetreramesh I'm cleaning up the project right now, closing old issues and closing/merging some PR's probably I merged a PR that causes this (I didn't have time to really test them all there are over 150 in total :P), as a quick solution for you reset --hard your code to old commit or use an older version just for today. Thanks and sorry for this.

[2017-03-16 18:40] mhetreramesh commented on #683
Ok, let us know once this issue is fixed. Thanks

[2017-03-16 18:42] Mahmoudz commented on #683
Done.

[2017-03-16 18:53] #606 closed

[2017-03-16 18:53] #603 closed

[2017-03-16 18:53] #600 closed

[2017-03-16 18:53] #598 closed

[2017-03-16 18:54] #594 closed

[2017-03-16 18:54] #584 closed

[2017-03-16 18:55] #577 closed

[2017-03-16 18:55] #571 closed

[2017-03-16 18:58] #611 closed

[2017-03-16 19:00] #619 closed

[2017-03-16 19:00] #621 closed

[2017-03-16 19:03] Mahmoudz commented on #625
@gagarine please take a look at [https://github.com/laradock/laradock/blob/multiple-projects-improvement/env-example](https://github.com/laradock/laradock/blob/multiple-projects-improvement/env-example) Thanks,

[2017-03-16 19:04] #630 closed

[2017-03-16 19:11] #636 closed

[2017-03-16 19:11] mhetreramesh commented on #683
Now I'm getting below error

ERROR: for nginx  Cannot start service nginx: driver failed programming external connectivity on endpoint laradock_nginx_1 (62e707fb876e45ff10b073cbaecb134bbb95e94849e27cbaa114db5e8bb4c78e): Error starting userland proxy: Bind for 0.0.0.0:80: unexpected error (Failure EADDRINUSE)
ERROR: Encountered errors while bringing up the project.

[2017-03-16 19:12] #640 closed

[2017-03-16 19:13] Mahmoudz commented on #664
closed in favor of #583

[2017-03-16 19:13] #664 closed

[2017-03-16 19:20] Mahmoudz commented on #668
@sashaaro we tried that before, but it was hard me and most contributors to remember updating both files. So I deleted that file #524 and we were supposed to replace it with documentation section. But no one ever did that since then, if you spend time finding answers and getting it to work, w'll appreciate of you can add a section in the docs about that. Thanks,

[2017-03-16 19:20] #668 closed

[2017-03-16 19:21] #674 closed

[2017-03-16 19:22] Mahmoudz commented on #683
@mhetreramesh checking that right now

[2017-03-16 19:57] Mahmoudz commented on #683
#30cf27e011eb2d2c4f47f67fa783b00d63f208b5

[2017-03-16 19:57] #683 closed

[2017-03-16 21:22] #596 closed

[2017-03-16 21:47] CharlieTap opened #685 "Lack of production documentation"
Hi,

I noticed in the docs it references a production compose yaml file but nothing seems to be present in repo?

Also are you looking to expand the section on deployment into production? realistically you shouldn't be mounting a volume for the Laravel application code in the live environment and instead should be copying that into your own image.
For scalability you could probably roll FPM and ng

[2017-03-16 22:12] Mahmoudz commented on #685
@CharlieTap that's why we removed it #524. Please read my answer here #668 for the why. Checkout #davehensley answer #244 here for "Deploying to Amazon Elastic Beanstalk".

[2017-03-17 04:41] mhetreramesh commented on #683
No luck yet, now I'm getting below errors. (on docker-compose build --no-cache & docker-compose up -d nginx mysql redis beanstalkd )

WARNING: The WORKSPACE_INSTALL_YARN variable is not set. Defaulting to a blank string.
WARNING: The WORKSPACE_INSTALL_DRUSH variable is not set. Defaulting to a blank string.
WARNING: The WORKSPACE_INSTALL_AEROSPIKE_EXTENSION variable is not set. Defaulting to a bla

[2017-03-17 06:26] Mahmoudz commented on #683
@mhetreramesh have you renamed `env-example` to `.env`? I forget to add this to the installation steps, I only added it to the quick overview section. Sorry for that.

[2017-03-17 07:19] zeroc0d3 commented on #480
You need to enter by "ash"
* Check your container name & id for phpmyadmin
[code]
* Login into your container phpmyadmin
[code]

[2017-03-17 07:30] zeroc0d3 commented on #480
* Find your "mysql" container IP (after "dockker ps")
[code]

* Test on your terminal
[code]
by default:
username = **root**
password = **root**

* Login by phpmyadmin
[code]

[2017-03-17 07:32] zeroc0d3 commented on #480
@Mahmoudz, we can closed this as solved "bug fixed"

[2017-03-17 08:55] phpmaple opened #690 "ERROR: Service 'php-fpm' failed to build"
when I run `docker-compose up -d nginx mysql redis beanstalkd`,

it shows:
 `Step 32/40 : RUN if [ ${INSTALL_INTL} = true ]; then     apt-get install -y zlib1g-dev libicu-dev g++ &&     docker-php-ext-configure intl &&     docker-php-ext-install intl ARG GHOSTSCRIPT=false
 ---> Running in 7ecf73bd5658
/bin/sh: 1: Syntax error: end of file unexpected (expecting "fi")
ERROR: Service 'php-fpm' failed

[2017-03-17 09:15] davidtaboas commented on #690
In file php-fpm/Dockerfile-70 exists this block of code:

[code]
You have to add on the end of this block `;fi`:

[code]

I made a pull request for fix this: https://github.com/laradock/laradock/pull/691

[2017-03-17 09:49] phpmaple commented on #690
and it show:

`ERROR: for applications  Cannot create container for service applications: create .: volume name is too short, names should be at least two alphanumeric characters
ERROR: Encountered errors while bringing up the project.`

[2017-03-17 10:18] Rozbo commented on #690
I meet this too.

[2017-03-17 10:35] phpmaple commented on #690
@Rozbo I solved this, you can set APPLICATION=xxx in .env file

[2017-03-17 10:36] phpmaple commented on #690
When I run `docker-compose up -d nginx mysql redis beanstalkd` success,
but localhost did not work, it show 404, I already set map to my project

[2017-03-17 10:36] Rozbo commented on #690
@phpmaple ok ,I will try it, thank you very much!

[2017-03-17 10:38] g0ld3lux commented on #558
The way to do this is create a sudo user , which is the one executing the zsh command and uses the zsh terminal...

That way the root which is bash wont have any clash on their default settings...

[2017-03-17 11:08] brezzhnev opened #692 "Multiple postgres containers: no pg_hba.conf entry for host"
Hi,
I need to create a test database for my application, I duplicated PostgreSQL container:
[code]

I can enter to psql on port *5435* within host machine:
[code]
But when I trying to execute psql with *5434* I get following error:
[code]

Within guest machine I get same error:
[code]

I'm a beginner in docker and I stuck here, please, help me.

[2017-03-17 11:36] zeroc0d3 commented on #647
Perhaps this is the sollution #480

[2017-03-17 11:44] zeroc0d3 commented on #692
In your `postgres-test`:
[code]
could you change & test it (with different port?):
[code]

[2017-03-17 13:49] brezzhnev commented on #692
@zeroc0d3 thanks for your response. I tried to change port and it works within guest machine, but when I trying to connect from host machine using `psql -h localhost -p 5435 -U postgres -d postgres` it returns following:
[code]
Same connection to psql with port *5434* works fine. In really I find strange to use different local ports in containers...

[2017-03-17 14:18] tblancog opened #693 "Getting syntax error on step 32/40"
[code]

Steps to reproduce:
1. Cloned laradock
`git clone https://github.com/laradock/laradock.git dckr
`
2. copied env example
`cp env-example .env
`
3. Launch containers
`docker-compose exec workspace bash
`

[2017-03-17 15:10] #685 closed

[2017-03-17 15:17] Mahmoudz commented on #693
@tblancog probably this type was fixed. Can you try again, if it is fixed please close this otherwise let me know to fix it. it's only missing `fi`

[2017-03-17 15:29] tblancog commented on #693
@Mahmoudz Tried again and it worked.
Thanks!

[2017-03-17 15:51] rickshawhobo commented on #353
If anyone is interested there is an active issue on the docker for mac github here https://github.com/docker/for-mac/issues/77

I finally got d4m-nfs to work after some hassles. The one thing I discovered is that you should not the script as root, if you happened to run it as root in the past you may need to remove the files under /tmp/d4m*

`sudo rm -rf /tmp/d4m*`

Hope that helps someone, thanks

[2017-03-17 17:17] Vanuan commented on #353
Don't know about php, but for `ruby` and `node` mounting `.bundle` and `node_modules` using named volumes instead of through osxfs fixes performance. Is it `vendor` in php? Here's how:

[code]

[2017-03-17 17:27] #693 closed

[2017-03-18 01:07] zeroc0d3 commented on #692
Could you test this (change all ports):
[code]
and
[code]
When you need to connect by terminal outside docker container:
[code]
Find the IP Address of your postgres & postgres-test container:
[code]
Then use:
[code]
We use "default" port connection 5432

[2017-03-18 01:10] zeroc0d3 commented on #656
@kahunacoder good points...
we can close this issue

[2017-03-18 01:11] #656 closed

[2017-03-18 03:51] alchimik commented on #692
@brezzhnev Why use two containers if they use the shared volume (postgres)?

I think you should use two volums:
[code]

[2017-03-18 12:08] phpmaple opened #695 "ERROR: Service 'hhvm' failed to build"
E: Unable to locate package hhvm
ERROR: Service 'hhvm' failed to build: The command '/bin/sh -c apt-get update -y     && apt-get install -y software-properties-common     && add-apt-repository "deb http://dl.hhvm.com/ubuntu $(lsb_release -sc) main"     && apt-get update -y     && apt-get install -y hhvm     && apt-get clean     && rm -rf /var/lib/apt/lists/*' returned a non-zero code: 100

[2017-03-18 17:07] zhangrxiang opened #696 "help"
hi all!,I'm new developer,I have a problem when I use the cmd 'docker-compose up -d nginx mysql'
ERROR: for applications  Cannot create container for service applications: create .: volume name is too short, names should be at least two alphanumeric characters
I did not found the volume of applications
is it  ' applications:
        image: tianon/true
        volumes:
          - ${APPLICATION}:/v

[2017-03-18 17:17] zhangrxiang commented on #690
@phpmaple 但是我这还是有这个错误？
![image](https://cloud.githubusercontent.com/assets/11625343/24074332/7c088240-0c41-11e7-80c4-a41aac55dabb.png)
![image](https://cloud.githubusercontent.com/assets/11625343/24074343/a14396d0-0c41-11e7-99e3-b72338331dff.png)

[2017-03-18 17:18] hnquang112 commented on #696
just upgraded laradock and facing the same problem

[2017-03-18 17:33] hnquang112 commented on #696
I've just found out the solution, @zhangrxiang. I think it's a lack of documentation of `env-example` file. So you'll need to add an environment variable `APPLICATION` into your .env file
To me, I'm using multiple projects setting, so I added `APPLICATION=..`. And for you, I guess it's probably `APPLICATION=/var/www`

[2017-03-18 17:35] jaasaria opened #697 "Running Container - Error (PMA_password variable not set)"
Hope someone could help me on this error. Please see

![container](https://cloud.githubusercontent.com/assets/5240819/24074469/518c189e-0c44-11e7-8019-161323479f38.png)

[2017-03-18 17:39] hnquang112 commented on #697
Perhaps missing the `.env` file

[2017-03-18 18:06] zwz111 commented on #657
me too
Install Laradock, start everything
Run bash from the 'workspace' container: docker-compose exec --user=laradock workspace bash

laradock@ad5b6b116635:/var/www$ id
uid=1000(laradock) gid=1000(laradock) groups=1000(laradock)

laradock@ad5b6b116635:/var$ ls -la
drwxr-xr-x. 3 root root  17 Mar 19 01:38 www

www do anything  Permission denied

docker host :centos
linux promote.cache-dns.local 4.

[2017-03-18 18:17] jaasaria commented on #697
.env file is exist. actually im running by app using xampp and wanted to use docker. hope some could give idea.

[2017-03-18 18:26] zwz111 commented on #657
I think I know the problem...

Because I also set the /var/www to APPLICATION
I gave him a set to APPLICATION=../ normal   its absolute path is /home/xxx
(:

[2017-03-18 21:41] Chtheile commented on #696
add "APPLICATION=../" to your .env/.env-example file

[2017-03-19 01:50] rg-srini commented on #599
Yes. I agree with @francislavoie. Volume drivers are definitely confusing.

[2017-03-19 05:54] zhangrxiang commented on #696
thank you,It's my problem. I got the wrong path.

[2017-03-19 07:03] NisalG commented on #397
I was able to fix this based on comment by @kosilence
I changed laradock/.env as below:
### NGINX Container
#NGINX_HOST_HTTP_PORT=80
#NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_HTTP_PORT=8083
NGINX_HOST_HTTPS_PORT=4431

[2017-03-19 11:23] NisalG commented on #563
This is what worked for me:
Replace laradock/workspace/Dockerfile > 'User Alias' section according to @kvahuja

Rebuilt according to @bagart:
`$ docker-compose stop`
`$ git pull`
`$ docker-compose build --pull workspace`
`$ docker-compose up -d nginx mysql`
`$ docker-compose exec workspace bash`

[2017-03-19 13:08] phpmaple commented on #690
@zhangrxiang  你需要重新build一下images

[2017-03-19 13:36] zhangrxiang commented on #690
谢谢，问题解决了

[2017-03-19 19:38] #697 closed

[2017-03-19 22:36] georgemr commented on #696
I am in Windows 10.  I have faced the same problem as @zhangrxiang. I have added "APPLICATION=.." to my .env file. But I have 4 projects in folder .. but none of the project folders are mapped in the workspace container. Folder /var/www in the workspace container has only folder laradock with 2 folders inside (logs and nginx). Please advice.

[2017-03-20 04:34] neangkakada opened #698 "Cannot up docker when it does not have .evn file, in v5.0.0"
Hi laradock  team,
I got error when run "docker-compose up -d nginx mysql redis beanstalkd"
It works find in `v4.20.0` but in `v5.0.0` or `v5.0.2` it has error:

`ERROR: Validation failed in file './docker-compose.yml', reason(s):
services.memcached.ports is invalid: Invalid port ":11211", should be [[remote_ip:]remote_port[-remote_port]:]port[/protocol]
services.beanstalkd.ports is invalid: Inval

[2017-03-20 07:05] bagart commented on #563
yes - that command rebuild new workspace image
but not clear(rebuild) docker image workspace
how make it? my last comment about it

[2017-03-20 07:23] maxgaurav commented on #698
# Description
I am getting the error **The Compose file './docker-compose.yml' is invalid because**  after pulling the latest commit on master and then trying rebuild the workspace container. Same error for php-fpm and nginx.

# Steps to reproduce

- **Step 1** : git pull origin master
- **Step 2** : cp env-example .env
- **Step 3** : Update .env file with port configurations

# Changes to .env
WO

[2017-03-20 07:40] brezzhnev commented on #692
@alchimik thank you! It solved my problem.

[2017-03-20 07:40] #692 closed

[2017-03-20 09:15] Mvzundert commented on #698
@neangkakada @maxgaurav  m You need to follow the docs and copy the .env file to fix all these errors, it's generating this now because it has no values.

[2017-03-20 09:18] Mvzundert commented on #696
This is definitely an issue with the path not being found correctly, in your case the 4 projects need to be up one directory from where laradock is (or you need to set the application path correctly).

aka:

Laradock
Project 1
Project 2
Project 3
Project 4

[2017-03-20 09:29] Mvzundert commented on #698
@maxgaurav is the .env file in the same directory as the env-example ? These errors are generated because it's not reading the .env file which means all values will be set to a blank string.

[2017-03-20 09:39] georgemr commented on #696
@Mvzundert the directory structure is as you indicate:
![image](https://cloud.githubusercontent.com/assets/9483995/24094205/3fe15042-0d60-11e7-8b2b-aa1cc56ef2c4.png)

But when running the containers and conecting to workspace no folders are mapped:
![image](https://cloud.githubusercontent.com/assets/9483995/24094541/d5e4d41e-0d61-11e7-9216-6153041ba845.png)

The first line in `.env` file in larado

[2017-03-20 09:48] neangkakada commented on #698
Ohhh it does not have .env file, the .env file was remove from laradock
with v5.0.0

Thank you for your help ^_^

On Mon, Mar 20, 2017 at 4:29 PM, Marius van Zundert <
notifications@github.com> wrote:

[2017-03-20 09:54] maxgaurav commented on #698
@Mvzundert

Thanks for the help.

I did create the .env file in the same directory as the env-example file.

I was able to build the container after tweaking other parameters in .env file. I am still not certain why the error came. If I find the root of it I will post it here, just for info.

[2017-03-20 10:13] neangkakada commented on #698
@Mahmoudz,

I fixed the problem by checkout laradock to old version (v4.20.0).
And docker-up works find the that version.
I see laradock remove .env file from version 5.0.0 and I do not clear the purpose to remove it.
I just checkout to old version then it was fixed.
^_^

[2017-03-20 10:26] Mvzundert commented on #698
@neangkakada Its removed because everybody should copy the env-example and create their own that fits their project(s) needs... Most of the commits that introduced are mine hence why I know how it's supposed to work ;)

@maxgaurav Thanks, what other tweaks did you make?

[2017-03-20 10:27] Mvzundert commented on #696
@georgemr your syntax is wrong:

`APPLICATION=../`

Would map to the correct location.

[2017-03-20 11:37] georgemr commented on #696
@Mvzundert its seems to be a bug in windows. I have corrected `env` file per your suggestion but its not working. More over I have changed `docker-compose.yml` to:
`- ${APPLICATION}:/var/www/dev`.

After recreating the containers, folder `dev` is created in `/var/www` but only folder `laradock` exists in `/var/www/dev`:
![image](https://cloud.githubusercontent.com/assets/9483995/24098236/3196c96a-

[2017-03-20 11:55] georgemr commented on #696
@Mvzundert the problem remains if I target each folder separately. I have inserted in my `docker-compose.yml` the following lines:
[code]

The folders are mapped by no files resides in them even if in the windows host all these folders contain laravel projects:
![image](https://cloud.githubusercontent.com/assets/9483995/24098601/0133cf28-0d74-11e7-81fc-6155ba091b68.png)

[2017-03-20 11:59] maxgaurav commented on #698
@Mahmoudz

Here are the changes.

I changed the port value of apache to 808 and 4438 in .env but I never built the apache container. I am using the Nginx container with a different port.

I am running apache as a physical application on my mac. I did not build the apache container so had them to default to value 80 and 443 in .env file but somehow after changing them, everything worked fine.

[2017-03-20 12:22] Mvzundert commented on #698
@maxgaurav Ah, well I think that might be a case of not having it build or some other mixup. as long as it seems solved now I guess.

[2017-03-20 12:34] Mvzundert commented on #696
@georgemr sadly I don't have a windows machine to test this out... (on Mac / Linux myself) but what you're telling me indicates that what's happening is:

Laradock should map everything in the folder above it to var/www if you look at how it was solved in the laradock version before the .env file was introduced:

` - ../sample/:/var/www/sample`

It's the same as what you are using now. So if you'r

[2017-03-20 18:52] a-h-abid commented on #696
@georgemr do you have this in your .env file? Might work...

    COMPOSE_CONVERT_WINDOWS_PATHS=1

https://github.com/laradock/laradock/issues/508#issuecomment-269329543

[2017-03-20 20:39] georgemr commented on #696
@a-h-abid `COMPOSE_CONVERT_WINDOWS_PATHS=1` did the trick. Combined with `APPLICATION=../` everything works fine. Thank you both @Mvzundert and @a-h-abid.

[2017-03-20 22:24] davidavz opened #702 "Can not connect to the postgres DB"
I've just updated my laradock repo, deleted/rebuilt every containers.

I used to use pgadmin to check my database and now i just can't connect to the database.

I also tried to bash into the postgres container but I have the `password authentication failed for user "XXX"`

I just don't understand the issue here. I thought it would be relative to the new env variables but i'm not sure now.

Do you

[2017-03-21 05:59] infacq opened #703 "Missing APPLICATION variable in yml file"
I hit this error when run `docker-compose up -d nginx mysql` on initial setup

[code]

is there any missing steps in docs?

[2017-03-21 06:35] kamrava commented on #481
Same here :(

[2017-03-21 07:24] kamrava commented on #481
@ZaffJa  Please tell me how did you solve the problen? I required [https://packagist.org/packages/league/flysystem-ziparchive](https://packagist.org/packages/league/flysystem-ziparchive).
But nothing changed! Same error :(

[2017-03-21 09:00] Mvzundert commented on #696
@a-h-abid  I totally missed that one... good one, I hate not being able to test on windows..

[2017-03-21 09:06] Mvzundert commented on #703
Did you copy the env-example file to a .env file ?

[2017-03-21 09:08] Mvzundert commented on #702
If it was an existing DB it wouldn't have new credentials as the DB's are stored locally by default.

[2017-03-21 09:23] Olivia101 commented on #696
I was about to setup Laradock on my Windows 10 and I'm so glad I saw this issue comment. Perhaps this should be added to the documentation for the all the Windows users out there.

[2017-03-21 09:28] zeroc0d3 commented on #703
You need to:
1) copy env-example to .env, as @Mvzundert mention it
2) add line `APPLICATION=../` or `APPLICATION=../[project_folder]` in your .env file

[2017-03-21 10:03] davidavz commented on #702
I deleted all images and containers to restart clean.

Now I can't even start the postgres container, it stop few seconds after my `docker-compose up -d ...`

And if I try to enter this container I have
[code]

[2017-03-21 10:19] Mvzundert commented on #696
@Olivia101 I'll create a pull request to add this line to the env-example, as it should just be there to fix this issue, it has no impact on the other OS to have it there.

I just wasnt aware that this got removed and needed to be there.

[2017-03-21 10:20] Mvzundert commented on #696
@Olivia101 I'll create a pull request to add this line to the env-example, as it should just be there to fix this issue, it has no impact on the other OS to have it there.

I just wasnt aware that this got removed and needed to be there.

[2017-03-21 10:42] ntopulos opened #705 "Define a specific static IP for nginx"
I need to define the IP of the nginx container.

I followed the instructions from #535, and it worked for some time, but it doesn't anymore. Maybe something changed with the last commits or maybe I was just lucky to have it work on the first place thanks to some mess up with my docker networks.

Does someone got it working ?

Here is my trial.

In **.env** I added:

    GATEWAY_IP=127.0.0.45
    S

[2017-03-21 12:59] cjmling commented on #703
I have to same problem. APPLICATION key is not set but not sure what value I should set there.   For example my laravel project on my Mac is at .. _Users\USERNAME\docker-web-project\testproject\_

What value I should put there as APPLICATION = ??

Thanks

### Application
# Point to your application code, wish should be available at `/var/www`

### PHP version (Does not apply for HHVM)
# PHP_VERSIO

[2017-03-21 13:19] Mvzundert commented on #703
Hi @cjmling

it's relative to the laradock location. So for example, if laradock is in users/USERNAME/docker-web-project/laradock you'd set the it to APPLICATION = ../

It depends on the location of your laradock relative to the folder(s) you're trying to map.

[2017-03-21 14:02] #703 closed

[2017-03-21 14:04] Mahmoudz commented on #703
That was my mistake, while developing this feature I edit my `.env` file and forget to also edit the `env-example` file. I fixed it now, the `APPLICATION = ../` is back.

[2017-03-21 14:41] mitjarobic commented on #705
i get the same problem... no changes to initial settings

nginx: [emerg] host not found in upstream "php-fpm:9000" in /etc/nginx/conf.d/upstream.conf:1

[2017-03-21 15:11] ntopulos commented on #705
I also tried adding a longer timeout to the nginx upstream definition on line 17 of the nginx Dockerfile:

    && echo "upstream php-upstream { server ${PHP_UPSTREAM}:9000 fail_timeout=60s max_fails=2; }" > /etc/nginx/conf.d/upstream.conf

It doesn't appear to have any effect, the nginx container still crashes after about 2s.

[2017-03-21 15:16] mitjarobic commented on #705
after rebuild in restart it works now

docker rm -f $(docker ps -qa)
docker rmi $(docker images -qa --digests)
docker-compose up --build -d nginx mysql

[2017-03-21 15:26] infacq commented on #703
I still got 404 nginx not found using `APPLICATION = ../`. My structure project as below

-ProjectDir
  -laradock

[2017-03-21 17:30] Mvzundert commented on #703
Whats in the project dir? Can you include a screenshot?

[2017-03-21 19:11] davidavz commented on #702
The problem was the volumes.

I just try a `docker system prune` to remove all.

Now it's OK with fresh new containers.

[2017-03-21 19:11] #702 closed

[2017-03-21 22:01] Mahmoudz commented on #696
@zhangrxiang your main problem was caused by the missed `APPLICATION` variable from in `.env` file. If you upgrade your Laradock repo, your problem should be fixed.

@chtheile @georgemr @mvzundert @a-h-abid @Olivia101 the multiple projects setup now works differently after involving the `.env` file. We used to point to each project's folder from the `docker-compose.yml` in the past.

After adding

[2017-03-21 22:01] #696 closed

[2017-03-22 14:18] Mahmoudz commented on #698
@neangkakada @neangkakada the `.env` file was introduced in v5. We didn't have it before. I add it to make editing the environment faster. You don't have to search in the docker-compose file anymore. You just edit the `.env` and it will take care of everything. Also you can have multiple `.env` in each projects.. you can be creative here. Best,

[2017-03-22 14:18] #698 closed

[2017-03-22 14:19] #705 closed

[2017-03-22 16:57] maurosbu opened #706 "YARN_VERSION from wrong variable"
https://github.com/laradock/laradock/blob/master/docker-compose.yml#L35

I should be
\- YARN_VERSION=${WORKSPACE_YARN_VERSION}

[2017-03-23 07:04] zeroc0d3 opened #707 "Load balancer using Haproxy & Varnish"
Need to review test for load balancer on my local branch ["proxy"](https://github.com/zeroc0d3/docker-laradock/tree/proxy)

Changing :
1) Varnish dockerfile
2) Haproxy dockerfile
3) Change the network setup on docker-compose.yml
4) Add variable environment Varnish & Haproxy on env-example file

[2017-03-23 08:14] thorerik commented on #706
Yeah, It was fixed in #701, reverted by #662 🤦‍ I'll get a new PR up soon

[2017-03-23 08:20] thorerik commented on #681
Does this happen outside laradock?

It looks to be an error in his code where he's incorrectly using the namespace before imap_open(), hence the full error showing the namespace before imap_open(), if imap_open was the failure, you'd see
[code]

[2017-03-23 08:26] thorerik commented on #695
try re-running it, I'm unable to reproduce the issue, and considering the error it sounds like the issue could be that the repository was unavailable.

If you're still having issues, check that you can reach http://dl.hhvm.com/ubuntu/dists/trusty/

You should see a bunch of files, among them Release, Release.gpg and InRelease

[2017-03-23 08:39] thorerik commented on #634
Are you still experiencing this issue?

What do you get if you do `curl -IL https://packagist.org/packages.json` in the container? On the host?

Can you try running `composer self-update`?

[2017-03-23 08:41] lab1353 commented on #681
No, out laradock works perfectly, in different environments.
To find out if it was a code problem or not, I tried to make a simple php page, but it does not work. And the file is a simple php page with only the calls necessary `imap_`
The same code with Laravel both the php file, out Laradock, work properly without problems.
The php page code is:
[code]

[2017-03-23 08:43] thorerik commented on #681
I hope you didn't just post your actual password @lab1353, even if everything else is obfuscated, suggest changing it ;)

OT: I'll have a poke at it and see if I can replicate the issue

[2017-03-23 08:53] thorerik commented on #681
Quick test both with your provided script and ```
<?php
if (function_exists('imap_open')) {
    echo "IMAP functions are available.<br />\n";
} else {
    echo "IMAP functions are not available.<br />\n";
}
[code]

[2017-03-23 08:59] lab1353 commented on #681
Yes yes @thorerik....the data are fake, thanks ;)
Now I try as you suggested and let you know if it works.
Thanks :)

[2017-03-23 15:22] berdam opened #709 "Recompile PHP with --enable-calendar"
Certain functions like cal_days_in_month() are not available with default config, because of missing calendar support.

Solution is probably to recompile php with --enable-calendar option according to this:
http://stackoverflow.com/a/9240933

Any ideas how to do that?

[2017-03-23 15:29] alchimik commented on #709
You can add line `RUN docker-php-ext-install calendar` in file `php-fpm/Dockerfile-70`

[2017-03-23 15:45] berdam commented on #709
Works! Thank you!

[2017-03-23 15:45] #709 closed

[2017-03-24 01:27] tblancog opened #710 "LDAP support"
How can I enable **extension=php_ldap.dll** in **php.ini** file?
Tried to do it by entering in the workspace container and uncommenting that line but it didn't work.
Any ideas?

[2017-03-24 07:19] Maras0830 opened #711 "apt-get install in workspace."
I write workspace/Dockerfile like this:

[code]

and also rebuild workspace, I also exec bash to check command version in workspace.

[code]

but when application exec `exec(/usr/bin/pngquant)` that will return `Command "/usr/bin/pngquant" not found.`

[2017-03-24 08:01] Maras0830 commented on #711
I fixed this question.

I write apt-get install in php-fpm/Dockerfiles, and rebuild, it works now.

[2017-03-24 08:01] #711 closed

[2017-03-24 11:01] ntopulos commented on #705
@mitjarobic I tried removing all images, recloning laradock and rebuilding containers, but I still get this php-upstream error.
Could you please show your configuration files?

[2017-03-24 15:12] jcorry commented on #625
@Mahmoudz I get a 404 at that URL

[2017-03-24 15:44] cabrerabywaters commented on #710
@tblancog  Easiest way to do it is by using docker-php
`docker-php-ext-configure ldap --with-libdir=lib/x86_64-linux-gnu/ && \
     docker-php-ext-install ldap`
should do the trick

I responded to your question also in [](https://github.com/laradock/laradock/pull/671)

Make sure to use those env variables to trigger the install ;)

[2017-03-24 16:31] tblancog commented on #710
Thanks for the reply @cabrerabywaters. Where do I have to add that? Do I install docker-php? or inside laradock container?, sorry but i'm kind of newbie using docker and docker-compose

[2017-03-24 16:44] cabrerabywaters commented on #710
@tblancog  No problem!...If you cannot wait until the pull request gets merge into the master branch..I would recommend just doing a quick change to the Dockerfile (laradock/php-fpm/Dockerfile-70) ...just forget about the env variables and paste the following code in line 17 after de maintainer statement.

``
RUN apt-get update && \
     apt-get install libldap2-dev -y && \
     docker-php-ext-con

[2017-03-24 17:10] CharlieTapSonin opened #713 "PHPUnit not working on the workspace container"
Any combination of:
phpunit
./vendor/bin/phpunit
/vendor/bin/phpunit

all results in no such file or directory

[2017-03-24 17:13] CharlieTapSonin opened #714 "Workspace container Dockerfile-71 is just a placeholder"
There is also no env variable to change it. If you're looking for a base image I copied your original docker file and replaced the base image with alivecorpse/workspace:7.1 and it worked just fine.

[2017-03-24 17:50] thorerik commented on #713
How about `~/.composer/vendor/bin/phpunit`?

[2017-03-24 18:59] tblancog commented on #710
Tried whtat  you said and I got this weird error when building the package..
[code]
I guess I'll wait for the PR to merge,
Thanks a lot @cabrerabywaters .

[2017-03-24 19:34] CharlieTapSonin commented on #713
No luck unfortunately

[2017-03-24 19:38] jcorry commented on #607
@mikeerickson I am eager to see this when you get it completed (or even ready for beta testing/review).

[2017-03-24 20:20] cabrerabywaters commented on #710
@tblancog I just give it a try and actually received the same message.
<img width="1370" alt="screenshot 2017-03-24 17 11 32" src="https://cloud.githubusercontent.com/assets/3051507/24311993/5ab1d150-10b5-11e7-963d-de3bae648a8b.png">

but then the build continue with no problem...
<img width="1323" alt="screenshot 2017-03-24 17 12 04" src="https://cloud.githubusercontent.com/assets/3051507/2431202

[2017-03-25 01:37] mikesir87 commented on #583
Yeah... it's related to intro of the "proper creation of mysql user" in commit 4ef5db3713b76f33bfaf54afeeca9a9a46c84421. However, the problem is that there's no need to do it this way as the default `mysql:5.7` image being used provides all the support here. If the mysql service were to migrate back, it would work as intended.

I agree the PR #649 is the correct approach to resolving this.

[2017-03-25 16:52] andr2k commented on #657
This it is not a bug: https://github.com/docker/docker/issues/31689

[2017-03-25 20:55] #706 closed

[2017-03-25 21:50] jschaftenaar opened #716 "Change Apache2 document root"
I am running multiple laradock instances but I noticed on one of my apps it is pointing to /var/www and not /var/www/public as it should. Where can I change this setting?

[2017-03-25 21:56] #716 closed

[2017-03-26 01:29] zeroc0d3 commented on #707
How to run?
docker-compose build && docker-compose up -d nginx mysql hhvm balancer proxy proxy2 phpmyadmin

[2017-03-26 04:39] a-h-abid opened #718 "[Question] Is there benefit using PHP-PM with docker/laradock?"
None from gitter.im answered my question so asking here.

I see this [PHP-PM](https://github.com/php-pm/php-pm) thing saying that it improves performance by a lot. I guess that If I use it directly on my machine that it would have high performance. But since I'm using laradock, there might be performance issue or I may not get that benefit that it claims.

So want to know is it going to be any use

[2017-03-26 05:33] infacq commented on #703
<img width="205" alt="screen shot 2017-03-26 at 12 52 09 pm" src="https://cloud.githubusercontent.com/assets/1596891/24328892/b5785c84-1228-11e7-948a-a47cafa5f5fc.png">

[2017-03-27 10:08] thorerik commented on #718
php-pm is highly experimental, it works by essentially pre-initializing the framework and serving each request on it's own through the pipeline of $framework (laravel/silex/symfony/insert other supported framework here).

The downside is that it will exasperate any memory leaks, since the process never ends (iirc. doctrine isn't all that great at cleaning up after itself for example).

From a tech

[2017-03-27 11:08] KyawNaingTun opened #719 "Neo4j auth error"
Hello everybody
Please help me. I can't login to neo4j server(http://localhost:7474) and then Neo4j version is out of date. So, how can i upgrade neo4j version(3)?
 My console error message is follow:
`http://beatnana.docker.dev:7474/db/data/ Failed to load resource: the server responded with a status of 401 (Unauthorized)`
![neo4j](https://cloud.githubusercontent.com/assets/6079250/24353534/03005

[2017-03-27 14:50] a-h-abid commented on #718
I see. Thanks for the answer @thorerik .

I think I'll try to check it myself sometime later as an experiment and see what it does. It is would be nice if this progresses further and becomes stable to use in our applications.

For now, I'll stick to using load balancer.

[2017-03-27 14:53] nozreh opened #720 "Class mysqli is not installed"
Hi,

I have followed all the instructions properly and able to setup the server and php-fpm but I'm stuck with the error Class 'mysqli' is not found, I have enabled it in the .env file already and set the

PHP_FPM_INSTALL_MYSQLI=true

I have tried using php 5.6, 7.0 version and I can see that the mysqli.ini is present in the etc/php/7.0/mods_available folder but, I kept getting the same error.

I

[2017-03-27 17:26] hidace opened #721 "How to set php max file size?"
HI,

I'm using Laradock with Craft CMS. I'm trying to upload a file that's 70MB, but am getting a

`file could not be uploaded, because it exceeds the maximum upload size of 16.0 MB.`

Where can I update this in Laradock? I thought it might be in the laradock/php-fpm/laravel.ini file. Here's what mine looks like now:

[code]

After updating, I stopped all containers and re-started them. Is there a

[2017-03-27 19:35] hidace commented on #721
**SOLVED:**

So I got this working. What I had to do is also adjust my nginx configuration (in the `laradock/nginx/nginx.conf` file) by extending the `keepalive_timeout 120` (originally it was set to 15). So my `nginx.conf` file now looks like this:
[code]

After doing this (and updating my laravel.ini settings from the post above), I stopped all running containers from the `laradock` directory by

[2017-03-27 19:35] #721 closed

[2017-03-28 07:46] thorerik commented on #713
How did you install phpunit?

[2017-03-28 15:56] sid606 opened #722 "mysql_connect adapter?"
Hi I have legacy project that run on php 5.6 but the tricky part is that it need mysql_connect() to work. Is there any way to enable this in laradock with apache2 php-fpm  mysql redis?

I added this `docker-php-ext-install mysql` but still no luck

[2017-03-28 16:13] alchimik commented on #722
`docker-php-ext-install mysql` work fine for me
Don't forget to rebuild the image - `docker-compose build --no-cache php-fpm`
Which file you edit?

[2017-03-28 17:41] markhilton opened #723 "YARN version"
docker-compose.yml workspace pulls variable for YARN version from timezone

YARN_VERSION=${WORKSPACE_TIMEZONE}

and if .env WORKSPACE_INSTALL_YARN=true then during build process throws an error:

I've created a new environment variable: WORKSPACE_YARN_VERSION=latest and used it in docker-compose.yml and that fixed the issue.

[2017-03-28 18:05] thorerik commented on #723
Make sure you've pulled the latest version, it was fixed with 894cb6ea270db0f4975156182e0af1638d729664

[2017-03-28 19:15] sid606 commented on #722
I edit Dockerfile-56 and added
`ARG INSTALL_MYSQL=true
RUN if [ ${INSTALL_MYSQL} = true ]; then \
     docker-php-ext-install mysql \
;fi`

after save i run docker-compose build --no-cache php-fpm but no luck

[2017-03-28 20:06] thorerik commented on #719
For updating neo4j, try reverting 06c4c19a6fc7a0f85782002344017bec16f8deff or use the latest tag from the official neo4j image.

[2017-03-29 10:29] #707 closed

[2017-03-29 11:04] ntopulos opened #724 "workspace and php-fpm should run the same PHP version"
The workspace and php-fpm do not run the same PHP version:

    workspace: PHP 7.0.14-2+deb.sury.org~xenial+1
    php-fpm: PHP 7.0.9 (cli) (built: Aug 10 2016 19:45:48)

It means that if one uses the workspace container - as intended - to execute `composer` commands, the installed dependencies will then be executed on another version of PHP.

I haven't yet found out how to configure both images to

[2017-03-30 11:26] suncoastkid opened #725 "gulp watch not working in workspace"
Running `gulp watch` in workspace does not work with Dockerfile-70. It compiles once when called but never detects changes. Running `gulp` manually after every change is painful.

[2017-03-30 20:47] suncoastkid commented on #725
Turned out to be an IDE bug. All good.

[2017-03-30 20:47] suncoastkid commented on #725
Turned out to be an IDE bug. All good.

[2017-03-30 20:47] #725 closed

[2017-03-30 23:41] SolidRhino commented on #558
Nice idee! Plus 1 for this option!!

[2017-03-31 09:29] g0ld3lux commented on #558
Ill try to give it a spin to spin a container like this one for the workspace that you can have option to use ZSH

[2017-03-31 09:47] RaffaeleT opened #728 "php artisan error AppNamespaceDetectorTrait not found"
Hallo
I installed laradock within an application developed on L5.4.
When I issue `php artisan` in a workspace bash:
- if the Laravel .env is not present in the project directory (as by default when it is cloned at first), every php artisan command runs fine
- when I create the .env, for every php artisan command issued I get this error:
`PHP Fatal error:  Trait 'Illuminate\Console\AppNamespaceDete

[2017-04-01 21:07] mitjarobic commented on #705
@ntopulos settings are default...haven't changed a line. But when it happens, i need to restart my computer.

[2017-04-02 02:11] nozreh commented on #720
There's an error in the X-Debug install script that causing the other services to be installed I will close this.

[2017-04-02 02:11] #720 closed

[2017-04-03 02:17] gufoe opened #731 "php-worker config file is broken"
Hello, the the php-worker [supervisor.conf](https://github.com/laradock/laradock/blob/master/php-worker/supervisord.conf) file has hardcoded references to the folder `/var/www/laravel/artisan` while it should just be `/var/www/artisan`

[2017-04-03 07:39] novalis111 opened #733 "xdebug on Mac needs nginx REMOTE_ADDR set"
I tried to get xdebug working on a Mac, setting my local IP (192.168.1.51) as DOCKER_HOST_IP in .env. Remote Debugging on CLI worked, but Web Debug did not.

- xdebug IDE key = PHPSTORM
- xdebug.remote_autostart=1 + xdebug.remote_enable=1

But xdebug wouldn't connect to the docker host. The problem is in the nginx server config, where you have to pass the IP of the host as REMOTE_ADDR:

<pre><code

[2017-04-03 10:21] ihd2911 opened #734 "Add image magick and EXIF"
I need image magick for my project.
Can anyone let me know how can i setup image magick with laradock? I am using nginx, mysql and php-fpm.

[2017-04-03 10:24] ihd2911 commented on #530
Not working, i tried it but images are still not generated

[2017-04-03 13:59] Mahmoudz commented on #724
That looks a nice idea, thanks for the suggestion. Would you mind submitting a PR?

[2017-04-03 14:00] #723 closed

[2017-04-03 14:03] Mahmoudz opened #735 "CI integration to auto-generate the Hugo docs"
Noticed the contributions to the docs became so slow, after moving to hugo... Would cool if anyone can find a good CI service to build the site automatically after each commit. This way users will only update the text in the markdown files without worrying about regenerating the site.

[2017-04-03 19:22] vitoo opened #736 "Can't connect to mariadb"
Hello,

I can't make mariadb work with laradock v5.0.3, with stock docker-compose.yml  and  .env

It works with mysql throug adminer (host: mysql, port: 3306, root/root)  and inside the mysql container.

But i can't connect to mariadb from adminer : (host: mariadb, port: 3306, root/root)
`SQLSTATE[HY000] [1045] Access denied for user 'root'@'172.18.0.4' (using password: YES)`

And even inside the

[2017-04-03 21:59] winfried-van-loon commented on #736
Within the dotenv file, you can still use the `MARIADB_USER` user and password. I'm having the same issue with the root user. There seems to be a problem in the config file: https://github.com/laradock/laradock/blob/master/docker-compose.yml#L207

[2017-04-04 02:11] Mahmoudz commented on #736
Closed #737 by @winfried-van-loon. Thanks,

[2017-04-04 02:11] #736 closed

[2017-04-04 05:06] winfried-van-loon commented on #736
@Mahmoudz I'm afraid it was only part of the solution, with the fixes included I wasn't able to actually connect. Could you give it a try?

[2017-04-04 10:20] ihd2911 commented on #734
I have added following in the php-fpm
RUN apt-get update && apt-get install -y \
  git libmagick++-dev \
  --no-install-recommends && \
  git clone https://github.com/mkoppanen/imagick.git && \
  cd imagick && git checkout phpseven && phpize && ./configure && \
  make && make install && \
  docker-php-ext-enable imagick && \
  cd ../ && rm -rf imagick

Now i am getting error Call to undefined func

[2017-04-04 11:27] vitoo commented on #736
Maybe the issue is due to the volume ?
The same volume are mounted on the host machine ?

`/var/lib/mysql
`

[2017-04-04 11:32] winfried-van-loon commented on #736
Well, the "default" user does work, so I doubt it's in the network or connectivity of the volumes. I've checked the `docker-compose.yml` for related issues, haven't found any. Good idea, though!

[2017-04-04 11:48] winfried-van-loon commented on #736
May be related to https://github.com/docker-library/mariadb/issues/21 and a possible temp solution could be to reset the root user password until we find the real problem&solution: https://github.com/docker-library/mariadb/issues/99

[2017-04-04 12:42] vitoo commented on #736
Yes we need to reset the mariadb volume for sure

[2017-04-04 13:21] ihd2911 commented on #734
Worked with above commands.
Should be documented if not.

[2017-04-04 13:21] #734 closed

[2017-04-04 16:33] gazatem commented on #683
Same error occurring with fresh installation

[2017-04-04 17:51] garlian opened #739 "Credentials from env not applied to mariadb"
It seems like the mariadb doesnt recognize the .env file which i copied from env-example, everthing is build up fine if I start my nginx and mariadb via docker-compose but if I access the mariadb container and try to access the db via:
`mysql -u root -p default`

It always tell me access denied. I tried to rebuild, I tried different default credentilas, nothing worked. On the other side if I use m

[2017-04-04 21:50] winfried-van-loon commented on #739
This may be a duplicate of #736 which wasn't fully fixed.

[2017-04-05 00:42] Mahmoudz commented on #683
@gazatem are you sure you have your `.env` file and you are getting this error? If yes please share your error.

[2017-04-05 00:44] Mahmoudz commented on #722
Closed by @winfried-van-loon #738

[2017-04-05 00:44] #722 closed

[2017-04-05 00:45] #724 closed

[2017-04-05 00:46] #714 closed

[2017-04-05 00:47] Mahmoudz commented on #739
@garlian this should be solved, please update your Laradock and don't forget to rebuild your containers after every update.
@winfried-van-loon Thanks for your help :)

[2017-04-05 00:47] #739 closed

[2017-04-05 03:04] hounded commented on #645
Hey nice work @cabrerabywaters I have got the container running and have pdo_sqlsrv and sqlsrv, however  I can not get the dblib working, any suggestions ?

[2017-04-05 06:09] wanfeiyy opened #746 "[emerg] 1#1: open() "/var/log/nginx/access.log" failed (13: Permission denied)"
I'm using docker for CentOS7
when I run ```docker-compose up -d nginx mysql redis```
[code]
nginx doesn't work
when run ```docker-compose up nginx```
it shows
[code]

[2017-04-05 07:21] gazatem commented on #697
Still same. I think docker compose can not read from .env file

I'm using imac with zssh. I able to run other dockers without any error.

[2017-04-05 07:51] winfried-van-loon commented on #746
Have you updated to the latest version of Laradock? It may have been already fixed in commit 585baf06

[2017-04-05 09:01] garlian commented on #739
Tried the same procedure again after pulling the latest updates, no success.

I removed container and images completely, rebuild everything from scratch but still no access. Maybe a Windows thing?

My process:
`docker-compose up -d nginx mariadb`
`docker exect -it laradock_mariadb_1 bash`
`mysql -u root -p default` after prompt entering my credential password, which I set in my .env file

btw: The

[2017-04-05 09:23] winfried-van-loon commented on #739
It didn't work for me as well. However, I've just now completely removed all of my Docker stuff: Images, containers, volumes - everything. Docker for Mac has a handy "Reset to factory defaults" button, which does that process automatically. I've then used the following command to bring up Apache2 with MariaDB:

[code]

Which worked. (with a bunch of warnings, will put in some more pull requests in

[2017-04-05 09:26] winfried-van-loon commented on #736
You're right. After removing everything, it worked. Apparently I didn't remove everything in my last test. Thanks for your help @vitoo

[2017-04-05 09:30] vitoo commented on #736
Great, so it's fixed now

[2017-04-05 09:38] winfried-van-loon opened #747 "Error in php-fpm ZIP ext"
My environment:

- MacOS 10.12.4
- Docker for Mac Community 17.03.1-ce-mac5 (16048)
- Using [d4m-nfs](https://github.com/IFSight/d4m-nfs)

To reproduce the issue:

- Set `PHP_VERSION=56`
- Set workspace Dockerfile to 70 to avoid those errors: `dockerfile: "Dockerfile-70"`
- Using the following command:

[code]

Related output will be the following, containing the error.

[code]

Any idea's where t

[2017-04-05 09:43] winfried-van-loon opened #748 "Workspace php56"
Currently, the workspace Dockerfile outputs a bunch of errors when installing using env `PHP_VERSION` set to `56`, I think most of them have to do with the paths used, however I don't know how to correct them. One of the first ones to fail is (by enabling it in the .env first, of course):

https://github.com/laradock/laradock/blob/master/workspace/Dockerfile-56#L64

[code]

[2017-04-05 10:07] shemayas opened #749 "Time out in the first docker-compose up"
Hi,
For the first time after cloning the project with `git submodule` I ran the command `docker-compose up -d nginx mysql` I get a time out and some errors:

![image](https://cloud.githubusercontent.com/assets/11064714/24700599/4813126c-1a00-11e7-81e0-b557c0e5797c.png)

 ---> Running in 02eafdf2fe66
fetch http://mirrors.aliyun.com/alpine/v3.4/main/x86_64/APKINDEX.tar.gz
ERROR: http://mirrors.aliyu

[2017-04-05 10:30] garlian commented on #739
Okay, I tried the same solution, after some little hiccups I can now enter mariadb. But to reset to factory defaults is a little bit overkill, isn't it? I think the volume has been the Problem, since images and containers have been rebuild before. I'm not very experienced with docker, will the .env file only be loaded once during build process or everytime I boot up the container?

I noticed that

[2017-04-05 11:04] Yangwendaxia commented on #505
@sc10n I have the same issue.Have you solved it ?

[2017-04-05 11:16] winfried-van-loon commented on #749
It looks like the mirror was down for you at the time of posting. It seems to be up from my location right now. Could you try again?

[2017-04-05 11:21] shemayas commented on #749
Still stuck :(

![image](https://cloud.githubusercontent.com/assets/11064714/24703232/100bec4e-1a0b-11e7-8ffc-dd308b3310ef.png)